Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix"
  ],
  "*.md": [
    "markdownlint --fix"
  ]
}

docs: Update project log with commit hash for session 2025-12-22-03
  docs/project_log.md
Due: markdownlint --fix

fix: Phase 1 - Fix TypeScript linting errors in providers and utils
  src/providers/BaseAttachmentProvider.ts
  src/providers/BaseAuditProvider.ts
  src/providers/BaseCacheProvider.ts
  src/providers/BasePageProvider.ts
  src/providers/BaseSearchProvider.ts
  src/providers/BaseUserProvider.ts
  src/providers/CloudAuditProvider.ts
  src/providers/DatabaseAuditProvider.ts
  src/providers/LunrSearchProvider.ts
  src/providers/NodeCacheProvider.ts
  src/providers/NullAuditProvider.ts
  src/providers/NullCacheProvider.ts
  src/providers/VersioningFileProvider.ts
  src/utils/final-validation.ts
Due: eslint --fix

docs: Update project log with session 2025-12-22-04 - Phase 1 complete
  docs/project_log.md
Due: markdownlint --fix

fix: Phases 2 & 3 - ES6 imports and type safety fixes
  src/utils/logger.ts
  src/utils/sessionUtils.ts
Due: eslint --fix

docs: Add session 2025-12-22-05 - TypeScript migration analysis and issue linking
  docs/project_log.md
Due: markdownlint --fix

feat: Convert BaseManager to TypeScript and add WikiEngine types - Issue #145
  src/managers/BaseManager.ts
  src/types/Provider.ts
  src/types/WikiEngine.ts
  src/types/index.ts
Due: eslint --fix

docs: Add session 2025-12-22-06 - BaseManager converted to TypeScript
  docs/project_log.md
Due: markdownlint --fix

feat: Convert ConfigurationManager to TypeScript - Issue #145
  src/managers/ConfigurationManager.ts
Due: eslint --fix

docs: Add session 2025-12-22-07 - ConfigurationManager converted
  docs/project_log.md
Due: markdownlint --fix

feat: Convert PageManager to TypeScript - Issue #145
  src/managers/PageManager.ts
Due: eslint --fix

docs: Add session 2025-12-23-01 - PageManager converted to TypeScript
  docs/project_log.md
Due: markdownlint --fix

feat: Convert UserManager to TypeScript - Issue #145
  src/managers/UserManager.ts
Due: eslint --fix

docs: Add session 2025-12-23-02 - UserManager converted to TypeScript
  docs/project_log.md
Due: markdownlint --fix

feat: Convert ACLManager to TypeScript - Issue #145
  src/managers/ACLManager.ts
Due: eslint --fix

docs: Add session 2025-12-23-03 - ACLManager converted to TypeScript
  docs/project_log.md
Due: markdownlint --fix

feat: Convert PolicyManager to TypeScript - Issue #145
  src/managers/PolicyManager.ts
Due: eslint --fix

docs: Add session 2025-12-23-04 - PolicyManager converted to TypeScript
  docs/project_log.md
Due: markdownlint --fix

feat: Convert PolicyEvaluator to TypeScript - Issue #145
  src/managers/PolicyEvaluator.ts
Due: eslint --fix

docs: Add session 2025-12-23-05 - PolicyEvaluator converted
  docs/project_log.md
Due: markdownlint --fix

feat: Convert NotificationManager and SchemaManager to TypeScript - Issue #145
  docs/project_log.md
  src/managers/NotificationManager.ts
  src/managers/SchemaManager.ts
Due: eslint --fix, markdownlint --fix

docs: Add commit hash to session 2025-12-23-06
  docs/project_log.md
Due: markdownlint --fix

feat: Convert VariableManager and CacheManager to TypeScript - Issue #145
  src/managers/CacheManager.ts
  src/managers/VariableManager.ts
Due: eslint --fix

docs: Add session 2025-12-23-07 - VariableManager and CacheManager converted
  docs/project_log.md
Due: markdownlint --fix

fix: Resolve TypeScript errors in VariableManager.ts
  src/managers/VariableManager.ts
Due: eslint --fix

docs: Update session 2025-12-23-07 with fix commit
  docs/project_log.md
Due: markdownlint --fix

fix: Properly resolve TypeScript startTime property error
  src/managers/VariableManager.ts
Due: eslint --fix

docs: Update session with final TypeScript fix commit
  docs/project_log.md
Due: markdownlint --fix

feat: Convert PluginManager to TypeScript - Issue #145
  src/managers/PluginManager.ts
Due: eslint --fix

docs: Add session 2025-12-23-08 - PluginManager converted, 50% milestone achieved!
  docs/project_log.md
Due: markdownlint --fix

feat: Convert BackupManager to TypeScript - Issue #145
  src/managers/BackupManager.ts
Due: eslint --fix

feat: Convert ExportManager to TypeScript - Issue #145
  src/managers/ExportManager.ts
Due: eslint --fix

docs: Add sessions 2025-12-23-09 and 2025-12-23-10 - BackupManager and ExportManager TypeScript conversions
  docs/project_log.md
Due: markdownlint --fix

feat: Convert AttachmentManager to TypeScript - Issue #145
  src/managers/AttachmentManager.ts
Due: eslint --fix

feat: Convert ValidationManager to TypeScript - Issue #145
  src/managers/ValidationManager.ts
Due: eslint --fix

docs: Add sessions 2025-12-23-11 and 2025-12-23-12 - AttachmentManager and ValidationManager conversions
  docs/project_log.md
Due: markdownlint --fix

feat: Convert TemplateManager to TypeScript - Issue #145
  docs/project_log.md
  src/managers/TemplateManager.ts
Due: eslint --fix, markdownlint --fix

docs: Add commit hash to session 2025-12-26-01
  docs/project_log.md
Due: markdownlint --fix

feat: Convert AuditManager to TypeScript - Issue #145
  docs/project_log.md
  src/managers/AuditManager.ts
Due: eslint --fix, markdownlint --fix

docs: Add commit hash to session 2025-12-26-02
  docs/project_log.md
Due: markdownlint --fix

feat: Convert PolicyValidator to TypeScript - Issue #145
  docs/project_log.md
  src/managers/PolicyValidator.ts
Due: eslint --fix, markdownlint --fix
