Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix"
  ],
  "*.md": [
    "markdownlint --fix"
  ]
}

fix: formatDateWithPattern() now renders HH/mm/ss time tokens (#341)
  config/app-default-config.json
  docs/project_log.md
  package.json
  src/utils/LocaleUtils.ts
Due: eslint --fix, markdownlint --fix

feat: version.ts --release and --tag-only flags (#365)
  CHANGELOG.md
  config/app-default-config.json
  docs/project_log.md
  package.json
  src/utils/__tests__/version.test.js
  src/utils/version.ts
Due: eslint --fix, markdownlint --fix

feat: replace plexignore sentinel with .ngdpbaseignore pattern file and ngdpbaseignore EXIF keyword (#342)
  CHANGELOG.md
  config/app-default-config.json
  docs/providers/FileSystemMediaProvider.md
  package.json
  required-pages/d14ef7c7-299a-4729-a457-452679569ca9.md
  src/managers/MediaManager.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for #342 ngdpbaseignore feature
  docs/project_log.md
Due: markdownlint --fix

feat: admin/required-pages title drift detection, push-to-source, and edit warning (#362)
  CHANGELOG.md
  config/app-default-config.json
  package.json
  src/routes/WikiRoutes.ts
  views/admin-required-pages.ejs
  views/edit.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for #362 required-pages enhancements
  docs/project_log.md
Due: markdownlint --fix

fix: strip user-modified from required-pages source on push-to-source
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs(ui): warn about product-update overwrite risk on required-pages sync (#362)
  views/admin-required-pages.ejs
Due: none

docs: add extensions config entry to FileSystemMediaProvider docs (#325)
  docs/providers/FileSystemMediaProvider.md
Due: markdownlint --fix

feat: collapsible letter sections in IndexPlugin (#363)
  CHANGELOG.md
  config/app-default-config.json
  package.json
  plugins/IndexPlugin.ts
  plugins/__tests__/IndexPlugin.test.js
Due: eslint --fix, markdownlint --fix

docs: update project log for #325 and #363
  docs/project_log.md
Due: markdownlint --fix

feat: SessionsPlugin property=users shows active authenticated users (#330)
  CHANGELOG.md
  config/app-default-config.json
  package.json
  plugins/SessionsPlugin.ts
  plugins/__tests__/SessionsPlugin.test.js
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for #330 SessionsPlugin property=users
  docs/project_log.md
Due: markdownlint --fix

feat: Page Statistics in Info dropdown (#340)
  CHANGELOG.md
  config/app-default-config.json
  package.json
  src/routes/WikiRoutes.ts
  views/header.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for #340 page statistics
  docs/project_log.md
Due: markdownlint --fix

fix: import execute SSE parsing + check for updates (#241, #156)
  CHANGELOG.md
  config/app-default-config.json
  package.json
  src/routes/WikiRoutes.ts
  views/admin-dashboard.ejs
  views/admin-import.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for quick wins session
  docs/project_log.md
Due: markdownlint --fix

feat: wire ThemeManager into all page renders and add volcano theme (#350)
  docs/project_log.md
  src/routes/WikiRoutes.ts
  themes/core.css
  themes/volcano/assets/favicon.svg
  themes/volcano/css/variables.css
  themes/volcano/theme.json
Due: eslint --fix, markdownlint --fix

docs: update project log for #350 core theming system
  docs/project_log.md
Due: markdownlint --fix

fix: clarify theme switching is live (no restart needed), fix misleading read-only note
  views/admin-settings.ejs
Due: none

fix: un-nest theme form from read-only div — nested forms are invalid HTML, browser was submitting outer form (GET) instead of POSTing to /admin/settings/theme
  views/admin-settings.ejs
Due: none

fix: remove stale 'restart required' from theme update success message
  src/routes/WikiRoutes.ts
Due: eslint --fix

feat: make general settings editable in admin UI with restart dialog
  src/routes/WikiRoutes.ts
  views/admin-settings.ejs
Due: eslint --fix

feat: align theme vars with Bootstrap 5 native CSS variables (#368)
  themes/core.css
Due: none

feat: Bootstrap 5.3.3 upgrade + align CSS vars with Bootstrap native vars (#368)
  docs/project_log.md
  src/managers/ThemeManager.ts
  src/routes/WikiRoutes.ts
  themes/core.css
  themes/default/css/variables.css
  themes/volcano/css/variables.css
  views/admin-audit.ejs
  views/admin-policies.ejs
  views/footer.ejs
  views/header.ejs
  views/maintenance.ejs
  views/reader.ejs
Due: eslint --fix, markdownlint --fix

fix: edit/create/search/history/diff pages now use active theme
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix: active theme ignored on edit/create/search pages; ThemeManager crash on non-string input
  docs/project_log.md
  src/managers/ThemeManager.ts
Due: eslint --fix, markdownlint --fix

test: fix and re-enable skipped test suites for MarkupParser and Versioning
  src/parsers/__tests__/MarkupParser-Comprehensive.test.js
  src/parsers/__tests__/MarkupParser-Config.test.js
  src/parsers/__tests__/MarkupParser-DOMNodeCreation.test.js
  src/parsers/__tests__/MarkupParser-EndToEnd.test.js
  src/parsers/__tests__/MarkupParser-Extraction.test.js
  src/parsers/__tests__/MarkupParser-MergePipeline.test.js
  src/parsers/__tests__/MarkupParser-ModularConfig.test.js
  src/parsers/__tests__/MarkupParser-Performance.test.js
  src/parsers/__tests__/MarkupParser.test.js
  src/providers/__tests__/VersioningFileProvider-Maintenance.test.js
  src/providers/__tests__/VersioningFileProvider.test.js
  src/utils/__tests__/VersioningMigration.test.js
Due: none

docs: update project log for test suite recovery (2026-03-23-14)
  docs/project_log.md
Due: markdownlint --fix

feat: addon stylesheet hook, per-theme partial overrides, /addons static route (#350)
  app.js
  docs/theming.md
  src/managers/AddonsManager.ts
  src/routes/WikiRoutes.ts
  views/header.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for #350 addon stylesheet hook and partial overrides
  docs/project_log.md
Due: markdownlint --fix

fix: pageName missing from page-history render; bump to v3.0.0
  CHANGELOG.md
  config/app-default-config.json
  package.json
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for v3.0.0 and E2E fix (2026-03-23-16)
  docs/project_log.md
Due: markdownlint --fix

feat: section editing for wiki pages (#138)
  src/routes/WikiRoutes.ts
  src/utils/SectionUtils.ts
  src/utils/__tests__/SectionUtils.test.js
  views/edit.ejs
  views/profile.ejs
  views/view.ejs
Due: eslint --fix

docs: update project log for #138 section editing (2026-03-23-17)
  docs/project_log.md
Due: markdownlint --fix

feat: mobile improvements — swipe navigation, responsive search, sort dropdowns (#367)
  docs/project_log.md
  views/header.ejs
  views/media-item.ejs
  views/media-keyword.ejs
  views/media-search.ejs
  views/media-year.ejs
Due: markdownlint --fix

chore: bump version to 3.0.1
  CHANGELOG.md
  config/app-default-config.json
  package.json
Due: markdownlint --fix

fix: CI workflow failures — build step and page history error handling
  .github/workflows/ci-passing-tests.yml
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix: hamburger now opens left menu on mobile (#367)
  views/header.ejs
Due: none

fix: sidebar hamburger works on mobile (#367)
  public/css/style.css
  views/header.ejs
Due: none
