Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix"
  ],
  "*.md": [
    "markdownlint --fix"
  ]
}

fix(security): update qs to 6.14.1 for CVE-2025-15284
  package-lock.json
Due: none

fix: complete TypeScript strict mode - zero errors
  docs/project_log.md
  package-lock.json
  package.json
  src/managers/ConfigurationManager.ts
  src/managers/PageManager.ts
  src/managers/PluginManager.ts
  src/managers/PolicyEvaluator.ts
  src/managers/PolicyValidator.ts
  src/managers/ValidationManager.ts
  src/parsers/dom/DOMBuilder.ts
  src/parsers/dom/DOMParser.ts
  src/parsers/dom/Tokenizer.ts
  src/parsers/handlers/HandlerRegistry.ts
  src/providers/FileAuditProvider.ts
  src/providers/FileUserProvider.ts
  src/providers/NodeCacheProvider.ts
  src/utils/VersioningMigration.ts
Due: eslint --fix, markdownlint --fix

chore: remove unused eslint-disable directives
  src/managers/SchemaManager.ts
  src/managers/VariableManager.ts
  src/providers/LunrSearchProvider.ts
  src/utils/SchemaGenerator.ts
  src/utils/VersioningAnalytics.ts
  src/utils/logger.ts
Due: eslint --fix

Modification to eslint operations
  .eslintrc.json
  .prettierrc.json
  docs/project_log.md
  eslint.config.mjs
  package-lock.json
  package.json
Due: markdownlint --fix

npm install --save-dev eslint-formatter-summary
  package-lock.json
  package.json
Due: none

refactor: add generics to engine.getManager<T>() for type safety
  docs/project_log.md
  src/core/Engine.ts
  src/managers/ACLManager.ts
  src/managers/AttachmentManager.ts
  src/managers/AuditManager.ts
  src/managers/BackupManager.ts
  src/managers/BaseManager.ts
  src/managers/CacheManager.ts
  src/managers/ConfigurationManager.ts
  src/managers/ExportManager.ts
  src/managers/NotificationManager.ts
  src/managers/PageManager.ts
  src/managers/PluginManager.ts
  src/managers/PolicyEvaluator.ts
  src/managers/PolicyManager.ts
  src/managers/PolicyValidator.ts
  src/managers/RenderingManager.ts
  src/managers/SchemaManager.ts
  src/managers/SearchManager.ts
  src/managers/TemplateManager.ts
  src/managers/UserManager.ts
  src/managers/ValidationManager.ts
  src/managers/VariableManager.ts
  src/routes/WikiRoutes.ts
  src/types/WikiEngine.ts
  src/utils/logger.ts
Due: eslint --fix, markdownlint --fix

refactor: add typed getManager calls to RenderingManager (#184)
  AGENTS.md
  docs/project_log.md
  src/managers/RenderingManager.ts
Due: eslint --fix, markdownlint --fix

fix: eliminate all 27 no-explicit-any ESLint warnings (#184)
  docs/project_log.md
  src/managers/RenderingManager.ts
  src/providers/BaseAttachmentProvider.ts
  src/providers/BaseAuditProvider.ts
  src/providers/BaseCacheProvider.ts
  src/providers/BaseSearchProvider.ts
  src/providers/BasicAttachmentProvider.ts
  src/providers/CloudAuditProvider.ts
  src/providers/DatabaseAuditProvider.ts
  src/providers/LunrSearchProvider.ts
  src/types/Config.ts
  src/types/Page.ts
  src/types/User.ts
  src/utils/final-validation.ts
Due: eslint --fix, markdownlint --fix

refactor: fix any types in BaseManager and cascade to subclasses
  src/managers/AttachmentManager.ts
  src/managers/BaseManager.ts
  src/managers/ExportManager.ts
  src/managers/TemplateManager.ts
  src/parsers/MarkupParser.ts
Due: eslint --fix

fix: eliminate any types in ConfigurationManager and related managers
  src/managers/BackupManager.ts
  src/managers/ConfigurationManager.ts
  src/managers/NotificationManager.ts
  src/managers/PluginManager.ts
  src/managers/PolicyManager.ts
Due: eslint --fix

Updated vision
  docs/planning/ROADMAP.md
Due: markdownlint --fix

fix: add type assertions for getProperty() return values (#184)
  src/managers/ConfigurationManager.ts
  src/providers/BasicAttachmentProvider.ts
  src/utils/sessionUtils.ts
Due: eslint --fix

fix: resolve TypeScript errors in WikiRoutes.ts (#184)
  src/routes/WikiRoutes.ts
Due: eslint --fix

refactor: replace console.* with logger in parsers/handlers/filters (#202)
  src/parsers/dom/handlers/DOMLinkHandler.ts
  src/parsers/dom/handlers/DOMPluginHandler.ts
  src/parsers/dom/handlers/DOMVariableHandler.ts
  src/parsers/filters/BaseFilter.ts
  src/parsers/filters/FilterChain.ts
  src/parsers/filters/SecurityFilter.ts
  src/parsers/filters/SpamFilter.ts
  src/parsers/filters/ValidationFilter.ts
  src/parsers/handlers/AttachmentHandler.ts
  src/parsers/handlers/BaseSyntaxHandler.ts
  src/parsers/handlers/EscapedSyntaxHandler.ts
  src/parsers/handlers/HandlerRegistry.ts
  src/parsers/handlers/InterWikiLinkHandler.ts
  src/parsers/handlers/LinkParserHandler.ts
  src/parsers/handlers/PluginSyntaxHandler.ts
  src/parsers/handlers/VariableSyntaxHandler.ts
  src/parsers/handlers/WikiFormHandler.ts
  src/parsers/handlers/WikiLinkHandler.ts
  src/parsers/handlers/WikiStyleHandler.ts
  src/parsers/handlers/WikiTableHandler.ts
  src/parsers/handlers/WikiTagHandler.ts
Due: eslint --fix

refactor: complete logger migration for all non-CLI files (#202)
  src/WikiEngine.ts
  src/cache/NodeCacheAdapter.ts
  src/managers/ExportManager.ts
  src/managers/PluginManager.ts
  src/managers/PolicyValidator.ts
  src/managers/RenderingManager.ts
  src/managers/TemplateManager.ts
  src/managers/ValidationManager.ts
  src/parsers/LinkParser.ts
  src/parsers/dom/DOMParser.ts
  src/routes/InstallRoutes.ts
  src/routes/WikiRoutes.ts
  src/services/InstallService.ts
  src/utils/LocaleUtils.ts
  src/utils/SchemaGenerator.ts
Due: eslint --fix

refactor: convert file-level require-await disables to line-level (#202)
  docs/project_log.md
  src/managers/ACLManager.ts
  src/managers/BackupManager.ts
  src/managers/ConfigurationManager.ts
  src/managers/PolicyManager.ts
Due: eslint --fix, markdownlint --fix

fix: reduce no-unsafe-* eslint disables from 73 to 32 (#202)
  src/managers/BackupManager.ts
  src/managers/PolicyManager.ts
  src/managers/SchemaManager.ts
  src/managers/ValidationManager.ts
  src/managers/VariableManager.ts
  src/types/WikiEngine.ts
Due: eslint --fix

docs: update project log for no-unsafe-* fixes
  docs/project_log.md
Due: markdownlint --fix

fix: reduce no-explicit-any and remaining no-unsafe-* disables (#202)
  src/managers/ACLManager.ts
  src/managers/CacheManager.ts
  src/managers/PluginManager.ts
Due: eslint --fix

docs: update project log for no-explicit-any fixes
  docs/project_log.md
Due: markdownlint --fix

fix: remove file-level eslint-disable from ACLManager and PluginManager (#202)
  src/managers/ACLManager.ts
  src/managers/BaseManager.ts
  src/managers/PluginManager.ts
  src/types/WikiEngine.ts
Due: eslint --fix

docs: update project log for eslint-disable cleanup
  docs/project_log.md
Due: markdownlint --fix

fix: remove file-level eslint-disable from SearchManager, PolicyEvaluator, BaseAttachmentProvider (#202)
  src/managers/PolicyEvaluator.ts
  src/managers/SearchManager.ts
  src/providers/BaseAttachmentProvider.ts
Due: eslint --fix

docs: update project log for eslint-disable cleanup session
  docs/project_log.md
Due: markdownlint --fix

refactor: remove file-level eslint-disable from types and utils (#202)
  src/types/Provider.ts
  src/types/express.d.ts
  src/utils/SchemaGenerator.ts
  src/utils/VersioningMaintenance.ts
  src/utils/standardize-categories.ts
  src/utils/version.ts
Due: eslint --fix

refactor: remove file-level eslint-disable from versioning files (#202)
  docs/project_log.md
  src/providers/VersioningFileProvider.ts
  src/utils/VersioningAnalytics.ts
  src/utils/VersioningMigration.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for session 08
  docs/project_log.md
Due: markdownlint --fix

refactor: remove eslint-disable comments from WikiContext and InstallRoutes
  src/context/WikiContext.ts
  src/routes/InstallRoutes.ts
Due: eslint --fix

docs: add explanation comment for DOMBuilder eslint-disable
  src/parsers/dom/DOMBuilder.ts
Due: eslint --fix

refactor: remove @ts-nocheck from WikiRoutes.ts (#202)
  src/routes/WikiRoutes.ts
Due: eslint --fix

refactor: remove @ts-nocheck from WikiRoutes.ts (#204)
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for WikiRoutes.ts refactoring
  docs/project_log.md
Due: markdownlint --fix

refactor: remove eslint-disable comments from PageManager.ts
  src/managers/PageManager.ts
  src/managers/__tests__/PageManager.test.js
  src/types/Provider.ts
Due: eslint --fix

docs: update project log for PageManager.ts refactoring
  docs/project_log.md
Due: markdownlint --fix

refactor: remove eslint-disable comments from RenderingManager.ts and UserManager.ts
  src/managers/RenderingManager.ts
  src/managers/UserManager.ts
Due: eslint --fix

docs: update project log for RenderingManager and UserManager refactoring
  docs/project_log.md
Due: markdownlint --fix

refactor: remove eslint-disable comments from DOMBuilder.ts and SchemaGenerator.ts
  src/parsers/dom/DOMBuilder.ts
  src/utils/SchemaGenerator.ts
Due: eslint --fix

docs: update project log for DOMBuilder and SchemaGenerator refactoring
  docs/project_log.md
Due: markdownlint --fix

fix: resolve CI test failures (#180)
  plugins/__tests__/AllPlugins.test.js
  src/parsers/MarkupParser.ts
  src/parsers/dom/__tests__/DOMParser.test.js
  src/parsers/dom/handlers/__tests__/DOMLinkHandler.test.js
  src/parsers/dom/handlers/__tests__/DOMPluginHandler.test.js
  src/parsers/dom/handlers/__tests__/DOMVariableHandler.test.js
  src/parsers/handlers/__tests__/HandlerRegistry.test.js
Due: eslint --fix

docs: update project log for CI fix session
  docs/project_log.md
Due: markdownlint --fix
