Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

chore: release v3.5.0
  CHANGELOG.md
  config/app-default-config.json
  docs/performance/baseline-v3.5.0-2026-05-02.md
  package.json
Due: markdownlint --fix

fix(#617): attach RoleManager-resolved roles to User records on render
  src/routes/WikiRoutes.ts
  src/routes/__tests__/WikiRoutes.coverage11.test.ts
  src/routes/__tests__/WikiRoutes.coverage14.test.ts
  src/routes/__tests__/WikiRoutes.coverage4.test.ts
  src/routes/__tests__/WikiRoutes.coverage5.test.ts
  src/routes/__tests__/routes.test.ts
Due: eslint --fix

chore: release v3.5.1
  CHANGELOG.md
  config/app-default-config.json
  docs/performance/baseline-v3.5.1-2026-05-02.md
  package.json
Due: markdownlint --fix

docs: log #617 iterations 2/3a/3b + v3.5.0/3.5.1 releases (2026-05-02 sessions)
  docs/project_log.md
Due: markdownlint --fix

fix(#622): bump testTimeout to 30s to absorb cold-start parallel-pool contention
  vitest.config.ts
Due: eslint --fix

fix(#623): consistent "Back to Dashboard" button across all admin pages
  views/admin-addons.ejs
  views/admin-backup.ejs
  views/admin-calendar.ejs
  views/admin-diff.ejs
  views/admin-journal.ejs
  views/admin-user-edit.ejs
Due: none

fix(#624): rewire /admin/organizations onto OrganizationManager + build out Edit modal
  src/routes/WikiRoutes.ts
  src/routes/__tests__/WikiRoutes.coverage10.test.ts
  src/routes/__tests__/routes.test.ts
  views/admin-organizations.ejs
Due: eslint --fix

chore: release v3.5.2
  CHANGELOG.md
  config/app-default-config.json
  docs/performance/baseline-v3.5.2-2026-05-02.md
  package.json
Due: markdownlint --fix

docs: log bug bash session 2026-05-02-05 (#622 / #623 / #624 → v3.5.2)
  docs/project_log.md
Due: markdownlint --fix

feat(#620): add in-memory caches to RoleManager / PersonManager / OrganizationManager (Option B)
  src/managers/OrganizationManager.ts
  src/managers/PersonManager.ts
  src/managers/RoleManager.ts
  src/managers/__tests__/identityCaches.test.ts
Due: eslint --fix

chore: release v3.5.3
  CHANGELOG.md
  config/app-default-config.json
  docs/performance/baseline-v3.5.3-2026-05-02.md
  package.json
Due: markdownlint --fix

fix(#622): cap vitest workers at 4 + document the cold-start race investigation
  docs/performance/issue-622-vitest-pool-tuning.md
  vitest.config.ts
Due: eslint --fix, markdownlint --fix

fix: replace broken `userContext.isAdmin` checks with hasPermission('admin-system')
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix: HTML-encode JSON payload in admin-user-edit hidden input
  views/admin-user-edit.ejs
Due: none

chore: release v3.5.4
  CHANGELOG.md
  config/app-default-config.json
  docs/performance/baseline-v3.5.4-2026-05-02.md
  package.json
Due: markdownlint --fix

feat(#625): add WikiContext.hasRole/hasPermission/canAccess/getPrincipals + 3-category sweep
  src/app.ts
  src/context/WikiContext.ts
  src/context/__tests__/WikiContext.test.ts
  src/managers/MediaManager.ts
  src/managers/ThemeManager.ts
  src/managers/__tests__/ThemeManager.cache.test.ts
  src/parsers/context/ParseContext.ts
  src/parsers/context/__tests__/ParseContext.test.ts
  src/plugins/CommentsPlugin.ts
  src/plugins/ConfigAccessorPlugin.ts
  src/plugins/FootnotesPlugin.ts
  src/providers/BaseSearchProvider.ts
  src/providers/ElasticsearchSearchProvider.ts
  src/providers/LunrSearchProvider.ts
  src/providers/__tests__/ElasticsearchSearchProvider.test.ts
  src/providers/__tests__/LunrSearchProvider.privateFilter.test.ts
  src/routes/WikiRoutes.ts
  src/routes/__tests__/WikiRoutes.authorLock.test.ts
  src/routes/__tests__/WikiRoutes.coverage.test.ts
  src/routes/__tests__/WikiRoutes.coverage10.test.ts
  src/routes/__tests__/WikiRoutes.coverage11.test.ts
  src/routes/__tests__/WikiRoutes.coverage12.test.ts
  src/routes/__tests__/WikiRoutes.coverage13.test.ts
  src/routes/__tests__/WikiRoutes.coverage14.test.ts
  src/routes/__tests__/WikiRoutes.coverage15.test.ts
  src/routes/__tests__/WikiRoutes.coverage16.test.ts
  src/routes/__tests__/WikiRoutes.coverage2.test.ts
  src/routes/__tests__/WikiRoutes.coverage3.test.ts
  src/routes/__tests__/WikiRoutes.coverage4.test.ts
  src/routes/__tests__/WikiRoutes.coverage5.test.ts
  src/routes/__tests__/WikiRoutes.coverage6.test.ts
  src/routes/__tests__/WikiRoutes.coverage7.test.ts
  src/routes/__tests__/WikiRoutes.coverage8.test.ts
  src/routes/__tests__/WikiRoutes.coverage9.test.ts
  src/routes/__tests__/routes.test.ts
Due: eslint --fix

docs: update project log for session 2026-05-02-06
  docs/project_log.md
Due: markdownlint --fix

feat(#625): Category C sweep + ESLint guard + true lazy theme resolution
  eslint.config.mjs
  src/context/ApiContext.ts
  src/context/WikiContext.ts
  src/context/__tests__/WikiContext.test.ts
  src/routes/WikiRoutes.ts
  src/routes/__tests__/WikiRoutes.assetSearch.test.ts
  src/routes/__tests__/WikiRoutes.coverage.test.ts
  src/routes/__tests__/WikiRoutes.coverage10.test.ts
  src/routes/__tests__/WikiRoutes.coverage11.test.ts
  src/routes/__tests__/WikiRoutes.coverage12.test.ts
  src/routes/__tests__/WikiRoutes.coverage13.test.ts
  src/routes/__tests__/WikiRoutes.coverage14.test.ts
  src/routes/__tests__/WikiRoutes.coverage15.test.ts
  src/routes/__tests__/WikiRoutes.coverage16.test.ts
  src/routes/__tests__/WikiRoutes.coverage2.test.ts
  src/routes/__tests__/WikiRoutes.coverage3.test.ts
  src/routes/__tests__/WikiRoutes.coverage4.test.ts
  src/routes/__tests__/WikiRoutes.coverage5.test.ts
  src/routes/__tests__/WikiRoutes.coverage6.test.ts
  src/routes/__tests__/WikiRoutes.coverage7.test.ts
  src/routes/__tests__/WikiRoutes.coverage8.test.ts
  src/routes/__tests__/WikiRoutes.coverage9.test.ts
  src/routes/__tests__/routes.test.ts
Due: eslint --fix

docs: update project log for session 2026-05-02-07
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-05-02-08
  docs/project_log.md
Due: markdownlint --fix

fix(#609): make adminCreateOrganization 403-test deterministic + Step 7 catch-up
  src/routes/WikiRoutes.ts
  src/routes/__tests__/WikiRoutes.coverage10.test.ts
Due: eslint --fix

docs: update project log for session 2026-05-02-09
  docs/project_log.md
Due: markdownlint --fix

chore: release v3.6.0
  CHANGELOG.md
  config/app-default-config.json
  docs/performance/baseline-v3.6.0-2026-05-02.md
  package.json
Due: markdownlint --fix

docs: update project log for session 2026-05-03-01
  docs/project_log.md
Due: markdownlint --fix

fix(#630, #633): ApiContext + ParseContext hasPermission delegate to UserManager
  src/context/ApiContext.ts
  src/context/__tests__/ApiContext.test.ts
  src/parsers/context/ParseContext.ts
  src/parsers/handlers/WikiTagHandler.ts
  src/parsers/handlers/__tests__/WikiTagHandler.test.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for session 2026-05-03-02
  docs/project_log.md
Due: markdownlint --fix

docs: refresh access-control + caching docs to current state (post-v3.6.0)
  docs/Developer-Documentation.md
  docs/WikiContext-Complete-Guide.md
  docs/architecture/Access-Control.md
  docs/architecture/Cache-System.md
  docs/architecture/Current-Rendering-Pipeline.md
  docs/managers/CacheManager-Complete-Guide.md
  docs/managers/CacheManager.md
Due: markdownlint --fix

docs: update project log for session 2026-05-03-03
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-05-03-04
  docs/project_log.md
Due: markdownlint --fix

refactor(#638): extract shared createMockWikiContext fixture for WikiRoutes tests
  src/routes/__tests__/WikiRoutes.assetSearch.test.ts
  src/routes/__tests__/WikiRoutes.authorLock.test.ts
  src/routes/__tests__/WikiRoutes.coverage.test.ts
  src/routes/__tests__/WikiRoutes.coverage10.test.ts
  src/routes/__tests__/WikiRoutes.coverage11.test.ts
  src/routes/__tests__/WikiRoutes.coverage12.test.ts
  src/routes/__tests__/WikiRoutes.coverage13.test.ts
  src/routes/__tests__/WikiRoutes.coverage14.test.ts
  src/routes/__tests__/WikiRoutes.coverage15.test.ts
  src/routes/__tests__/WikiRoutes.coverage16.test.ts
  src/routes/__tests__/WikiRoutes.coverage2.test.ts
  src/routes/__tests__/WikiRoutes.coverage3.test.ts
  src/routes/__tests__/WikiRoutes.coverage4.test.ts
  src/routes/__tests__/WikiRoutes.coverage5.test.ts
  src/routes/__tests__/WikiRoutes.coverage6.test.ts
  src/routes/__tests__/WikiRoutes.coverage7.test.ts
  src/routes/__tests__/WikiRoutes.coverage8.test.ts
  src/routes/__tests__/WikiRoutes.coverage9.test.ts
  src/routes/__tests__/__fixtures__/createMockWikiContext.ts
  vitest.config.ts
Due: eslint --fix

docs: update project log for session 2026-05-03-05
  docs/project_log.md
Due: markdownlint --fix

fix(#626): denormalize frontmatter audience onto LunrDocument and filter at search time
  src/providers/LunrSearchProvider.ts
  src/providers/__tests__/LunrSearchProvider.privateFilter.test.ts
Due: eslint --fix

docs: update project log for session 2026-05-03-06
  docs/project_log.md
Due: markdownlint --fix

docs(#627,#628): record AuthorLocked-not-in-search decision in code
  src/providers/ElasticsearchSearchProvider.ts
  src/providers/LunrSearchProvider.ts
Due: eslint --fix

feat(#635): add pageManager.getRecentChanges() API + visibility filter; migrate RecentChangesPlugin
  src/managers/PageManager.ts
  src/plugins/RecentChangesPlugin.ts
  src/plugins/__tests__/RecentChangesPlugin.test.ts
  src/providers/FileSystemProvider.ts
  src/providers/VersioningFileProvider.ts
  src/providers/__tests__/VersioningFileProvider.recentChanges.test.ts
  src/types/Provider.ts
Due: eslint --fix

docs: update project log for session 2026-05-03-07
  docs/project_log.md
Due: markdownlint --fix

refactor(#634): MediaManager.checkPrivatePageAccess reads frontmatter via PageManager
  src/managers/MediaManager.ts
  src/managers/__tests__/MediaManager.test.ts
Due: eslint --fix

feat(#639): Slice A — add top-level `private` frontmatter field with back-compat fallback (read path)
  src/managers/ACLManager.ts
  src/managers/MediaManager.ts
  src/managers/__tests__/ACLManager.test.ts
  src/managers/__tests__/MediaManager.test.ts
  src/providers/ElasticsearchSearchProvider.ts
  src/providers/FileSystemProvider.ts
  src/providers/LunrSearchProvider.ts
  src/providers/VersioningFileProvider.ts
  src/providers/__tests__/LunrSearchProvider.privateFilter.test.ts
  src/types/Page.ts
Due: eslint --fix

feat(#639): Slice B — save handler writes top-level `private` and strips legacy keyword
  src/managers/PageManager.ts
  src/managers/__tests__/PageManager.test.ts
Due: eslint --fix

docs: update project log for session 2026-05-03-08
  docs/project_log.md
Due: markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
