Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

feat: add UndefinedPagesPlugin and shared pluginFormatters utility (#205, #238)
  plugins/UndefinedPagesPlugin.ts
  src/utils/pluginFormatters.ts
Due: eslint --fix

docs: add UndefinedPagesPlugin documentation (#205)
  docs/plugins/UndefinedPagesPlugin.md
  required-pages/4c0c0fa8-66dc-4cb3-9726-b007f874700c.md
  required-pages/a433c5a4-905a-448a-a0d3-dc063163d6f6.md
Due: markdownlint --fix

docs: update project log 2026-02-25
  docs/project_log.md
Due: markdownlint --fix

refactor: adopt pluginFormatters across all applicable plugins (#283)
  plugins/ConfigAccessorPlugin.ts
  plugins/IndexPlugin.ts
  plugins/RecentChangesPlugin.ts
  plugins/SearchPlugin.ts
  plugins/referringPagesPlugin.ts
  src/utils/pluginFormatters.ts
Due: eslint --fix

chore: graduate LocationPlugin from required-pages to live data
  required-pages/29AEF3F9-206F-4478-B79D-6C3A08307FE7.md
Due: markdownlint --fix

docs: update project log 2026-02-25-05 and 2026-02-25-06
  docs/project_log.md
Due: markdownlint --fix

feat: add showReferring parameter to UndefinedPagesPlugin (#286)
  docs/plugins/UndefinedPagesPlugin.md
  docs/project_log.md
  plugins/UndefinedPagesPlugin.ts
  required-pages/a433c5a4-905a-448a-a0d3-dc063163d6f6.md
Due: eslint --fix, markdownlint --fix

fix: skip blank link targets in link graph to ignore task-list checkboxes (#287)
  docs/project_log.md
  src/managers/RenderingManager.ts
Due: eslint --fix, markdownlint --fix

fix: enable subscript and superscript in Showdown renderer (#288)
  docs/project_log.md
  src/managers/RenderingManager.ts
Due: eslint --fix, markdownlint --fix

fix: add custom Showdown extension for subscript and superscript (#288)
  docs/project_log.md
  src/extensions/showdown-sub-superscript.ts
  src/managers/RenderingManager.ts
Due: eslint --fix, markdownlint --fix

Updated content
  src/utils/PageNameMatcher.ts
  templates/default.md
Due: eslint --fix, markdownlint --fix

feat: add sort, pagination to UndefinedPagesPlugin; update docs (#286)
  docs/plugins/UndefinedPagesPlugin.md
  package-lock.json
  plugins/UndefinedPagesPlugin.ts
  plugins/__tests__/UndefinedPagesPlugin.test.js
  src/context/WikiContext.ts
  src/managers/RenderingManager.ts
  src/utils/pluginFormatters.ts
Due: eslint --fix, markdownlint --fix

Modified content
  templates/category.md
  templates/documentation.md
  templates/user-page.md
Due: markdownlint --fix

fix: use user-modified flag for Required Pages Sync status (#293)
  src/routes/WikiRoutes.ts
  views/view.ejs
Due: eslint --fix

docs: update project log 2026-02-26-02
  docs/project_log.md
Due: markdownlint --fix

chore: add Keywords and Categories + system-category to required-pages
  required-pages/85257e27-5019-4f6d-b8e7-9ed1770841e0.md
Due: markdownlint --fix

fix: strip user-modified on sync; remove flag from source file (#293)
  required-pages/85257e27-5019-4f6d-b8e7-9ed1770841e0.md
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

fix: add Back to Dashboard button to Required Pages Sync page (#292)
  views/admin-required-pages.ejs
Due: none

docs: update project log 2026-02-26-03
  docs/project_log.md
Due: markdownlint --fix

fix: graceful SIGTERM shutdown + recovery scan for missing pages on startup (#291)
  app.js
  src/managers/PageManager.ts
  src/providers/VersioningFileProvider.ts
Due: eslint --fix

docs: update project log 2026-02-26-04
  docs/project_log.md
Due: markdownlint --fix

feat: introduce FAST_STORAGE/SLOW_STORAGE env vars, replace INSTANCE_DATA_FOLDER (#278, #276)
  .env.example
  ecosystem.config.js
  server.sh
  src/managers/ConfigurationManager.ts
  src/managers/NotificationManager.ts
Due: eslint --fix

docs: update project log 2026-02-26-05
  docs/project_log.md
Due: markdownlint --fix

feat: replace hardcoded ./data paths with FAST_STORAGE/SLOW_STORAGE in app-default-config.json (#278)
  config/app-default-config.json
Due: none

docs: update project log 2026-02-26-06
  docs/project_log.md
Due: markdownlint --fix

fix: prevent literal \${FAST_STORAGE}/\${SLOW_STORAGE} dirs when env vars unset (#278)
  .gitignore
  config/app-default-config.json
  package.json
  src/managers/ConfigurationManager.ts
  src/routes/__tests__/WikiRoutes-isRequiredPage.test.js
  src/routes/__tests__/routes.test.js
Due: eslint --fix

docs: update project log 2026-02-26-07
  docs/project_log.md
Due: markdownlint --fix

fix: clean up ./data/ created by full-engine tests when FAST_STORAGE not set (#278)
  src/__tests__/WikiEngine.test.js
  src/managers/__tests__/policy-system.test.js
Due: none

docs: update project log 2026-02-26-08
  docs/project_log.md
Due: markdownlint --fix

fix: exclude external URLs and markdown link bracket text from link graph (#294)
  config/app-default-config.json
  src/managers/RenderingManager.ts
  src/managers/__tests__/RenderingManager.test.js
Due: eslint --fix

docs: update project log 2026-02-26-09
  docs/project_log.md
Due: markdownlint --fix

fix: remove duplicate Plugins page; keep Plugin as canonical (#284)
  package.json
  required-pages/A054D197-3843-4FFA-BC56-48A48395653A.md
Due: markdownlint --fix

docs: update project log 2026-02-26-10
  docs/project_log.md
Due: markdownlint --fix

content: update Plugin required-page with full plugin reference content (#284)
  required-pages/bfcb36e2-c94b-451a-9423-931a38964e2b.md
Due: markdownlint --fix

Revert "content: update Plugin required-page with full plugin reference content (#284)"
  required-pages/bfcb36e2-c94b-451a-9423-931a38964e2b.md
Due: markdownlint --fix

fix: flush MarkupParser handler-results cache on page create/delete (#291)
  src/managers/RenderingManager.ts
  src/parsers/MarkupParser.ts
Due: eslint --fix

fix: pass defaultCategory to edit template so system-category doesn't default to 'developer' (#225)
  src/routes/WikiRoutes.ts
  views/edit.ejs
Due: eslint --fix

docs: update project log 2026-02-26-11 and 2026-02-26-12
  docs/project_log.md
Due: markdownlint --fix

fix: format plugin number outputs with locale thousands separators (#290)
  plugins/SearchPlugin.ts
  plugins/TotalPagesPlugin.ts
  src/managers/VariableManager.ts
  src/utils/pluginFormatters.ts
Due: eslint --fix

docs: update project log 2026-02-26-13
  docs/project_log.md
Due: markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
