Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix"
  ],
  "*.md": [
    "markdownlint --fix"
  ]
}

docs: Add "One File Done Right" TypeScript migration process to AGENTS.md
  AGENTS.md
Due: markdownlint --fix

fix: Complete TypeScript migration for BaseManager, WikiContext, logger
  AGENTS.md
  src/context/WikiContext.js
  src/managers/BaseManager.js
  src/utils/logger.js
Due: markdownlint --fix

fix: Complete TypeScript migration for cache and utils modules
  src/cache/ICacheAdapter.js
  src/cache/NodeCacheAdapter.js
  src/cache/NullCacheAdapter.js
  src/cache/RegionCache.js
  src/utils/DeltaStorage.js
  src/utils/PageNameMatcher.js
  src/utils/VersionCompression.js
Due: none

fix: Complete TypeScript migration for 8 manager files
  docs/project_log.md
  src/managers/AuditManager.js
  src/managers/CacheManager.js
  src/managers/PolicyEvaluator.js
  src/managers/PolicyManager.js
  src/managers/PolicyValidator.js
  src/managers/RenderingManager.js
  src/managers/SearchManager.js
  src/managers/TemplateManager.js
Due: markdownlint --fix

fix: Complete TypeScript migration for core, managers, parsers, providers
  docs/project_log.md
  src/core/Engine.js
  src/managers/ConfigurationManager.js
  src/managers/PageManager.js
  src/managers/UserManager.js
  src/parsers/LinkParser.js
  src/parsers/context/ParseContext.js
  src/parsers/dom/DOMBuilder.js
  src/parsers/dom/DOMParser.js
  src/parsers/dom/DOMParser.ts
  src/parsers/dom/WikiDocument.js
  src/parsers/filters/BaseFilter.js
  src/parsers/filters/FilterChain.js
  src/parsers/handlers/BaseSyntaxHandler.js
  src/parsers/handlers/BaseSyntaxHandler.ts
  src/parsers/handlers/HandlerRegistry.js
  src/providers/BaseAttachmentProvider.js
  src/providers/BasePageProvider.js
  src/providers/VersioningFileProvider.js
  src/utils/LocaleUtils.js
Due: eslint --fix, markdownlint --fix

docs: Update project log with session progress (36 files migrated)
  docs/project_log.md
Due: markdownlint --fix

fix: Complete TypeScript migration for DOM handlers, utils, WikiEngine
  src/WikiEngine.js
  src/parsers/dom/Tokenizer.js
  src/parsers/dom/handlers/DOMLinkHandler.js
  src/parsers/dom/handlers/DOMPluginHandler.js
  src/parsers/dom/handlers/DOMVariableHandler.js
  src/utils/SchemaGenerator.js
  src/utils/sessionUtils.js
  src/utils/standardize-categories.js
  src/utils/version.js
Due: none

docs: Update project log (45 files migrated, 26 remaining)
  docs/project_log.md
Due: markdownlint --fix

fix: Complete TypeScript migration for base providers, ACL, versioning utils
  src/managers/ACLManager.js
  src/providers/BaseAuditProvider.js
  src/providers/BaseCacheProvider.js
  src/providers/BaseSearchProvider.js
  src/providers/BaseUserProvider.js
  src/utils/VersioningAnalytics.js
  src/utils/VersioningAnalytics.ts
  src/utils/VersioningMaintenance.js
  src/utils/VersioningMaintenance.ts
  src/utils/VersioningMigration.js
  src/utils/VersioningMigration.ts
  src/utils/final-validation.js
Due: eslint --fix

docs: Update project log (54 files migrated, 17 remaining)
  docs/project_log.md
Due: markdownlint --fix

fix(providers): Complete NullAuditProvider and NullCacheProvider TypeScript migration
  src/providers/NullAuditProvider.js
  src/providers/NullAuditProvider.ts
  src/providers/NullCacheProvider.js
  src/providers/NullCacheProvider.ts
Due: eslint --fix

fix(types): Strong WikiEngine typing across managers and providers
  src/managers/ACLManager.ts
  src/managers/AttachmentManager.ts
  src/managers/AuditManager.ts
  src/managers/BackupManager.ts
  src/managers/BaseManager.ts
  src/managers/CacheManager.ts
  src/managers/ConfigurationManager.ts
  src/managers/ExportManager.ts
  src/managers/NotificationManager.ts
  src/managers/PageManager.ts
  src/managers/PluginManager.ts
  src/managers/PolicyEvaluator.ts
  src/managers/PolicyManager.ts
  src/managers/PolicyValidator.ts
  src/managers/RenderingManager.ts
  src/managers/SchemaManager.ts
  src/managers/SearchManager.ts
  src/managers/TemplateManager.ts
  src/managers/UserManager.ts
  src/managers/ValidationManager.ts
  src/managers/VariableManager.ts
  src/providers/BaseAttachmentProvider.ts
  src/providers/BaseAuditProvider.ts
  src/providers/BaseCacheProvider.ts
  src/providers/BaseSearchProvider.ts
  src/providers/BaseUserProvider.ts
  src/providers/BasicAttachmentProvider.ts
  src/types/WikiEngine.ts
Due: eslint --fix

fix(providers): Complete audit provider TypeScript fixes
  docs/project_log.md
  src/providers/BaseAuditProvider.ts
  src/providers/CloudAuditProvider.ts
  src/providers/DatabaseAuditProvider.ts
  src/providers/FileAuditProvider.ts
Due: eslint --fix, markdownlint --fix

fix(providers): TypeScript fixes for User, Cache, Search providers
  docs/project_log.md
  src/providers/FileUserProvider.ts
  src/providers/LunrSearchProvider.ts
  src/providers/NodeCacheProvider.ts
  src/providers/RedisCacheProvider.ts
Due: eslint --fix, markdownlint --fix

fix(types): Fix ESLint errors in guards.ts and sessionUtils.ts
  docs/project_log.md
  src/types/guards.ts
  src/utils/sessionUtils.ts
Due: eslint --fix, markdownlint --fix

chore: Remove duplicate .js files that have .ts versions
  src/managers/AttachmentManager.js
  src/managers/BackupManager.js
  src/managers/ExportManager.js
  src/managers/NotificationManager.js
  src/managers/PluginManager.js
  src/managers/SchemaManager.js
  src/managers/ValidationManager.js
  src/managers/VariableManager.js
  src/managers/__tests__/ExportManager.test.js
  src/providers/BasicAttachmentProvider.js
  src/providers/CloudAuditProvider.js
  src/providers/DatabaseAuditProvider.js
  src/providers/FileAuditProvider.js
  src/providers/FileUserProvider.js
  src/providers/LunrSearchProvider.js
  src/providers/NodeCacheProvider.js
Due: none

feat(ts): Convert SecurityFilter and SpamFilter to TypeScript
  docs/project_log.md
  src/parsers/filters/SecurityFilter.ts
  src/parsers/filters/SpamFilter.ts
Due: eslint --fix, markdownlint --fix

docs: Update project log with filter conversions
  docs/project_log.md
Due: markdownlint --fix

feat(ts): Convert ValidationFilter to TypeScript
  src/parsers/filters/ValidationFilter.ts
Due: eslint --fix

feat(ts): Convert 7 syntax handlers to TypeScript
  docs/project_log.md
  src/parsers/handlers/EscapedSyntaxHandler.ts
  src/parsers/handlers/JSPWikiPreprocessor.ts
  src/parsers/handlers/LinkParserHandler.ts
  src/parsers/handlers/PluginSyntaxHandler.ts
  src/parsers/handlers/VariableSyntaxHandler.ts
  src/parsers/handlers/WikiLinkHandler.ts
  src/parsers/handlers/WikiTableHandler.ts
Due: eslint --fix, markdownlint --fix

feat(ts): Convert InterWikiLinkHandler and WikiFormHandler to TypeScript
  docs/project_log.md
  src/parsers/handlers/InterWikiLinkHandler.ts
  src/parsers/handlers/WikiFormHandler.ts
Due: eslint --fix, markdownlint --fix

docs: Update project log with handler conversion progress
  docs/project_log.md
Due: markdownlint --fix

feat: Convert remaining JS files to TypeScript
  src/extensions/showdown-footnotes-fixed.js
  src/extensions/showdown-footnotes-fixed.ts
  src/parsers/handlers/AttachmentHandler.ts
  src/parsers/handlers/BaseSyntaxHandler.ts
  src/parsers/handlers/WikiStyleHandler.ts
  src/parsers/handlers/WikiTagHandler.ts
  src/services/InstallService.ts
Due: eslint --fix

docs: Update project log with TypeScript migration completion
  docs/project_log.md
Due: markdownlint --fix

fix(routes): Fix backup error and lint error
  src/routes/InstallRoutes.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: Update project log with bug fix session
  docs/project_log.md
Due: markdownlint --fix

docs: Add markdown table formatting guidelines to CONTRIBUTING.md
  CONTRIBUTING.md
Due: markdownlint --fix

docs: Update project log with complete session summary
  docs/project_log.md
Due: markdownlint --fix

Updates pages
  required-pages/319af539-7feb-4a85-ae92-ec1bf00fc68a.md
Due: markdownlint --fix

UPdated file
  required-pages/6bdacfac-300d-4d89-ad4a-2acc98e12bc5.md
Due: markdownlint --fix

Updated File
  required-pages/7682c617-555f-4322-9820-c8ae5a89ca37.md
Due: markdownlint --fix

Update files
  required-pages/86ca6fb2-5754-4fa6-9efc-6aaf6e592031.md
  required-pages/aad73bf5-0aaf-40ed-b5a7-ae0a96457919.md
  required-pages/c8b5781f-93a3-4fb8-adb4-263077dc3f58.md
  required-pages/e4d225a2-ec0f-49b2-95f9-1c42d84e7679.md
Due: markdownlint --fix

Updated pages
  required-pages/b780e809-d45b-4c4b-84ec-ad30a74a3605.md
  required-pages/ff2c3a6d-fdfc-479f-90e3-585dc2b3abd0.md
Due: markdownlint --fix

Use python script to fix MD060/table-column-style: Table column style [Table pipe is missing space to the right for style "compact"]
  CODE_STANDARDS.md
Due: markdownlint --fix

Used python script to fix MD060/table-column-style: Table column style [Table pipe is missing space to the right for style "compact"]
  required-pages/2F27D2A7-9419-4C50-AD5E-83402EABAA06.md
Due: markdownlint --fix

Used python script to fix MD060/table-column-style: Table column style [Table pipe is missing space to the right for style "compact"]
  required-pages/3C6B55E5-5262-4686-A436-7BFD5479BCC1.md
  required-pages/4a266851-f3cd-4ba6-bbbe-5a408f3adf72.md
Due: markdownlint --fix

Used python script to fix MD060/table-column-style: Table column style [Table pipe is missing space to the right for style "compact"]
  required-pages/06F04848-8226-403B-9EC6-5420E4E0C0FE.md
  required-pages/6bdacfac-300d-4d89-ad4a-2acc98e12bc5.md
  required-pages/8d2c3b4a-9e1f-4c5d-a6b7-7e8f9a0b1c2d.md
Due: markdownlint --fix

Used python script to fix MD060/table-column-style: Table column style [Table pipe is missing space to the right for style "compact"]
  required-pages/8dad9fdc-1d2e-4d4b-aeeb-a95bd1ba6a28.md
  required-pages/9b55b835-29dc-4944-8739-788330b7f33c.md
  required-pages/9f3a4b2c-5d1e-4a8f-b2c9-8e7f6d5c4a3b.md
Due: markdownlint --fix

Used python script to fix MD060/table-column-style: Table column style [Table pipe is missing space to the right for style "compact"]
  required-pages/208fecc6-fde1-4463-a865-3a2b62e1cea7.md
  required-pages/5100a3df-0d87-4d85-87de-359f51029c67.md
  required-pages/7682c617-555f-4322-9820-c8ae5a89ca37.md
  required-pages/84FC114E-8E05-40E9-AD5F-5222236B5F63.md
Due: markdownlint --fix

Used python script to fix MD060/table-column-style: Table column style [Table pipe is missing space to the right for style "compact"]
  required-pages/A054D197-3843-4FFA-BC56-48A48395653A.md
  required-pages/E2BC4BF9-4DDB-40DD-8CE5-C418EE7FCC08.md
  required-pages/a40812e4-3a9d-42b5-b5a8-e89b41a46096.md
  required-pages/b7980f86-b9a0-42ba-b810-9f414fb6d399.md
  required-pages/e3bc8a66-9a68-47bb-af14-d6f8b611a3b2.md
Due: markdownlint --fix
