Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

fix: add security-events permission to Docker workflow
  .github/workflows/docker-build.yml
Due: none

feat: set HEADLESS_INSTALL=true in Docker image
  docker/Dockerfile
Due: none

fix: update hono override to 4.11.7 for security fixes
  package-lock.json
  package.json
Due: none

fix: resolve logger.info not a function in admin reindex/restart (#228)
  docker/DOCKER.md
  docs/INSTALLATION/INSTALLATION-SYSTEM.md
  package.json
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

fix: sync app-default-config.json version, update version.js script
  config/app-default-config.json
  docs/project_log.md
  version.js
Due: markdownlint --fix

release: v1.5.4 - version script sync and Docker rebuild
  config/app-default-config.json
  docs/project_log.md
  package.json
Due: markdownlint --fix

docs: add GHCR pull instructions to Docker documentation
  docker/DEPLOYMENT.md
  docker/DOCKER.md
  docker/README.md
  docker/k8s/README.md
  docs/project_log.md
Due: markdownlint --fix

feat: import HTML from URL and convert to Markdown (#230)
  config/app-default-config.json
  package-lock.json
  package.json
  src/converters/HtmlConverter.ts
  src/converters/__tests__/HtmlConverter.test.js
  src/extensions/showdown-footnotes-fixed.ts
  src/managers/ImportManager.ts
  src/routes/WikiRoutes.ts
  views/admin-import.ejs
Due: eslint --fix

Updates on HTML URL import
  docs/project_log.md
Due: markdownlint --fix

fix: broken search page layout, form submission, and HTML (#222)
  required-pages/fe7a378d-dfa5-4e37-9891-637568ebe0b4.md
  views/search-results.ejs
Due: markdownlint --fix

Bump SEMVER version
  package-lock.json
Due: none

Fix broken search page
  docs/TODO.md
  docs/project_log.md
Due: markdownlint --fix

fix: rename HtmlConverter test to .ts to fix CI babel parse error
  src/converters/__tests__/HtmlConverter.test.ts
Due: eslint --fix

fix: server.sh stop fails to stop server (#231)
  config/app-default-config.json
  docs/SERVER-MANAGEMENT.md
  docs/TODO.md
  docs/project_log.md
  package-lock.json
  package.json
  server.sh
Due: markdownlint --fix

refactor: move version.js to scripts/ and add git tag creation
  README.md
  docker/.dockerignore
  docs/SEMVER.md
  docs/architecture/PROJECT-STRUCTURE.md
  docs/project_log.md
  package.json
  scripts/version.js
Due: markdownlint --fix

fix: admin pages show login button and duplicate left menu (#229, #228)
  docs/TODO.md
  docs/project_log.md
  src/routes/WikiRoutes.ts
  views/admin-import.ejs
  views/admin-organizations.ejs
  views/admin-settings.ejs
Due: eslint --fix, markdownlint --fix

feat: attachment panel in editor, decisions for #232 path resolution
  config/app-default-config.json
  docs/TODO.md
  docs/managers/AttachmentManager-Complete-Guide.md
  docs/project_log.md
  docs/providers/BasicAttachmentProvider.md
  src/providers/BasicAttachmentProvider.ts
  src/routes/WikiRoutes.ts
  views/edit.ejs
Due: eslint --fix, markdownlint --fix

feat: ImagePlugin attachment resolution + description auto-populate (#232)
  docs/TODO.md
  docs/project_log.md
  plugins/ImagePlugin.ts
  plugins/__tests__/ImagePlugin.test.js
  src/routes/WikiRoutes.ts
  views/edit.ejs
  views/header.ejs
Due: eslint --fix, markdownlint --fix

feat: JSPWiki attachment import during page import (#232)
  docs/TODO.md
  docs/project_log.md
  src/converters/JSPWikiConverter.ts
  src/converters/__tests__/JSPWikiConverter.test.js
  src/managers/ImportManager.ts
  src/managers/__tests__/ImportManager.test.js
Due: eslint --fix, markdownlint --fix

feat: attachment browser admin page (#232)
  docs/TODO.md
  docs/project_log.md
  src/routes/WikiRoutes.ts
  views/admin-attachments.ejs
  views/admin-dashboard.ejs
  views/header.ejs
Due: eslint --fix, markdownlint --fix

fix: JSPWiki table conversion — bracket-aware splitting, mid-line \\, inline styles (#123, #64)
  config/app-default-config.json
  package.json
  src/converters/JSPWikiConverter.ts
  src/converters/__tests__/JSPWikiConverter.test.js
  src/parsers/MarkupParser.ts
  src/parsers/handlers/JSPWikiPreprocessor.ts
Due: eslint --fix

fix: import bugs + non-admin attachment browser (#123, #232)
  docs/TODO.md
  docs/project_log.md
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
  src/converters/JSPWikiConverter.ts
  src/converters/__tests__/JSPWikiConverter.test.js
  src/managers/ImportManager.ts
  src/managers/ValidationManager.ts
  src/managers/__tests__/ImportManager.test.js
  src/parsers/MarkupParser.ts
  src/parsers/handlers/JSPWikiPreprocessor.ts
  src/providers/FileSystemProvider.ts
  src/routes/WikiRoutes.ts
  views/browse-attachments.ejs
  views/header.ejs
Due: eslint --fix, markdownlint --fix

chore: bump version 1.5.7 → 1.5.8 + update project log
  config/app-default-config.json
  docs/project_log.md
  package.json
Due: markdownlint --fix

fix: JSPWiki table conversion — bracket-aware splitting, mid-line \\, inline styles (#123, #64)
  src/parsers/MarkupParser.ts
Due: eslint --fix

feat: resolve wiki links in style-block table cells (#123)
  docs/project_log.md
  src/parsers/MarkupParser.ts
Due: eslint --fix, markdownlint --fix

Updated content
  docs/TODO.md
  required-pages/44343afc-73ab-4dc0-8a7e-05f9fbda23b3.md
  required-pages/9b55b835-29dc-4944-8739-788330b7f33c.md
Due: markdownlint --fix

Version upgade
  package-lock.json
Due: none

fix: ImagePlugin global filename fallback for missing mentions (#232)
  docs/TODO.md
  plugins/ImagePlugin.ts
  plugins/__tests__/ImagePlugin.test.js
  src/managers/AttachmentManager.ts
  src/providers/BaseAttachmentProvider.ts
  src/providers/BasicAttachmentProvider.ts
Due: eslint --fix, markdownlint --fix

fix: getAttachment() missing Schema.org property aliases (#232)
  src/providers/BasicAttachmentProvider.ts
Due: eslint --fix

fix: wiki image overflow and float clearing (#232)
  docs/project_log.md
  public/css/style.css
Due: markdownlint --fix

Normal Updates to required pages
  docs/TODO.md
  required-pages/293dea72-81dc-4494-9827-abb3505cce46.md
  required-pages/2F27D2A7-9419-4C50-AD5E-83402EABAA06.md
  required-pages/8d2c3b4a-9e1f-4c5d-a6b7-7e8f9a0b1c2d.md
  required-pages/b7980f86-b9a0-42ba-b810-9f414fb6d399.md
  required-pages/c79b51f6-249c-4440-a364-649d15d72326.md
Due: markdownlint --fix

fix: DRY page creation default metadata (#234)
  docs/project_log.md
  src/routes/WikiRoutes.ts
  views/create.ejs
Due: eslint --fix, markdownlint --fix

test: add 22 tests for buildNewPageMetadata() (#234)
  docs/project_log.md
  src/routes/__tests__/WikiRoutes-buildNewPageMetadata.test.js
Due: markdownlint --fix

docs: fix config path references to data/config/app-custom-config.json
  docs/INSTALLATION/INSTALL-TESTING.md
  docs/admin/Versioning-Deployment-Guide.md
  docs/managers/PolicyManager.md
  docs/managers/ValidationManager.md
  docs/migration/WikiDocument-DOM-Migration.md
  docs/user-guide/Page-Storage.md
Due: markdownlint --fix

chore: remove versioning files from git, update .gitignore
  .gitignore
  required-pages/versions/9cd3b590-af03-44cf-a063-3a01559d3bd3/v1/content.md
  required-pages/versions/9cd3b590-af03-44cf-a063-3a01559d3bd3/v2/content.diff
  required-pages/versions/9cd3b590-af03-44cf-a063-3a01559d3bd3/v3/content.diff
Due: markdownlint --fix

docs: update project_log for #234 session
  docs/project_log.md
Due: markdownlint --fix

fix: admin restart now detects PM2 app name dynamically
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix: linkGraph regex now matches page names with parentheses (#239)
  src/managers/RenderingManager.ts
Due: eslint --fix

docs: update project_log with #234, #239 fixes
  docs/project_log.md
Due: markdownlint --fix

fix: server.sh stop race condition - delete from PM2 first (#231)
  docs/project_log.md
  server.sh
Due: markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
