Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

fix: fix VersioningFileProvider-WriteQueue test to run without dist/ build (#180)
  docs/project_log.md
  src/providers/__tests__/VersioningFileProvider-WriteQueue.test.js
Due: markdownlint --fix

chore: bump version to 1.5.16 (patch); close #180 and #265
  config/app-default-config.json
  docs/project_log.md
  package.json
Due: markdownlint --fix

docs: update project log commit hash for session 2026-03-07-06
  docs/project_log.md
Due: markdownlint --fix

fix: trim page name trailing spaces to prevent 404 from IndexPlugin links (#313)
  src/managers/ImportManager.ts
  src/providers/FileSystemProvider.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for #313 fix (2026-03-07)
  docs/project_log.md
Due: markdownlint --fix

feat: implement private folder Phase 1 — private pages (#122)
  config/app-default-config.json
  docs/planning/plan-private-folder.md
  required-pages/951d576e-8afe-4697-b0fb-71c1c799dac2.md
  src/managers/PageManager.ts
  src/managers/SearchManager.ts
  src/providers/BaseSearchProvider.ts
  src/providers/FileSystemProvider.ts
  src/providers/LunrSearchProvider.ts
  src/providers/VersioningFileProvider.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for #122 Phase 1 (2026-03-08)
  docs/project_log.md
Due: markdownlint --fix

feat: implement private folder Phase 2 — private attachments (#232)
  src/managers/AttachmentManager.ts
  src/providers/BasicAttachmentProvider.ts
  src/routes/WikiRoutes.ts
  src/routes/__tests__/WikiRoutes.attachments.test.js
Due: eslint --fix

docs: update project log for #232 Phase 2 (2026-03-08)
  docs/project_log.md
Due: markdownlint --fix

feat: implement MediaManager stub — Phase 3 of private folder (#273)
  config/app-default-config.json
  plugins/MediaGallery.ts
  plugins/MediaItem.ts
  plugins/MediaSearch.ts
  src/WikiEngine.ts
  src/managers/MediaManager.ts
  src/providers/BaseMediaProvider.ts
  src/providers/FileSystemMediaProvider.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

feat: implement MediaManager Phase 4 — real filesystem scan, EXIF, thumbnails (#273)
  docs/planning/plan-media-manager.md
  docs/project_log.md
  package-lock.json
  package.json
  src/managers/MediaManager.ts
  src/providers/BaseMediaProvider.ts
  src/providers/FileSystemMediaProvider.ts
  src/routes/WikiRoutes.ts
  views/admin-media.ejs
  views/media-home.ejs
  views/media-item.ejs
  views/media-search.ejs
  views/media-year.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for MediaManager Phase 4 (#273)
  docs/project_log.md
Due: markdownlint --fix

docs: add user documentation and technical reference for Private Pages and Media Management
  docs/managers/MediaManager-Complete-Guide.md
  docs/managers/MediaManager.md
  docs/providers/BaseMediaProvider.md
  docs/providers/FileSystemMediaProvider.md
  required-pages/2586c69b-a604-4fcd-95a4-591ca45deacb.md
  required-pages/e36d72ac-3d76-4fc8-9e55-47dfeb09d456.md
Due: markdownlint --fix

fix: media scan bugs — sentinel exclusion on root folders, empty thumbnailDir, scan timing
  config/app-default-config.json
  docs/managers/MediaManager-Complete-Guide.md
  src/managers/MediaManager.ts
  src/providers/BaseMediaProvider.ts
  src/providers/FileSystemMediaProvider.ts
  views/admin-dashboard.ejs
  views/admin-media.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for media scan bug fixes (2026-03-08-05)
  docs/project_log.md
Due: markdownlint --fix

feat: AttachmentsPlugin, MediaPlugin, and EXIF Orientation thumbnail fix (#273, #238)
  plugins/AttachmentsPlugin.ts
  plugins/MediaPlugin.ts
  src/providers/FileSystemMediaProvider.ts
Due: eslint --fix

Updated content
  docs/project_log.md
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
Due: markdownlint --fix

feat: media item prev/next navigation, dark metadata panel, GPS map link (#273)
  src/routes/WikiRoutes.ts
  views/media-item.ejs
Due: eslint --fix

docs: update project log for media item nav and dark panel (2026-03-08-07)
  docs/project_log.md
Due: markdownlint --fix

fix: serve attachments from configured storageDirectory, not stale storageLocation (#314)
  src/providers/BasicAttachmentProvider.ts
  src/providers/__tests__/BasicAttachmentProvider.diskFallback.test.js
Due: eslint --fix

docs: update GLOSSARY.md with accurate, code-verified entries
  docs/GLOSSARY.md
Due: markdownlint --fix

feat: add profilePage field and rename support to user profile (#316)
  docs/project_log.md
  src/managers/UserManager.ts
  src/routes/WikiRoutes.ts
  src/types/User.ts
  views/profile.ejs
Due: eslint --fix, markdownlint --fix

fix: add video streaming route and <video> player for media items (#315)
  src/routes/WikiRoutes.ts
  views/media-item.ejs
Due: eslint --fix

feat: keywords as wiki links, MediaPlugin page= param, Media Information panel (#316, #317, #318, #319)
  plugins/MediaPlugin.ts
  src/managers/MediaManager.ts
  src/providers/BaseMediaProvider.ts
  src/providers/FileSystemMediaProvider.ts
  views/media-item.ejs
Due: eslint --fix

docs: update project log for media keywords, MediaPlugin page= param, Media Info panel (2026-03-10-04)
  docs/project_log.md
Due: markdownlint --fix

fix: keyword link styling on media item page — text-info/redlink, not badge blobs (#316)
  docs/project_log.md
  src/routes/WikiRoutes.ts
  views/media-item.ejs
Due: eslint --fix, markdownlint --fix

feat: MediaPlugin keyword= filter, Page Info modal for media items, remove eventName (#319, #273)
  docs/project_log.md
  plugins/MediaPlugin.ts
  src/managers/MediaManager.ts
  src/providers/BaseMediaProvider.ts
  src/providers/FileSystemMediaProvider.ts
  views/header.ejs
  views/media-item.ejs
  views/media-search.ejs
  views/media-year.ejs
Due: eslint --fix, markdownlint --fix

fix: [[{ escape prefix renders literal plugin syntax without executing (#316)
  docs/project_log.md
  src/parsers/handlers/PluginSyntaxHandler.ts
Due: eslint --fix, markdownlint --fix

fix: MediaPlugin page= always returned 0 — add keyword fallback in getItemsByPage (#316)
  docs/project_log.md
  src/providers/FileSystemMediaProvider.ts
Due: eslint --fix, markdownlint --fix

fix: skip dotfiles (.trashed-*, .DS_Store) during media scan (#322)
  docs/project_log.md
  src/providers/FileSystemMediaProvider.ts
Due: eslint --fix, markdownlint --fix

feat: media keyword album view — /media/keyword/:keyword (#321)
  docs/project_log.md
  src/routes/WikiRoutes.ts
  views/media-item.ejs
  views/media-keyword.ejs
Due: eslint --fix, markdownlint --fix

feat: MediaPlugin format='album' — inline thumbnail grid on wiki pages (#321)
  docs/project_log.md
  plugins/MediaPlugin.ts
Due: eslint --fix, markdownlint --fix

fix: keyword album prev/next navigates within keyword context, not year (#321)
  docs/project_log.md
  plugins/MediaPlugin.ts
  src/routes/WikiRoutes.ts
  views/media-item.ejs
Due: eslint --fix, markdownlint --fix

feat: MediaPlugin format='album-link' — button linking to keyword album page (#321)
  plugins/MediaPlugin.ts
Due: eslint --fix

chore: bump version 1.5.16 → 1.6.0 (MINOR — media keyword album features)
  config/app-default-config.json
  package.json
Due: none

docs: update project log entries 2026-03-10-05 through 2026-03-11-01
  docs/project_log.md
Due: markdownlint --fix

docs: add user-facing backup guide covering what is/isn't backed up
  docs/user-guide/Backups.md
Due: markdownlint --fix

feat: backup management page, auto-backup scheduler, updated Backup doc (#258)
  config/app-default-config.json
  required-pages/aad73bf5-0aaf-40ed-b5a7-ae0a96457919.md
  src/managers/BackupManager.ts
  src/routes/WikiRoutes.ts
  views/admin-backup.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for backup management page and auto-backup scheduler (#258)
  docs/project_log.md
Due: markdownlint --fix

feat: make indexed media file extensions configurable (#325)
  config/app-default-config.json
  src/managers/MediaManager.ts
  src/providers/FileSystemMediaProvider.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
