Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix"
  ],
  "*.md": [
    "markdownlint --fix"
  ]
}

fix: implement state-stack parsing for nested wiki style blocks (#218)
  docs/project_log.md
  src/parsers/MarkupParser.ts
Due: eslint --fix, markdownlint --fix

fix: handle nested style block placeholders correctly
  src/parsers/MarkupParser.ts
Due: eslint --fix

fix: improve table styling - compact width and dark mode hover contrast
  public/css/style.css
  required-pages/AE600E74-7DC5-4CF1-A702-B9D1A06E77C3.md
Due: markdownlint --fix

docs: update CONTRIBUTING.md for TypeScript migration and data directory
  CONTRIBUTING.md
Due: markdownlint --fix

docs: update project_log for session 2026-01-26-03
  docs/project_log.md
Due: markdownlint --fix

docs: update docker documentation for InstallService workflow
  docker/DOCKER.md
  docker/README.md
  docker/docker-setup.sh
Due: markdownlint --fix

Work on some docs
  .claude/commands/check-todos.md
  docs/TODO.md
  docs/planning/TODO.md
Due: markdownlint --fix

feat: add headless installation mode for Docker/K8s deployments (#219)
  SETUP.md
  app.js
  docker/.env.example
  docker/DOCKER.md
  docker/TRAEFIK-DEPLOYMENT.md
  docker/k8s/README.md
  src/managers/ConfigurationManager.ts
  src/services/InstallService.ts
Due: eslint --fix, markdownlint --fix

docs: update project_log for session 2026-01-27-01
  docs/project_log.md
Due: markdownlint --fix

Updated
  docs/TODO.md
Due: markdownlint --fix

Updates to DOCs
  AGENTS.md
  ARCHITECTURE.md
  CODE_STANDARDS.md
  docs/WikiDocument.md
  docs/testing/Complete-Testing-Guide.md
Due: markdownlint --fix

Update to simplfy docs.
  AGENTS.md
  AGENTS.md.bak
  CODE_STANDARDS.md
Due: markdownlint --fix

docs: update TODO with headless install verification results
  docs/TODO.md
Due: markdownlint --fix

docs: update TODO and project_log with full verification results
  docs/TODO.md
  docs/project_log.md
Due: markdownlint --fix

fix: update slugIndex on page rename and delete (#220)
  src/providers/FileSystemProvider.ts
Due: eslint --fix

fix: logger uses ConfigurationManager for runtime config (#221)
  config/audit/audit-config.json
  docker/.env.example
  docs/TODO.md
  src/WikiEngine.ts
  src/utils/logger.ts
Due: eslint --fix, markdownlint --fix

fix: remove deprecated amdwiki.install.completed config property (#217)
  docs/INSTALLATION/INSTALL-TESTING.md
  docs/INSTALLATION/INSTALLATION-TESTING-RESULTS.md
  docs/TODO.md
  docs/providers/FileSystemProvider-Complete-Guide.md
  src/managers/__tests__/PageManager-Storage.test.js
  src/providers/__tests__/FileSystemProvider.test.js
  src/services/InstallService.ts
  src/types/Config.ts
Due: eslint --fix, markdownlint --fix

docs: update project_log for session 2026-01-27-02
  docs/project_log.md
Due: markdownlint --fix

fix: search page filters now work correctly (#222)
  docs/TODO.md
  src/managers/__tests__/SearchManager.test.js
  src/providers/BaseSearchProvider.ts
  src/providers/LunrSearchProvider.ts
  views/search-results.ejs
Due: eslint --fix, markdownlint --fix

docs: update project_log with #222 fix details
  docs/project_log.md
Due: markdownlint --fix

fix: logger exports for Jest compatibility
  jest.setup.js
  src/utils/logger.ts
Due: eslint --fix

fix: use logger.default for CommonJS import in app.js
  app.js
Due: none

Modified
  docs/TODO.md
Due: markdownlint --fix

docs: update project_log with logger export fixes
  docs/project_log.md
Due: markdownlint --fix

feat: add JSPWiki import support with extensible converter registry (#123)
  docs/TODO.md
  docs/project_log.md
  src/WikiEngine.ts
  src/converters/IContentConverter.ts
  src/converters/JSPWikiConverter.ts
  src/converters/__tests__/JSPWikiConverter.test.js
  src/converters/index.ts
  src/managers/ImportManager.ts
  src/managers/__tests__/ImportManager.test.js
  src/types/WikiEngine.ts
  views/admin-import.ejs
Due: eslint --fix, markdownlint --fix

Updated Document
  required-pages/E2BC4BF9-4DDB-40DD-8CE5-C418EE7FCC08.md
Due: markdownlint --fix

feat: add admin import routes to WikiRoutes.ts
  docs/project_log.md
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

fix: ImportManager UUID filenames, logging, single file support, page refresh
  docs/project_log.md
  src/managers/ImportManager.ts
  views/admin-dashboard.ejs
  views/admin-import.ejs
Due: eslint --fix, markdownlint --fix

fix: preserve native wiki link syntax in JSPWikiConverter
  docs/project_log.md
  src/converters/JSPWikiConverter.ts
  src/converters/__tests__/JSPWikiConverter.test.js
Due: eslint --fix, markdownlint --fix

feat: add duplicate page detection to ImportManager (#123)
  docs/project_log.md
  src/managers/ImportManager.ts
  views/admin-import.ejs
Due: eslint --fix, markdownlint --fix

Added some JSPWiki test pages.
  tests/jspwiki-files/11th+Century+BCE.txt
  tests/jspwiki-files/11th+Century.txt
  tests/jspwiki-files/11th+Millennium+BCE.txt
Due: none

Minor edits.
  docs/TODO.md
Due: markdownlint --fix

fix: add missing INSTANCE_DATA_FOLDER to Traefik compose, close #224
  docker/docker-compose-traefik.yml
  docs/project_log.md
Due: markdownlint --fix

fix: Create New Page defaults and system-category handling (#225)
  docs/project_log.md
  src/routes/WikiRoutes.ts
  views/create.ejs
Due: eslint --fix, markdownlint --fix

fix: user preferences not persisting due to qs nested parsing (#226)
  docs/project_log.md
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

fix: update Admin Dashboard layout, close #227
  docs/project_log.md
  views/admin-dashboard.ejs
Due: markdownlint --fix

fix: Configuration Management save no longer redirects away from page, close #227
  docs/project_log.md
  src/routes/WikiRoutes.ts
  views/admin-configuration.ejs
Due: eslint --fix, markdownlint --fix

Updated files
  docs/TODO.md
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
Due: markdownlint --fix

release: v1.5.2 - bug fixes and Docker workflow
  .github/workflows/docker-build.yml
  CHANGELOG.md
  package.json
Due: markdownlint --fix
