Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix"
  ],
  "*.md": [
    "markdownlint --fix"
  ]
}

docs: add commit hash to project_log for #245
  docs/project_log.md
Due: markdownlint --fix

docs: add version.ts and server.sh reminders to AGENTS.md
  AGENTS.md
Due: markdownlint --fix

fix: use exact word matching for user-keywords filter (#247)
  docs/TODO.md
  docs/project_log.md
  src/providers/LunrSearchProvider.ts
Due: eslint --fix, markdownlint --fix

docs: add commit hash to project_log for #247
  docs/project_log.md
Due: markdownlint --fix

fix: use correct CacheManager.del() method name
  src/routes/WikiRoutes.ts
  src/routes/__tests__/routes.test.js
Due: eslint --fix

docs: update project_log with CacheManager fix details
  docs/project_log.md
Due: markdownlint --fix

perf: use incremental updates for page creation (#245)
  src/routes/WikiRoutes.ts
  tests/e2e/pages.spec.js
Due: eslint --fix

docs: add project_log entry for #245 incremental page creation fix
  docs/project_log.md
Due: markdownlint --fix

docs: add project_log entry for #247 wiki syntax fix
  docs/project_log.md
Due: markdownlint --fix

fix: correct permission name for user-keyword routes (#242)
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: add project_log entry for #242 permission fix
  docs/project_log.md
Due: markdownlint --fix

feat: add admin keyword management dashboard (#248)
  src/routes/WikiRoutes.ts
  views/admin-dashboard.ejs
  views/admin-keywords.ejs
Due: eslint --fix

docs: add project_log entry for #248 admin keywords
  docs/project_log.md
Due: markdownlint --fix

fix: alphabetize user keywords in editor dropdown (#249)
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: add project_log entry for #249 alphabetize keywords
  docs/project_log.md
Due: markdownlint --fix

feat: add Create Keyword button to admin keywords page (#248)
  src/routes/WikiRoutes.ts
  views/admin-keywords.ejs
Due: eslint --fix

updated content
  docs/TODO.md
Due: markdownlint --fix

perf: optimize server startup with content caching and parallel loading (#250)
  docs/TODO.md
  docs/project_log.md
  jest.setup.js
  scripts/performance-test.js
  src/managers/RenderingManager.ts
  src/managers/__tests__/RenderingManager.test.js
  src/providers/FileSystemProvider.ts
  src/utils/PageNameMatcher.ts
Due: eslint --fix, markdownlint --fix

refactor: use getPageMetadata() for metadata-only operations
  docs/TODO.md
  docs/project_log.md
  src/managers/ImportManager.ts
  src/managers/UserManager.ts
  src/routes/WikiRoutes.ts
  src/routes/__tests__/WikiRoutes-isRequiredPage.test.js
  src/routes/__tests__/routes.test.js
Due: eslint --fix, markdownlint --fix

Update content
  docs/TODO.md
Due: markdownlint --fix

feat: show short descriptions with user-keywords (#251)
  config/app-default-config.json
  docs/TODO.md
  docs/project_log.md
  package.json
  src/routes/WikiRoutes.ts
  views/create.ejs
  views/edit.ejs
  views/search-results.ejs
Due: eslint --fix, markdownlint --fix

docs: add project_log entry for #251 user-keyword descriptions
  docs/project_log.md
Due: markdownlint --fix

fix: improve E2E special character search test reliability
  tests/e2e/search.spec.js
Due: none

feat: add LocationPlugin for map links and embedded previews
  config/app-default-config.json
  docs/plugins/LocationPlugin.md
  docs/project_log.md
  plugins/LocationPlugin.ts
  plugins/__tests__/LocationPlugin.test.js
  public/css/plugins/location.css
  required-pages/29AEF3F9-206F-4478-B79D-6C3A08307FE7.md
  tests/e2e/location-plugin.spec.js
Due: eslint --fix, markdownlint --fix

docs: clarify LocationPlugin embed requires coordinates
  CODE_STANDARDS.md
  docs/TODO.md
  docs/plugins/LocationPlugin.md
  required-pages/29AEF3F9-206F-4478-B79D-6C3A08307FE7.md
Due: markdownlint --fix

Updated content
  required-pages/29AEF3F9-206F-4478-B79D-6C3A08307FE7.md
Due: markdownlint --fix

feat: show live import progress in preview table (#241)
  docs/project_log.md
  src/managers/ImportManager.ts
  src/routes/WikiRoutes.ts
  views/admin-import.ejs
Due: eslint --fix, markdownlint --fix

feat: simplify search UI and add attachment search (#237)
  docs/project_log.md
  src/routes/WikiRoutes.ts
  views/search-results.ejs
Due: eslint --fix, markdownlint --fix

Updated content
  docs/TODO.md
Due: markdownlint --fix

fix: render search snippet highlighting correctly
  views/search-results.ejs
Due: none

fix: use backslash line breaks instead of <br> in JSPWiki converter
  scripts/migrate-br-to-backslash.js
  src/converters/JSPWikiConverter.ts
Due: eslint --fix

fix: improve search results display and dark mode contrast (#237)
  docs/project_log.md
  public/css/style.css
  views/search-results.ejs
Due: markdownlint --fix

docs: add Performance Optimization page (#250)
  required-pages/e67d5e25-76d4-43fb-bce0-6f7675654f17.md
  src/converters/__tests__/JSPWikiConverter.test.js
Due: markdownlint --fix

docs: update project_log with session 2026-02-11-03
  docs/project_log.md
Due: markdownlint --fix

feat: make session and page index storage paths configurable
  app.js
  config/app-default-config.json
  plugins/RecentChangesPlugin.ts
Due: eslint --fix

chore: update package-lock.json version to 1.5.11
  package-lock.json
Due: none

feat: change backup filename to date-first format
  src/managers/BackupManager.ts
Due: eslint --fix

docs: update project_log with session 2026-02-11-04
  docs/project_log.md
Due: markdownlint --fix

Updated contents
  docs/TODO.md
Due: markdownlint --fix
