Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix"
  ],
  "*.md": [
    "markdownlint --fix"
  ]
}

docs: add Kiosk Mode required-page (system-category: documentation)
  required-pages/7e3a1b2c-4f5d-4e8a-9c6b-0d1e2f3a4b5c.md
Due: markdownlint --fix

docs: add project log for session 2026-04-07-10 (reader-mode slideshow #482)
  docs/project_log.md
Due: markdownlint --fix

fix: remove duplicate User Keywords required-page (6f027ce7 duplicated e3bc8a66)
  required-pages/6f027ce7-dc75-48f3-9038-80990168d082.md
Due: markdownlint --fix

feat: ConfigAccessorPlugin — add policies, authMethods, features, permissionsList types (#481)
  config/app-default-config.json
  plugins/ConfigAccessorPlugin.ts
Due: eslint --fix

fix: drop name field from permissions.definitions — key is the canonical name
  config/app-default-config.json
Due: none

docs: rewrite ConfigAccessorPlugin required-page — concise, example-driven format (#481)
  required-pages/b7980f86-b9a0-42ba-b810-9f414fb6d399.md
Due: markdownlint --fix

chore: update project log for session 2026-04-07-11 (#481)
  docs/project_log.md
Due: markdownlint --fix

docs: add Supported File Types required-page (#440)
  required-pages/b957e4a8-5457-4371-95f0-40e86e1691b3.md
Due: markdownlint --fix

chore: update project log for session 2026-04-07-12 (#440)
  docs/project_log.md
Due: markdownlint --fix

chore: fix PM2 app name to 'ngdpbase' — survives directory renames
  ecosystem.config.js
Due: none

chore: bump version to 3.2.0 in package-lock.json
  package-lock.json
Due: none

fix: correct stale JSDoc config key paths in mail providers
  src/mail/MailProvider.ts
  src/mail/NodemailerMailProvider.ts
Due: eslint --fix

feat: add ApiContext for typed API route auth (#488)
  src/context/ApiContext.ts
  src/types/express.d.ts
Due: eslint --fix

docs: document ApiContext as MUST/SHOULD standard for addon routes (#488)
  docs/platform/addon-development-guide.md
Due: markdownlint --fix

docs: clarify ApiContext handles anonymous callers on public routes
  docs/platform/addon-development-guide.md
Due: markdownlint --fix

test: add ApiContext test suite — 24 cases (#488)
  src/context/__tests__/ApiContext.test.js
Due: none

chore: update project log for session 2026-04-08-01 (#464)
  docs/project_log.md
Due: markdownlint --fix

feat: convert calendar addon to TypeScript — Phase 1 (#464)
  addons/calendar/index.ts
  addons/calendar/managers/CalendarDataManager.js
  addons/calendar/managers/CalendarDataManager.ts
  addons/calendar/package-lock.json
  addons/calendar/package.json
  addons/calendar/plugins/CalendarPlugin.ts
  addons/calendar/routes/api.js
  addons/calendar/routes/api.ts
  addons/calendar/tsconfig.json
  eslint.config.mjs
Due: eslint --fix

feat(calendar): Phase 2 — extend CalendarDataManager with RFC 5545, conflict detection, and MarqueePlugin
  addons/calendar/index.ts
  addons/calendar/managers/CalendarDataManager.ts
  addons/calendar/plugins/CalendarPlugin.ts
Due: eslint --fix

feat(calendar): Phase 3 — routes/api.ts with ApiContext auth and .ics feed
  addons/calendar/routes/api.ts
  addons/calendar/tsconfig.json
Due: eslint --fix

feat(calendar): Phase 4 — reservations route and CalendarConfig type
  addons/calendar/index.ts
  addons/calendar/managers/CalendarConfig.ts
  addons/calendar/routes/reservations.ts
Due: eslint --fix

feat(calendar): Phase 5 — admin route and calendar management view
  addons/calendar/index.ts
  addons/calendar/routes/admin.ts
  views/admin-calendar.ejs
Due: eslint --fix

feat(calendar): Phase 7+8 — CalendarPlugin modal support and full index wiring
  addons/calendar/index.ts
  addons/calendar/plugins/CalendarPlugin.ts
  addons/calendar/public/js/calendar-modal.js
  eslint.config.mjs
Due: eslint --fix

chore: update project log for session 2026-04-08-02 (#464)
  docs/project_log.md
Due: markdownlint --fix

fix: initialize addons after session middleware so req.userContext is populated
  addons/calendar/tsconfig.json
  src/WikiEngine.ts
  src/app.ts
  src/types/WikiEngine.ts
Due: eslint --fix

chore: update project log for session 2026-04-08-03 (#464)
  docs/project_log.md
Due: markdownlint --fix

chore: mark all #464 checklist items complete in project log
  docs/project_log.md
Due: markdownlint --fix

docs: add calendar addon developer docs and end-user wiki pages
  addons/calendar/docs/README.md
  addons/calendar/docs/api-reference.md
  addons/calendar/docs/configuration.md
  addons/calendar/docs/data-model.md
  addons/calendar/pages/09bb8508-cac0-4f40-8304-71da0d33ff0f.md
  addons/calendar/pages/52015813-67c6-4d8d-a6b5-eac740081e3e.md
  addons/calendar/pages/b372a841-9ba6-4db4-85b2-083753ea7e13.md
  addons/calendar/pages/d3c0d075-0c69-427c-bf99-0abe2e029d84.md
Due: markdownlint --fix

fix: build addon in-place and gitignore build artifacts
  .gitignore
  package.json
Due: none

chore: update project log for session 2026-04-08-04
  docs/project_log.md
Due: markdownlint --fix

chore: bump version to 3.3.0
  CHANGELOG.md
  config/app-default-config.json
  package-lock.json
  package.json
Due: markdownlint --fix

fix: addon tsconfig — disable declaration emit, install deps before build
  addons/calendar/tsconfig.json
  package.json
Due: none

fix: derive PM2 app name from PROJECT_NAME in .env
  ecosystem.config.js
Due: none

set application-name to ngdp-instance for default
  config/app-default-config.json
  ecosystem.config.js
  server.sh
Due: none

fix: derive PM2 app name from app-custom-config.json application-name
  ecosystem.config.js
  server.sh
Due: none

chore: update project log for session 2026-04-08-05
  docs/project_log.md
Due: markdownlint --fix

docs: update and add required-pages documentation
  required-pages/2290f5f9-6d65-4ffc-b8d5-2002054e2267.md
  required-pages/2578793a-fa85-4db5-9550-b951ffa785fd.md
  required-pages/51666223-22ef-4143-a34c-5902a3cf1ce0.md
  required-pages/85257e27-5019-4f6d-b8e7-9ed1770841e0.md
  required-pages/987297ce-9a2e-4525-bad2-95f1e74d772b.md
  required-pages/a81e393e-4c2a-4152-8b5e-0465d5a82cba.md
  required-pages/af7e04ad-de94-4557-b3f5-51da12b169ab.md
  required-pages/b03c0bad-0b72-49c7-8810-cd6e14149938.md
  required-pages/ba8aab65-995d-421c-a997-34def8aaf3db.md
  required-pages/e1cc9c1d-bd53-4cf9-916a-fda0e31a3e2f.md
Due: markdownlint --fix

fix: use live UUID for Export required page
  required-pages/4c539a9f-c852-4609-94ac-7c582fd1f3ca.md
Due: markdownlint --fix

fix: escape plugin syntax in Editing a Page autocomplete section
  required-pages/51666223-22ef-4143-a34c-5902a3cf1ce0.md
Due: markdownlint --fix

fix: use [[ escape for literal brackets in Editing a Page
  required-pages/51666223-22ef-4143-a34c-5902a3cf1ce0.md
Due: markdownlint --fix
