Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-21-07
  docs/project_log.md
Due: markdownlint --fix

chore: bump version 3.3.3 → 3.3.4 (patch)
  CHANGELOG.md
  config/app-default-config.json
  package.json
Due: markdownlint --fix

fix(#553): repair footnote URLs — resolve interwiki refs, strip |target= attribute suffix
  scripts/migrate-footnotes-to-sidecar.mjs
  scripts/repair-footnote-urls.mjs
  src/parsers/handlers/InterWikiLinkHandler.ts
Due: eslint --fix

docs: update project log for session 2026-04-21-08
  docs/project_log.md
Due: markdownlint --fix

fix(#553): CommentsPlugin.execute missing params argument — noheader never applied
  src/plugins/CommentsPlugin.ts
Due: eslint --fix

docs: update project log for session 2026-04-21-09
  docs/project_log.md
Due: markdownlint --fix

fix: move private page file when creator changes within private location
  src/providers/VersioningFileProvider.ts
Due: eslint --fix

Revert "fix: move private page file when creator changes within private location"
  src/providers/VersioningFileProvider.ts
Due: eslint --fix

fix: move private page file via PageManager when page-creator changes
  src/managers/PageManager.ts
  src/providers/BasePageProvider.ts
  src/providers/FileSystemProvider.ts
  src/providers/VersioningFileProvider.ts
  src/types/Provider.ts
Due: eslint --fix

feat: add POST /api/admin/cache/clear/page/:identifier to evict single page from cache
  src/providers/BasePageProvider.ts
  src/providers/FileSystemProvider.ts
  src/routes/WikiRoutes.ts
  src/types/Provider.ts
Due: eslint --fix

docs: update project log for session 2026-04-21-10
  docs/project_log.md
Due: markdownlint --fix

fix(#556): allow page authors to toggle author-lock on their own pages
  docs/GLOSSARY.md
  required-pages/4b351c31-9d55-47cf-9948-8b621cfe225d.md
  required-pages/c45b67f2-1b4b-4ee9-9672-d06738e490cf.md
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-21-11
  docs/project_log.md
Due: markdownlint --fix

chore: update TODO notes and package-lock
  docs/TODO.md
  package-lock.json
Due: markdownlint --fix

docs: update project log for session 2026-04-21-12
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-04-21-13
  docs/project_log.md
Due: markdownlint --fix

fix(#558): flush MarkupParser handler cache after comment/footnote mutations
  src/managers/BaseManager.ts
  src/managers/CommentManager.ts
  src/managers/FootnoteManager.ts
  src/managers/PageManager.ts
  src/managers/RenderingManager.ts
Due: eslint --fix

docs: update project log for session 2026-04-22-01
  docs/project_log.md
Due: markdownlint --fix

chore: bump version 3.3.4 → 3.3.5 (patch)
  CHANGELOG.md
  config/app-default-config.json
  package.json
Due: markdownlint --fix

chore: add frontmatter to Using Metrics required page and sync package-lock
  package-lock.json
  required-pages/c92e1ff2-e038-4a49-8fd9-5ced0c318201.md
Due: markdownlint --fix

docs: update project log for session 2026-04-22-02
  docs/project_log.md
Due: markdownlint --fix

feat(#569): add pageSize= and page= parameters to ConfigAccessorPlugin
  src/plugins/ConfigAccessorPlugin.ts
Due: eslint --fix

docs: update project log for session 2026-04-22-03
  docs/project_log.md
Due: markdownlint --fix

fix(#559,#560): resolve TS2698 and TS2352 production compiler warnings
  src/managers/ConfigurationManager.ts
Due: eslint --fix

fix(#560): add null overload to IConfigManager to resolve TS2352
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs(ConfigAccessorPlugin): update required-page with pageSize/page params and end-user improvements
  required-pages/b7980f86-b9a0-42ba-b810-9f414fb6d399.md
Due: markdownlint --fix

docs: update project log for session 2026-04-22-04
  docs/project_log.md
Due: markdownlint --fix

feat(#557): replace page-creator with author for private page ACL ownership
  addons/journal/routes/api.ts
  addons/journal/routes/editor.ts
  src/managers/ACLManager.ts
  src/managers/PageManager.ts
  src/managers/__tests__/ACLManager.test.ts
  src/providers/BasePageProvider.ts
  src/providers/FileSystemProvider.ts
  src/providers/LunrSearchProvider.ts
  src/providers/VersioningFileProvider.ts
  src/routes/WikiRoutes.ts
  src/types/Provider.ts
Due: eslint --fix

docs: update project log for session 2026-04-22-06
  docs/project_log.md
Due: markdownlint --fix

feat(#552): allow apostrophes in page titles and page names
  src/routes/WikiRoutes.ts
  src/routes/__tests__/WikiRoutes.titleValidation.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-22-07
  docs/project_log.md
Due: markdownlint --fix

Added skills
  .claude/commands/othersites.md
  .claude/commands/semver.md
Due: markdownlint --fix

docs: add plugin-formatters.md — developer reference for pluginFormatters utilities
  docs/plugins/plugin-formatters.md
Due: markdownlint --fix

docs: update project log for session 2026-04-22-08
  docs/project_log.md
Due: markdownlint --fix

fix(#555): add print pagination CSS to Reader Mode
  views/reader.ejs
Due: none

feat(#457): email escalation for warning/error notifications
  config/app-default-config.json
  src/managers/NotificationManager.ts
  src/managers/__tests__/NotificationManager.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
