Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

feat(#434,#435,#437): AssetManager health checking; retire AssetService legacy fallback
  docs/planning/AssetManager-DAM-Summary.md
  src/managers/AssetManager.ts
  src/managers/AssetService.ts
  src/managers/__tests__/AssetManager.test.js
  src/managers/__tests__/AssetService.test.js
  src/providers/BasicAttachmentProvider.ts
  src/providers/FileSystemMediaProvider.ts
  src/types/Asset.ts
Due: eslint --fix, markdownlint --fix

docs: update project_log for 2026-04-02 session (#434 #435 #437)
  docs/project_log.md
Due: markdownlint --fix

chore: bump version 3.0.11 → 3.0.12 (patch)
  CHANGELOG.md
  config/app-default-config.json
  package.json
Due: markdownlint --fix

docs(#436): AssetProvider implementation guide for plugin authors
  docs/managers/AssetService.md
  docs/providers/AssetProvider-Guide.md
Due: markdownlint --fix

docs: update project_log for 2026-04-02-02 session (#436)
  docs/project_log.md
Due: markdownlint --fix

docs(#436): update Developer-Documentation.md index — add missing managers and providers
  docs/Developer-Documentation.md
Due: markdownlint --fix

feat(#438): pageAssets reverse index — O(1) lookup of assets used by a page
  src/managers/AssetManager.ts
  src/managers/__tests__/AssetManager.test.js
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix: LeftMenu "About You" link — use pipe syntax for page name mismatch
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
Due: markdownlint --fix

updated content
  CHANGELOG.md
  config/app-default-config.json
  docs/project_log.md
  package.json
Due: markdownlint --fix

Update to config/app-custom-config.example
  config/app-custom-config.example
  package-lock.json
Due: none

feat: add Fairways theme (golf-green palette, real logo/favicon)
  themes/fairways/assets/favicon.png
  themes/fairways/assets/favicon.svg
  themes/fairways/assets/logo.png
  themes/fairways/css/variables.css
  themes/fairways/theme.json
Due: none

fix: correct Fairways theme palette — cream bg, slate blue accents, light navbar
  themes/fairways/css/variables.css
  themes/fairways/theme.json
Due: none

fix: use golfer icon (icon.png) as favicon — remove placeholder SVG
  themes/fairways/assets/favicon.svg
Due: none

feat: update LeftMenu with Fairways navigation (Home, Search, Amenities, News, About Us, Members Only)
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
Due: markdownlint --fix

fix: unify media search through AssetManager; fix empty query returning no results
  src/providers/FileSystemMediaProvider.ts
  src/routes/WikiRoutes.ts
  views/media-search.ejs
  views/search-results.ejs
Due: eslint --fix

feat: add Google OIDC auth, /admin/login route, fix test data isolation
  CHANGELOG.md
  app.js
  config/app-default-config.json
  jest.setup.js
  package-lock.json
  package.json
  src/__tests__/WikiEngine.test.js
  src/managers/AuthManager.ts
  src/managers/__tests__/AuthManager.test.js
  src/managers/__tests__/ConfigurationManager.test.js
  src/managers/__tests__/policy-system.test.js
  src/providers/GoogleOIDCProvider.ts
  src/routes/WikiRoutes.ts
  src/types/User.ts
  tests/e2e/admin-maintenance.spec.js
  tests/e2e/auth.setup.js
  tests/e2e/auth.spec.js
  views/login.ejs
Due: eslint --fix, markdownlint --fix

chore: update project log for session 2026-04-04-01
  docs/project_log.md
Due: markdownlint --fix

feat: left-menu-content/footer-content overrides; fix addon seeder UUID filenames
  src/managers/AddonsManager.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

chore: update project log for session 2026-04-04-02
  docs/project_log.md
Due: markdownlint --fix

chore: update LeftMenu required-page with current Fairways nav
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
Due: markdownlint --fix

chore: run npm install to resolve google-auth-library in ngdpbase
  package-lock.json
Due: none

docs: document addon seed pages and left-menu-content/footer-content override pattern
  docs/platform/addon-development-guide.md
Due: markdownlint --fix

chore: update project log for session 2026-04-04-03
  docs/project_log.md
Due: markdownlint --fix

docs: add documentation page for customizing left menu and footer
  docs/project_log.md
  required-pages/a2c48b2d-8c91-43f5-9657-bc1d11315b66.md
Due: markdownlint --fix

docs: add required-pages for customizing left-menu-content and footer-content overrides
  required-pages/ecd2e0cf-8ffa-4a73-85b4-448614e656e4.md
  required-pages/ed7d1b78-76c1-435d-8e12-9e0eb3d1ba94.md
Due: markdownlint --fix

feat: stale-build detection in server.sh; required-page sync protection + admin Web Notifications
  public/js/admin-events.js
  server.sh
  src/routes/WikiRoutes.ts
  views/admin-required-pages.ejs
  views/header.ejs
Due: eslint --fix

docs: update override docs to mention addon seeding; add docs/platform/page-overrides.md
  docs/platform/page-overrides.md
  required-pages/ecd2e0cf-8ffa-4a73-85b4-448614e656e4.md
  required-pages/ed7d1b78-76c1-435d-8e12-9e0eb3d1ba94.md
Due: markdownlint --fix

feat: show base URL on server startup
  server.sh
Due: none

fix: page history shows Invalid Date — use v.timestamp not v.dateCreated (#455)
  src/routes/WikiRoutes.ts
  views/page-history.ejs
Due: eslint --fix

docs: add local .env paths to AGENTS.md
  AGENTS.md
Due: markdownlint --fix

chore: update project log for session 2026-04-04-04
  docs/project_log.md
Due: markdownlint --fix

Updated heading
  docs/project_log.md
Due: markdownlint --fix

test: add seed pages unit tests and expand docs for #442
  docs/platform/addon-development-guide.md
  src/managers/__tests__/AddonsManager.test.js
Due: markdownlint --fix

chore: update project log for session 2026-04-05-01
  docs/project_log.md
Due: markdownlint --fix

fix: auto-migration renames slug-named pages to {uuid}.md (#450)
  src/providers/VersioningFileProvider.ts
  src/providers/__tests__/VersioningFileProvider.test.js
Due: eslint --fix

chore: update project log for session 2026-04-05-02
  docs/project_log.md
Due: markdownlint --fix

feat: add EmailManager with pluggable SMTP transport (#456)
  config/app-default-config.json
  docs/admin/email-setup.md
  docs/planning/email-manager-plan.md
  src/WikiEngine.ts
  src/managers/AuthManager.ts
  src/managers/EmailManager.ts
  src/managers/__tests__/AuthManager.test.js
  src/managers/__tests__/EmailManager.test.js
Due: eslint --fix, markdownlint --fix

chore: update project log for session 2026-04-05-03
  docs/project_log.md
Due: markdownlint --fix

fix: only register EmailManager when ngdpbase.mail.enabled is true
  src/WikiEngine.ts
  src/managers/EmailManager.ts
  src/managers/__tests__/EmailManager.test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
