Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

fix(forms): properly handle ApiError in forms admin route catch blocks
  addons/forms/routes/admin.js
  addons/forms/routes/admin.ts
Due: eslint --fix

docs: update project log for session 2026-04-23-10
  docs/project_log.md
Due: markdownlint --fix

feat(#581): add /addons/elasticsearch admin status page
  addons/elasticsearch/index.ts
  addons/elasticsearch/routes/admin.ts
  addons/elasticsearch/tsconfig.json
  addons/elasticsearch/views/admin-elasticsearch.ejs
Due: eslint --fix

docs: update project log for session 2026-04-23-11
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-04-23-12
  docs/project_log.md
Due: markdownlint --fix

chore(deps): upgrade hono/follow-redirects via npm audit fix; dismiss uuid alert
  addons/calendar/package-lock.json
  addons/calendar/package.json
  addons/forms/package-lock.json
  addons/forms/package.json
  addons/journal/package-lock.json
  addons/journal/package.json
  package-lock.json
  package.json
Due: none

docs: update project log for session 2026-04-23-13
  docs/project_log.md
Due: markdownlint --fix

fix(#578): migrate to moduleResolution Node16, remove deprecated options
  addons/elasticsearch/src/Sist2AssetProvider.ts
  src/managers/AuditManager.ts
  src/managers/SearchManager.ts
  src/providers/ElasticsearchSearchProvider.ts
  tsconfig.json
Due: eslint --fix

docs(#575): rename 21 plugin pages to "Using <Name>Plugin" convention
  docs/proper-documentation-pages.md
  required-pages/06F04848-8226-403B-9EC6-5420E4E0C0FE.md
  required-pages/208fecc6-fde1-4463-a865-3a2b62e1cea7.md
  required-pages/293dea72-81dc-4494-9827-abb3505cce46.md
  required-pages/2F27D2A7-9419-4C50-AD5E-83402EABAA06.md
  required-pages/2db43b31-8316-417e-8cc5-d3306996512a.md
  required-pages/3C6B55E5-5262-4686-A436-7BFD5479BCC1.md
  required-pages/4c0c0fa8-66dc-4cb3-9726-b007f874700c.md
  required-pages/654a0565-a16f-46aa-b1ec-8f2dc0adc592.md
  required-pages/6bdacfac-300d-4d89-ad4a-2acc98e12bc5.md
  required-pages/70416655-ace4-4440-8ae6-8fed7587a94f.md
  required-pages/7b487295-af7e-4b4a-a2cb-6e3b6877a413.md
  required-pages/7e3a1b2c-4f5d-4e8a-9c6b-0d1e2f3a4b5c.md
  required-pages/84FC114E-8E05-40E9-AD5F-5222236B5F63.md
  required-pages/8d2c3b4a-9e1f-4c5d-a6b7-7e8f9a0b1c2d.md
  required-pages/96A0B2F6-13D7-44C6-B541-B4E1A90E2DC7.md
  required-pages/9f3a4b2c-5d1e-4a8f-b2c9-8e7f6d5c4a3b.md
  required-pages/E2BC4BF9-4DDB-40DD-8CE5-C418EE7FCC08.md
  required-pages/a433c5a4-905a-448a-a0d3-dc063163d6f6.md
  required-pages/a4f9c2e1-7b3d-4a85-9e6f-1c2d3b4a5e6f.md
  required-pages/a5e68176-258a-40e8-8f6b-f86729b06cd5.md
  required-pages/b780e809-d45b-4c4b-84ec-ad30a74a3605.md
  required-pages/bb03859d-eb3f-449e-b78b-7fef30082098.md
  required-pages/cfb76570-1bed-4ad0-a72d-6bb44cdabc7a.md
  required-pages/d14ef7c7-299a-4729-a457-452679569ca9.md
  required-pages/d1ee72a5-84fd-4b97-bb77-56ec7751f9d7.md
  required-pages/d96b072e-aebf-48e2-a5aa-2ffcc4daa821.md
  required-pages/e36d72ac-3d76-4fc8-9e55-47dfeb09d456.md
  required-pages/f1f41a47-8d0d-4d46-a5e2-6208ba42e4a0.md
  required-pages/fe7a378d-dfa5-4e37-9891-637568ebe0b4.md
  required-pages/ff2c3a6d-fdfc-479f-90e3-585dc2b3abd0.md
Due: markdownlint --fix

docs: update project log for session 2026-04-23-14
  docs/project_log.md
Due: markdownlint --fix

fix(#582): fix final 2 Vitest test failures — 118/118 passing
  addons/forms/__tests__/FormsPlugin.test.ts
  src/routes/__tests__/routes.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-23-15
  docs/project_log.md
Due: markdownlint --fix

fix: resolve DOM type errors blocking build (HTMLElement/Element → LinkedomElement)
  src/converters/HtmlConverter.ts
  src/parsers/MarkupParser.ts
  src/parsers/dom/handlers/DOMPluginHandler.ts
  src/types/linkedom.d.ts
Due: eslint --fix

docs: update project log for session 2026-04-23-16
  docs/project_log.md
Due: markdownlint --fix

fix(#579): add ESM __dirname shim to playwright.config.ts
  playwright.config.ts
Due: eslint --fix

docs: update project log for session 2026-04-23-17
  docs/project_log.md
Due: markdownlint --fix

feat(#583): migrate all addon source files to ESM — remove CJS shims, add .js extensions, type:module
  addons/calendar/index.ts
  addons/calendar/managers/CalendarDataManager.ts
  addons/calendar/package.json
  addons/calendar/plugins/CalendarPlugin.ts
  addons/calendar/routes/admin.ts
  addons/calendar/routes/api.ts
  addons/calendar/routes/reservations.ts
  addons/elasticsearch/index.ts
  addons/elasticsearch/package.json
  addons/elasticsearch/routes/admin.ts
  addons/elasticsearch/src/Sist2AssetProvider.ts
  addons/forms/index.js
  addons/forms/index.ts
  addons/forms/managers/FormsDataManager.js
  addons/forms/managers/FormsDataManager.ts
  addons/forms/package.json
  addons/forms/plugins/FormsPlugin.ts
  addons/forms/routes/admin.js
  addons/forms/routes/admin.ts
  addons/forms/routes/api.ts
  addons/forms/routes/builder.js
  addons/forms/routes/builder.ts
  addons/journal/index.ts
  addons/journal/managers/JournalDataManager.ts
  addons/journal/managers/JournalTemplateManager.ts
  addons/journal/package.json
  addons/journal/plugins/JournalPlugin.ts
  addons/journal/routes/admin.ts
  addons/journal/routes/api.ts
  addons/journal/routes/editor.ts
  addons/journal/routes/helpers.ts
  addons/journal/routes/public.ts
Due: eslint --fix

docs: update project log for session 2026-04-23-18
  docs/project_log.md
Due: markdownlint --fix

perf(#250): add rendered HTML cache read-through in viewPage()
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for session 2026-04-23-19
  docs/project_log.md
Due: markdownlint --fix

docs: update technical demo guide and Why Use This Platform for current state
  docs/demo/technical.md
  required-pages/f824a107-4ba1-4610-bad8-63f57bfaa338.md
Due: markdownlint --fix

added content
  docs/TODO.md
  docs/demo/technical.md
Due: markdownlint --fix

fix: guard adminRequiredPages against malformed YAML in live data copies
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix(#584): pass pattern as second arg to cacheManager.clear() so rendered-page cache is actually invalidated on save/delete/rename
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for session 2026-04-24-01
  docs/project_log.md
Due: markdownlint --fix

Add content
  docs/demo/technical.md
Due: markdownlint --fix

fix(#586): do not evict pageCache in invalidatePageCache — only content cache should be cleared
  src/providers/FileSystemProvider.ts
Due: eslint --fix

docs: update project log for session 2026-04-24-02
  docs/project_log.md
Due: markdownlint --fix

fix(#586): clear rendered HTML cache in invalidatePageCache so footnote/comment changes are visible immediately
  src/providers/FileSystemProvider.ts
Due: eslint --fix

refactor(#586): move rendered HTML cache clearing from FileSystemProvider to PageManager
  src/managers/PageManager.ts
  src/providers/BasePageProvider.ts
  src/providers/FileSystemProvider.ts
  src/routes/WikiRoutes.ts
  src/types/Provider.ts
Due: eslint --fix

fix(#586,#585): await cache flush before API response; restore active tab after plugin reload
  src/plugins/CommentsPlugin.ts
  src/plugins/FootnotesPlugin.ts
  src/providers/FileSystemProvider.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for session 2026-04-24-03
  docs/project_log.md
Due: markdownlint --fix

fix(#589): defer tab restore click until window.load so Bootstrap is ready
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix(#586,#590): clear MarkupParser parseResults cache on footnote/comment mutation
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for session 2026-04-24-04
  docs/project_log.md
Due: markdownlint --fix

feat(#588): key rendered-pages cache on UUID instead of page title
  src/managers/PageManager.ts
  src/managers/__tests__/PageManager.test.ts
  src/providers/BasePageProvider.ts
  src/providers/FileSystemProvider.ts
  src/providers/__tests__/FileSystemProvider.test.ts
  src/routes/WikiRoutes.ts
  src/types/Provider.ts
Due: eslint --fix

docs: update project log for session 2026-04-24-05
  docs/project_log.md
Due: markdownlint --fix

fix(#587): prevent duplicate page titles in index and save paths
  src/managers/PageManager.ts
  src/managers/__tests__/PageManager.test.ts
  src/providers/VersioningFileProvider.ts
  src/providers/__tests__/VersioningFileProvider.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
