Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

docs: update SERVER-MANAGEMENT.md with correct stop sequence (#231)
  docs/SERVER-MANAGEMENT.md
Due: markdownlint --fix

fix: change ImagePlugin default display from 'float' to 'block' (#236)
  plugins/ImagePlugin.ts
Due: eslint --fix

feat: add Insert button to Browse Attachments when editing (#232)
  views/browse-attachments.ejs
  views/edit.ejs
  views/header.ejs
Due: none

docs: add user-facing Attachments documentation (#232)
  docs/managers/AttachmentManager.md
  required-pages/96A0B2F6-13D7-44C6-B541-B4E1A90E2DC7.md
Due: markdownlint --fix

feat: implement thumbnail generation with Sharp (#232)
  package-lock.json
  package.json
  plugins/__tests__/ImagePlugin.test.js
  src/parsers/handlers/AttachmentHandler.ts
Due: eslint --fix

docs: update project_log with session summary
  docs/project_log.md
Due: markdownlint --fix

chore: bump version to 1.5.9
  CHANGELOG.md
  package.json
Due: markdownlint --fix

fix: version.ts now updates app-default-config.json
  config/app-default-config.json
  src/utils/version.ts
Due: eslint --fix

docs: update CONTRIBUTING.md version management section
  CONTRIBUTING.md
Due: markdownlint --fix

docs: update project_log with version management fix
  docs/project_log.md
Due: markdownlint --fix

feat(mcp): add attachment upload tools to MCP server
  mcp-server.ts
  tsconfig.json
Due: eslint --fix

docs: update project_log with MCP upload tools session
  docs/project_log.md
Due: markdownlint --fix

Updates to MCP server Doc
  docs/MCP-SERVER.md
Due: markdownlint --fix

Updates one-time bulk imports
  package-lock.json
  scripts/test-bulk-import.js
  scripts/test-mcp-bulk-upload.js
Due: none

fix: strip page paths from Image src during JSPWiki import
  src/converters/JSPWikiConverter.ts
  src/converters/__tests__/JSPWikiConverter.test.js
Due: eslint --fix

docs: update project_log with JSPWiki image path fix
  docs/project_log.md
Due: markdownlint --fix

Updated Content
  docs/TODO.md
Due: markdownlint --fix

feat(import): extract JSPWiki %%category%% blocks to user-keywords
  src/converters/JSPWikiConverter.ts
  src/converters/__tests__/JSPWikiConverter.test.js
Due: eslint --fix

docs: update project_log with JSPWiki category extraction
  docs/project_log.md
Due: markdownlint --fix

feat(import): register extracted JSPWiki categories to config
  src/managers/ImportManager.ts
Due: eslint --fix

docs: update project_log with ImportManager category registration
  docs/project_log.md
Due: markdownlint --fix

feat: add JSPWiki status boxes and unified %% closing syntax (#235)
  src/converters/JSPWikiConverter.ts
  src/converters/__tests__/JSPWikiConverter.test.js
  src/parsers/MarkupParser.ts
Due: eslint --fix

docs: update project_log with status boxes feature
  docs/project_log.md
Due: markdownlint --fix

refactor(ui): replace redundant image upload with attachment buttons (#243)
  views/edit.ejs
Due: none

docs: update project_log with edit page UI cleanup
  docs/project_log.md
Due: markdownlint --fix

feat: add user-keyword creation form for editors (#242)
  src/routes/WikiRoutes.ts
  views/user-keyword-create.ejs
Due: eslint --fix

docs: update project_log with user-keyword form feature
  docs/project_log.md
Due: markdownlint --fix

fix: remove eslint-disable from apiGetUserKeywords
  src/routes/WikiRoutes.ts
Due: eslint --fix

Update content
  docs/TODO.md
Due: markdownlint --fix

feat: auto-create wiki page for new user-keywords (#240)
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project_log with user-keyword page auto-creation
  docs/project_log.md
Due: markdownlint --fix

fix: implement deep-merge for object-type config properties (#244)
  docs/TODO.md
  docs/project_log.md
  src/managers/ConfigurationManager.ts
  src/managers/__tests__/ConfigurationManager.test.js
Due: eslint --fix, markdownlint --fix

docs: update project_log with commit hash for #244
  docs/project_log.md
Due: markdownlint --fix

fix: handle numeric page titles in YAML frontmatter
  src/managers/ImportManager.ts
  src/providers/FileSystemProvider.ts
Due: eslint --fix

docs: mark localeCompare bug as fixed in TODO
  docs/TODO.md
Due: markdownlint --fix

fix: ensure string type in deletePage cache cleanup (#246)
  src/providers/FileSystemProvider.ts
Due: eslint --fix

Updated content
  docs/TODO.md
Due: markdownlint --fix

fix: handle numeric titles/slugs and improve delete page flow (#246)
  docs/project_log.md
  package-lock.json
  package.json
  src/providers/FileSystemProvider.ts
  src/routes/WikiRoutes.ts
  src/routes/__tests__/routes.test.js
  views/header.ejs
  views/view.ejs
Due: eslint --fix, markdownlint --fix

docs: update project_log and TODO for #246 fix
  docs/TODO.md
  docs/project_log.md
Due: markdownlint --fix

perf: incremental save/delete for large wikis (#245)
  config/app-default-config.json
  docs/TODO.md
  docs/project_log.md
  src/managers/RenderingManager.ts
  src/routes/WikiRoutes.ts
  src/routes/__tests__/routes.test.js
Due: eslint --fix, markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
