Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

feat: update volcano theme favicon with eruption glow and lava sparks
  themes/volcano/assets/favicon.svg
Due: none

fix: theme favicon no longer overridden by default config; add SVG type to link tag
  src/managers/ConfigurationManager.ts
  src/routes/WikiRoutes.ts
  views/header.ejs
Due: eslint --fix

feat: seed addon pages/ directory into instance on load (#410)
  src/managers/AddonsManager.ts
Due: eslint --fix

fix: upgrade vulnerable transitive deps — handlebars, path-to-regexp, brace-expansion, yaml (#413)
  package-lock.json
Due: none

fix: homePage() reads ngdpbase.front-page config instead of hardcoding Welcome
  src/routes/WikiRoutes.ts
Due: eslint --fix

feat: admin Add-ons page with enable/disable toggle (#412)
  src/routes/WikiRoutes.ts
  views/admin-addons.ejs
  views/admin-dashboard.ejs
Due: eslint --fix

fix: stop tests destroying live data dir; fix all failing test suites; bump 3.0.10
  CHANGELOG.md
  config/app-default-config.json
  docs/project_log.md
  package.json
  src/__tests__/WikiEngine.test.js
  src/managers/__tests__/AddonsManager.test.js
  src/managers/__tests__/policy-system.test.js
  src/parsers/__tests__/MarkupParser-EndToEnd.test.js
  src/providers/BasePageProvider.ts
  src/providers/VersioningFileProvider.ts
  src/providers/__tests__/VersioningFileProvider-Maintenance.test.js
  src/routes/__tests__/maintenance-mode.test.js
  src/routes/__tests__/routes.test.js
Due: eslint --fix, markdownlint --fix

fix: resolve slug-based front-page and rebuild required-pages index on slow-path init
  package-lock.json
  src/providers/VersioningFileProvider.ts
Due: eslint --fix

fix(#411): addon page conflict detection via front-matter provenance
  src/managers/AddonsManager.ts
  src/providers/VersioningFileProvider.ts
  src/types/Page.ts
Due: eslint --fix

feat: add system-category addon — config entry and de-hardcode category lists
  config/app-default-config.json
  docs/project_log.md
  src/managers/ValidationManager.ts
  src/routes/WikiRoutes.ts
  src/routes/__tests__/WikiRoutes-isRequiredPage.test.js
  src/routes/__tests__/routes.test.js
Due: eslint --fix, markdownlint --fix

docs: reformat 2026-03-31-01 project log entry to match defined template
  docs/project_log.md
Due: markdownlint --fix

fix(#417): empty query shows all pages; fix missing await on category/keyword search paths
  src/managers/SearchManager.ts
  src/providers/LunrSearchProvider.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: add project log entry for 2026-03-31-02 (#417 search fix)
  docs/project_log.md
Due: markdownlint --fix

feat(#418): PageManager seeds required-pages into provider on fresh install
  src/managers/PageManager.ts
Due: eslint --fix

fix: LeftMenu default — add Home/Search with icons, remove Browse Media
  docs/project_log.md
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
Due: markdownlint --fix

fix(#419): search badge escaping, pagination, and WikiPagination consistency
  src/routes/WikiRoutes.ts
  views/search-results.ejs
Due: eslint --fix

docs: project log entry for #419 search fixes
  docs/project_log.md
Due: markdownlint --fix

fix(#414): inject system-category: addon when seeding addon pages
  src/managers/AddonsManager.ts
Due: eslint --fix

feat(#415): addon domainDefaults via package.json ngdpbase key
  addons/template/package.json
  src/managers/AddonsManager.ts
  src/managers/ConfigurationManager.ts
  src/managers/__tests__/AddonsManager.test.js
Due: eslint --fix

feat(#396): AuthManager + AuthProvider pattern with magic link
  config/app-default-config.json
  package-lock.json
  package.json
  src/WikiEngine.ts
  src/mail/MailProvider.ts
  src/mail/NodemailerMailProvider.ts
  src/managers/AuthManager.ts
  src/managers/UserManager.ts
  src/managers/__tests__/AuthManager.test.js
  src/providers/BaseAuthProvider.ts
  src/providers/MagicLinkAuthProvider.ts
  src/providers/PasswordAuthProvider.ts
  src/providers/__tests__/MagicLinkAuthProvider.test.js
  src/routes/WikiRoutes.ts
  views/login.ejs
Due: eslint --fix

feat(#415): enforce single domain addon and expose type badge in admin UI
  src/managers/AddonsManager.ts
  src/managers/__tests__/AddonsManager.test.js
  views/admin-addons.ejs
Due: eslint --fix

feat(#405): Phase 1 — AssetProvider interface + unified AssetRecord
  src/managers/MediaManager.ts
  src/providers/BaseMediaProvider.ts
  src/providers/BasicAttachmentProvider.ts
  src/providers/FileSystemMediaProvider.ts
  src/types/Asset.ts
  src/types/index.ts
Due: eslint --fix

fix(#405): remove eslint-disable comments; use Promise.resolve() pattern instead
  src/providers/BasicAttachmentProvider.ts
Due: eslint --fix

refactor(#405): align AssetRecord field names with schema.org
  src/providers/BaseMediaProvider.ts
  src/providers/BasicAttachmentProvider.ts
  src/types/Asset.ts
Due: eslint --fix

feat(#405): Phase 2 — migrate AssetService to return AssetRecord
  src/managers/AssetService.ts
  src/managers/__tests__/AssetService.test.js
  src/routes/WikiRoutes.ts
  views/_asset-picker.ejs
Due: eslint --fix

feat(#405/#403): Phase 3 — decouple upload from page-linkage
  src/managers/AttachmentManager.ts
  src/routes/WikiRoutes.ts
  src/routes/__tests__/WikiRoutes.attachments.test.js
Due: eslint --fix

feat(#405/#403): Phase 4 — save-time content scan replaces lazy mention tracking
  src/managers/AttachmentManager.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

feat(#405): Phase 5 — structured EXIF/IPTC/XMP metadata engine
  src/providers/BaseMediaProvider.ts
  src/providers/BasicAttachmentProvider.ts
  src/providers/FileSystemMediaProvider.ts
  src/types/Asset.ts
  src/types/index.ts
Due: eslint --fix

feat(#405): Phase 6 — unified transform pipeline for thumbnails
  src/managers/AttachmentManager.ts
  src/providers/BasicAttachmentProvider.ts
  src/providers/FileSystemMediaProvider.ts
  src/routes/WikiRoutes.ts
  src/utils/imageTransform.ts
Due: eslint --fix

feat(#149): add server-side microdata to page view (Phase 1)
  views/view.ejs
Due: none

chore: bump version 3.0.10 → 3.0.11
  CHANGELOG.md
  config/app-default-config.json
  package.json
Due: markdownlint --fix

Updated
  package-lock.json
Due: none

fix: repair E2E logout and maintenance tests after upstream pull
  docs/project_log.md
  tests/e2e/admin-maintenance.spec.js
  tests/e2e/auth.spec.js
Due: markdownlint --fix

fix: server.sh respects PORT env var instead of hardcoding 3000
  server.sh
Due: none

fix(#427): playwright reads PORT from .env instead of hardcoding 3000
  playwright.config.js
Due: none

fix(#428,#429): pageHistory error rendering + mobile nav test page
  src/routes/WikiRoutes.ts
  tests/e2e/mobile-navigation.spec.js
Due: eslint --fix

feat(#426): update LeftMenu — rename EWKAY link and time-only format
  required-pages/d26ac975-3773-4144-a346-0d42c991eb1f.md
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
Due: markdownlint --fix

fix(#430): ecosystem.config.js loads .env; stop only kills this app
  ecosystem.config.js
  server.sh
Due: none

feat(#423): AssetManager provider registry with default providers
  src/WikiEngine.ts
  src/managers/AssetManager.ts
  src/managers/AssetService.ts
  src/managers/AttachmentManager.ts
  src/managers/MediaManager.ts
Due: eslint --fix

fix(#425): IndexPlugin '#' section collapse broken by invalid CSS selector
  plugins/IndexPlugin.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
