Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

fix: revert to backtick code spans for literal bracket display
  required-pages/51666223-22ef-4143-a34c-5902a3cf1ce0.md
Due: markdownlint --fix

fix: use HTML entity for literal brackets in Editing a Page (#493)
  required-pages/51666223-22ef-4143-a34c-5902a3cf1ce0.md
Due: markdownlint --fix

fix: plain [ is literal in markdown, only escape [{...}] plugin syntax
  required-pages/51666223-22ef-4143-a34c-5902a3cf1ce0.md
Due: markdownlint --fix

fix: escape [{ATTACH}] plugin syntax in Editing a Page attachments section (#493)
  required-pages/51666223-22ef-4143-a34c-5902a3cf1ce0.md
Due: markdownlint --fix

fix: universal [..] bracket scanner — fixes footnotes #496, adds [[escape
  src/managers/RenderingManager.ts
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-Comprehensive.test.js
  src/parsers/__tests__/MarkupParser-Extraction.test.js
Due: eslint --fix

fix: add userContext to getCommonTemplateData — fixes page history crash #495
  src/routes/WikiRoutes.ts
Due: eslint --fix

feat: re-parse style-block table cells for plugins/variables (#502 Phase A)
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-Comprehensive.test.js
Due: eslint --fix

feat: extract inline backtick spans as code DOM nodes (#502 Phase B, #493)
  required-pages/51666223-22ef-4143-a34c-5902a3cf1ce0.md
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-Comprehensive.test.js
  src/parsers/__tests__/MarkupParser-Extraction.test.js
Due: eslint --fix, markdownlint --fix

feat: extract appendWikiNodes helper, apply to style block non-table content (#502 Phase C)
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-Comprehensive.test.js
Due: eslint --fix

feat: resolve \$currentUser token in SearchPlugin author/editor params (#497)
  plugins/SearchPlugin.ts
  plugins/__tests__/SearchPlugin.test.js
  src/utils/__tests__/pluginFormatters.test.js
  src/utils/pluginFormatters.ts
Due: eslint --fix

feat: validate fenced code block language tags on page save
  config/app-default-config.json
  src/managers/ConfigurationManager.ts
  src/routes/WikiRoutes.ts
  src/types/Config.ts
Due: eslint --fix

fix: extract fenced code blocks as DOM nodes to prevent plugin execution (#503)
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-Extraction.test.js
  src/parsers/__tests__/MarkupParser.test.js
Due: eslint --fix

docs: update SearchPlugin page with \$currentUser params and live examples (#497)
  required-pages/2F27D2A7-9419-4C50-AD5E-83402EABAA06.md
Due: markdownlint --fix

feat: add sist2/Elasticsearch asset provider addon (#498)
  addons/elasticsearch/index.ts
  addons/elasticsearch/package-lock.json
  addons/elasticsearch/package.json
  addons/elasticsearch/src/Sist2AssetProvider.ts
  addons/elasticsearch/src/types.ts
  addons/elasticsearch/tsconfig.json
  eslint.config.mjs
  package.json
Due: eslint --fix

chore: bump version 3.3.0 → 3.3.1 (patch)
  CHANGELOG.md
  config/app-default-config.json
  package.json
Due: markdownlint --fix

feat(#498): role-based path filtering for sist2 asset provider
  addons/elasticsearch/index.ts
  addons/elasticsearch/src/Sist2AssetProvider.ts
  src/managers/AssetService.ts
  src/routes/WikiRoutes.ts
  src/types/Asset.ts
Due: eslint --fix

chore: ignore src/types/Asset.js side-effect from addon tsconfig
  .gitignore
Due: none

feat(#500): section linking — headings get IDs, links support #fragment and #section=Name
  src/managers/RenderingManager.ts
  src/parsers/LinkParser.ts
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/LinkParser.test.js
  src/parsers/dom/handlers/DOMLinkHandler.ts
  src/utils/SectionUtils.ts
  src/utils/__tests__/SectionUtils.test.js
Due: eslint --fix

docs: update project_log for 2026-04-12 sessions
  docs/project_log.md
Due: markdownlint --fix

docs(#498): add end-user and admin wiki pages for elasticsearch addon
  addons/elasticsearch/pages/134fdcb0-95d9-4856-b25f-837793cc4e0a.md
  addons/elasticsearch/pages/4da88ee4-23c6-4c1c-82eb-1f20d82e1dcc.md
Due: markdownlint --fix

docs: reformat project_log recent entries to flat bullet-list style
  docs/project_log.md
Due: markdownlint --fix

feat(#498): principal-based path access — support usernames in path-access alongside roles
  addons/elasticsearch/index.ts
  addons/elasticsearch/pages/4da88ee4-23c6-4c1c-82eb-1f20d82e1dcc.md
  addons/elasticsearch/src/Sist2AssetProvider.ts
  src/managers/AssetService.ts
  src/routes/WikiRoutes.ts
  src/types/Asset.ts
Due: eslint --fix, markdownlint --fix

docs: project_log entry 2026-04-13-02 — #498 principal-based path access
  docs/project_log.md
Due: markdownlint --fix

fix(#498): seedAddonPages uses PageManager.savePage() so VersioningFileProvider index is updated
  src/managers/AddonsManager.ts
  src/managers/__tests__/AddonsManager.test.js
Due: eslint --fix

docs: project_log entry 2026-04-13-03
  docs/project_log.md
Due: markdownlint --fix

fix: index addon pages in search on startup so category=addon search works
  src/managers/AddonsManager.ts
  src/managers/__tests__/AddonsManager.test.js
Due: eslint --fix

docs: add project_log entry 2026-04-13-04 for #433 search fix
  docs/project_log.md
Due: markdownlint --fix

docs: update project_log 2026-04-13-04 with operational root cause (logger.js)
  docs/project_log.md
Due: markdownlint --fix

docs: update project_log 2026-04-13-04 — calendar fix and #506
  docs/project_log.md
Due: markdownlint --fix

docs: add project_log entry 2026-04-13-05 — #433 closed
  docs/project_log.md
Due: markdownlint --fix

fix: redirect addon imports from src/ to dist/src/ — closes #506
  addons/calendar/index.ts
  addons/calendar/managers/CalendarDataManager.ts
  addons/calendar/plugins/CalendarPlugin.ts
  addons/calendar/routes/admin.ts
  addons/calendar/routes/api.ts
  addons/calendar/routes/reservations.ts
  addons/elasticsearch/index.ts
  addons/elasticsearch/src/Sist2AssetProvider.ts
Due: eslint --fix

docs: add project_log entry 2026-04-13-06 — #506 closed
  docs/project_log.md
Due: markdownlint --fix

feat: ElasticsearchSearchProvider + rename External Asset Search (#189, #504, #505)
  addons/elasticsearch/index.ts
  addons/elasticsearch/pages/134fdcb0-95d9-4856-b25f-837793cc4e0a.md
  addons/elasticsearch/pages/4da88ee4-23c6-4c1c-82eb-1f20d82e1dcc.md
  addons/elasticsearch/src/Sist2AssetProvider.ts
  config/app-default-config.json
  docs/design/SEARCH_PROVIDER_IMPLEMENTATION.md
  docs/managers/SearchManager-Complete-Guide.md
  docs/managers/SearchManager.md
  docs/planning/elasticsearch-search-provider.md
  docs/providers/ElasticsearchSearchProvider-Complete-Guide.md
  docs/providers/ElasticsearchSearchProvider.md
  package-lock.json
  package.json
  required-pages/67b76b5c-81f0-4a00-9bb1-6a816d26e284.md
  required-pages/928a1050-3542-4140-9cd4-515bac154c84.md
  required-pages/e67d5e25-76d4-43fb-bce0-6f7675654f17.md
  required-pages/fe7a378d-dfa5-4e37-9891-637568ebe0b4.md
  src/providers/ElasticsearchSearchProvider.ts
  src/providers/__tests__/ElasticsearchSearchProvider.test.js
Due: eslint --fix, markdownlint --fix

docs: update project_log for ElasticsearchSearchProvider (#189, #504, #505)
  docs/project_log.md
Due: markdownlint --fix

chore: bump version 3.3.1 → 3.3.2 (patch)
  CHANGELOG.md
  config/app-default-config.json
  package.json
Due: markdownlint --fix

feat: add setup subcommand and non-interactive build for CI (#508)
  server.sh
Due: none

docs: add project_log entry for #508 server setup command
  docs/project_log.md
Due: markdownlint --fix

fix: add missing lastModified to Startup Pages required page
  docs/project_log.md
  required-pages/c1d696da-3a42-43b6-9775-a6587410d0c5.md
Due: markdownlint --fix

docs: fix bare URL lint warning in project_log entry
  docs/project_log.md
Due: markdownlint --fix

docs: update project_log commit hash for entry 2026-04-13-09
  docs/project_log.md
Due: markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
