Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

feat: CatalogManager — controlled vocabulary registry for system keywords (#424)
  config/app-default-config.json
  src/WikiEngine.ts
  src/managers/CatalogManager.ts
  src/managers/ValidationManager.ts
  src/managers/__tests__/CatalogManager.test.js
  src/routes/WikiRoutes.ts
  src/types/Catalog.ts
  src/types/WikiEngine.ts
  views/view.ejs
Due: eslint --fix

docs: add project_log entry for #424 CatalogManager
  docs/project_log.md
Due: markdownlint --fix

fix: add explicit SearchHit types to ES provider callbacks (#strict)
  src/providers/ElasticsearchSearchProvider.ts
Due: eslint --fix

fix: guard CatalogManager.resolveUri call; bump 3.3.3
  CHANGELOG.md
  config/app-default-config.json
  package.json
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

feat: auto-tagging for ElasticsearchSearchProvider (#507)
  config/app-default-config.json
  src/providers/ElasticsearchSearchProvider.ts
  src/providers/__tests__/ElasticsearchSearchProvider.test.js
  src/utils/TaggingService.ts
  src/utils/__tests__/TaggingService.test.js
Due: eslint --fix

docs: add project_log entry for #507 auto-tagging and routes fix
  docs/project_log.md
Due: markdownlint --fix

feat: show system-keywords and user-keywords as visible badges on page view
  views/view.ejs
Due: none

feat: display auto-tagged keywords visibly on page view (#507)
  src/managers/SearchManager.ts
  src/providers/ElasticsearchSearchProvider.ts
  src/routes/WikiRoutes.ts
  views/view.ejs
Due: eslint --fix

feat: add System Keywords filter and browse to search page (#509)
  src/managers/SearchManager.ts
  src/providers/BaseSearchProvider.ts
  src/providers/ElasticsearchSearchProvider.ts
  src/routes/WikiRoutes.ts
  views/search-results.ejs
Due: eslint --fix

fix: exclude user-keywords from auto-tag dedup in ElasticsearchSearchProvider
  src/providers/ElasticsearchSearchProvider.ts
Due: eslint --fix

docs: update project_log for #507 page-view tags and #509 search system keywords
  docs/project_log.md
Due: markdownlint --fix

fix: replace fenced code block regex with line-scanner to handle CRLF (#503)
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-Extraction.test.js
Due: eslint --fix

feat: UUID as universal primary key — ES _id, PageManager uniqueness enforcer, lookup by uuid/slug
  docs/project_log.md
  src/managers/PageManager.ts
  src/providers/BasePageProvider.ts
  src/providers/ElasticsearchSearchProvider.ts
  src/providers/FileSystemProvider.ts
  src/providers/__tests__/ElasticsearchSearchProvider.test.js
  src/types/Provider.ts
Due: eslint --fix, markdownlint --fix

docs: update project_log with 2026-04-13-14 UUID architecture implementation
  docs/project_log.md
Due: markdownlint --fix

docs: add Elasticsearch required page (documentation category)
  required-pages/ff553edc-6ea1-4e01-9383-ac34e4e2753b.md
Due: markdownlint --fix

docs: add project_log entry for #511 documentation overhaul
  docs/project_log.md
Due: markdownlint --fix

fix: convert Markdown anchor links to JSPWiki pipe syntax in required-pages
  required-pages/2586c69b-a604-4fcd-95a4-591ca45deacb.md
  required-pages/4a266851-f3cd-4ba6-bbbe-5a408f3adf72.md
  required-pages/e36d72ac-3d76-4fc8-9e55-47dfeb09d456.md
Due: markdownlint --fix

fix: generate GitHub-style heading IDs with hyphens for anchor links (#500)
  src/extensions/showdown-heading-ids.ts
  src/managers/RenderingManager.ts
Due: eslint --fix

docs: update project_log for anchor link fixes; linter backtick fix in Editing a Page
  docs/project_log.md
  required-pages/51666223-22ef-4143-a34c-5902a3cf1ce0.md
Due: markdownlint --fix

feat: extend Required Pages Sync to include enabled addon pages (#513)
  src/managers/AddonsManager.ts
  src/routes/WikiRoutes.ts
  views/admin-required-pages.ejs
Due: eslint --fix

docs: update project_log for #513 addon pages sync
  docs/project_log.md
Due: markdownlint --fix

feat: serve media thumbnails as WebP instead of JPEG
  src/providers/FileSystemMediaProvider.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix: clean addon-emitted JS from src/ on build; prefer .ts in jest
  package.json
Due: none

feat: modernize template (ESM, ESLint 9, Vitest, consolidated docs)
  .eslintrc.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  .markdownlint.json
  .nvmrc
  AGENTS.md
  ARCHITECTURE.md
  CLAUDE.md
  CODE_STANDARDS.md
  CONTRIBUTING.md
  DOCUMENTATION.md
  GLOBAL-CODE-PREFERENCES.md
  README.md
  SECURITY.md
  SETUP.md
  TEMPLATE_INTEGRATION.md
  eslint.config.mjs
  integrate_template.sh
  package-lock.json
  package.json
  src/index.test.ts
  src/index.ts
  tsconfig.build.json
  tsconfig.json
  vitest.config.ts
Due: eslint --fix, markdownlint --fix

fix: make husky pre-commit hook executable
  .husky/pre-commit
Due: none

chore: ignore Claude Code local settings in .gitignore
  .gitignore
Due: none

feat: add /session-commit slash command
  .claude/commands/session-commit.md
Due: markdownlint --fix

chore: tighten CI workflow
  .github/workflows/ci.yml
Due: none

feat: add /sync-template slash command
  .claude/commands/sync-template.md
Due: markdownlint --fix

fix(#510): normalize nested parse context in MarkupParser.parse()
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-EndToEnd.test.js
Due: eslint --fix

docs: update project log for session 2026-04-16-01
  docs/project_log.md
Due: markdownlint --fix

chore(deps): bump hono from 4.12.0 to 4.12.14
  package-lock.json
Due: none

docs: update project log for session 2026-04-16-02
  docs/project_log.md
Due: markdownlint --fix

Updated commands
  .claude/commands/session-commit.md
  .claude/commands/sync-template.md
Due: markdownlint --fix

fix(#510): unify preview and view rendering paths via WikiContext
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix(#503): strip data-jspwiki-id from final HTML output; add e2e code block tests
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-EndToEnd.test.js
  src/parsers/__tests__/MarkupParser-MergePipeline.test.js
Due: eslint --fix

docs: update project log for session 2026-04-16-03
  docs/project_log.md
Due: markdownlint --fix

chore: add data/ to .gitignore
  .gitignore
Due: none

chore: add private/ and xxxxxx/ to .gitignore
  .gitignore
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
