Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-24-06
  docs/project_log.md
Due: markdownlint --fix

test(#591): add Tier 1 test coverage — FootnoteManager, CacheManager, BackupManager, ACLManager extensions
  src/managers/__tests__/ACLManager.test.ts
  src/managers/__tests__/BackupManager.test.ts
  src/managers/__tests__/CacheManager.test.ts
  src/managers/__tests__/FootnoteManager.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-24-07
  docs/project_log.md
Due: markdownlint --fix

test(#591): add Tier 2 test coverage — SearchManager and RenderingManager extensions
  src/managers/__tests__/RenderingManager.test.ts
  src/managers/__tests__/SearchManager.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-24-08
  docs/project_log.md
Due: markdownlint --fix

feat(scripts): add migrate-citations-to-footnotes.mjs
  scripts/migrate-citations-to-footnotes.mjs
Due: none

docs: update project log for session 2026-04-24-09
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-04-24-10
  docs/project_log.md
Due: markdownlint --fix

fix: silence GitGuardian false positive and update stale doc facts
  ARCHITECTURE.md
  README.md
  src/managers/__tests__/UserManager.searchUsers.test.ts
  src/managers/__tests__/UserManager.test.ts
  src/types/__tests__/guards.test.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-26-01
  docs/project_log.md
Due: markdownlint --fix

docs(architecture): rewrite MANAGERS-OVERVIEW and add WikiRoutes coverage tests (#591)
  ARCHITECTURE.md
  docs/architecture/MANAGERS-OVERVIEW.md
  docs/demo/technical.md
  src/routes/__tests__/WikiRoutes.coverage.test.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-27-01
  docs/project_log.md
Due: markdownlint --fix

test(#591): add Tier 4 coverage — WikiRoutes batch 2/3, imageTransform, ACLManager
  src/managers/__tests__/ACLManager.test.ts
  src/routes/__tests__/WikiRoutes.coverage2.test.ts
  src/routes/__tests__/WikiRoutes.coverage3.test.ts
  src/utils/__tests__/imageTransform.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-27-02
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-04-27-03
  docs/project_log.md
Due: markdownlint --fix

test(#591): add Tier 5 coverage — ACLManager and SearchManager
  src/managers/__tests__/ACLManager.test.ts
  src/managers/__tests__/SearchManager.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-27-04
  docs/project_log.md
Due: markdownlint --fix

test(#591): add Tier 6 coverage — BackupManager and RenderingManager
  src/managers/__tests__/BackupManager.test.ts
  src/managers/__tests__/RenderingManager.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-27-05
  docs/project_log.md
Due: markdownlint --fix

test(#591): add WikiRoutes coverage batches 4–16 — push statement coverage to 64.97%
  src/routes/__tests__/WikiRoutes.coverage10.test.ts
  src/routes/__tests__/WikiRoutes.coverage11.test.ts
  src/routes/__tests__/WikiRoutes.coverage12.test.ts
  src/routes/__tests__/WikiRoutes.coverage13.test.ts
  src/routes/__tests__/WikiRoutes.coverage14.test.ts
  src/routes/__tests__/WikiRoutes.coverage15.test.ts
  src/routes/__tests__/WikiRoutes.coverage16.test.ts
  src/routes/__tests__/WikiRoutes.coverage4.test.ts
  src/routes/__tests__/WikiRoutes.coverage5.test.ts
  src/routes/__tests__/WikiRoutes.coverage6.test.ts
  src/routes/__tests__/WikiRoutes.coverage7.test.ts
  src/routes/__tests__/WikiRoutes.coverage8.test.ts
  src/routes/__tests__/WikiRoutes.coverage9.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-27-06
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-04-27-07
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-04-27-08
  docs/project_log.md
Due: markdownlint --fix

fix(#592): move inline style conversion to after table processing
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-InlineStyles.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-27-09
  docs/project_log.md
Due: markdownlint --fix

docs(#597): rewrite and consolidate docs/architecture for current pipeline
  docs/Developer-Documentation.md
  docs/architecture/Current-Rendering-Pipeline.md
  docs/architecture/Current-Save-Page-Pipeline.md
  docs/architecture/DOM-Parser-Implementation-Summary.md
  docs/architecture/FileSystemProvider-Design.md
  docs/architecture/FileSystemProvider-Implementation-Summary.md
  docs/architecture/JSPWikiPreprocessor.md
  docs/architecture/MANAGERS-OVERVIEW.md
Due: markdownlint --fix

docs: update project log for session 2026-04-27-10
  docs/project_log.md
Due: markdownlint --fix

docs: delete archived architecture docs and remove dead links
  docs/architecture/Current-Save-Page-Pipeline.md
  docs/architecture/DOM-Parser-Implementation-Summary.md
  docs/architecture/FileSystemProvider-Design.md
  docs/architecture/FileSystemProvider-Implementation-Summary.md
  docs/providers/FileSystemProvider-Complete-Guide.md
  docs/providers/FileSystemProvider.md
Due: markdownlint --fix

docs: update project log for session 2026-04-27-11
  docs/project_log.md
Due: markdownlint --fix

docs(#595): rename docs/INSTALLATION to docs/installation, add install-complete doc
  docs/Developer-Documentation.md
  docs/installation/install-complete.md
  docs/installation/install-testing.md
  docs/installation/installation-system.md
  docs/installation/installation-testing-results.md
  docs/installation/startup-process.md
Due: markdownlint --fix

docs(#595): correct INSTANCE_DATA_FOLDER → FAST_STORAGE/SLOW_STORAGE, reference config properties
  docs/installation/install-complete.md
  docs/installation/installation-system.md
Due: markdownlint --fix

docs: update project log for session 2026-04-27-12
  docs/project_log.md
Due: markdownlint --fix

docs(#598): rename UUID-named docs/developer pages to slug-based names
  docs/developer/acl-test-page.md
  docs/developer/counterplugin.md
  docs/developer/extended-link-test.md
  docs/developer/metadata-cleanup-progress.md
  docs/developer/pipe-link-test.md
  docs/developer/pipe-test-simple.md
  docs/developer/plugin-escaping-test.md
  docs/developer/plugin-system-documentation.md
  docs/developer/project-overview-and-vision.md
  docs/developer/searchplugin.md
  docs/developer/target-blank-test.md
  docs/developer/test-99.md
  docs/developer/test-actions.md
  docs/developer/test-no-template.md
Due: markdownlint --fix

docs(#598): delete all UUID-named docs/developer pages
  docs/developer/acl-test-page.md
  docs/developer/counterplugin.md
  docs/developer/extended-link-test.md
  docs/developer/metadata-cleanup-progress.md
  docs/developer/pipe-link-test.md
  docs/developer/pipe-test-simple.md
  docs/developer/plugin-escaping-test.md
  docs/developer/plugin-system-documentation.md
  docs/developer/project-overview-and-vision.md
  docs/developer/searchplugin.md
  docs/developer/target-blank-test.md
  docs/developer/test-99.md
  docs/developer/test-actions.md
  docs/developer/test-no-template.md
Due: markdownlint --fix

docs: update project log for session 2026-04-27-13
  docs/project_log.md
Due: markdownlint --fix

ci: add weekly showdown CVE-2024-1899 patch check workflow
  .github/workflows/showdown-patch-check.yml
Due: none

feat(mcp): add page CRUD tools — create, update, delete (#594)
  docs/MCP-SERVER.md
  mcp-server.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-28-01
  docs/project_log.md
Due: markdownlint --fix

feat(#149): server-side microdata in search-results and media-item
  src/routes/WikiRoutes.ts
  views/media-item.ejs
  views/search-results.ejs
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
