Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix"
  ],
  "*.md": [
    "markdownlint --fix"
  ]
}

refactor: reduce !important conflicts with Bootstrap utilities (#367)
  public/css/style.css
Due: none

fix: hamburger correctly shows left menu on mobile (#367)
  views/header.ejs
Due: none

fix: use inline style for sidebar toggle — beats all CSS !important rules (#367)
  public/css/style.css
  views/header.ejs
Due: none

fix: use Bootstrap 5 offcanvas for mobile sidebar navigation (#367)
  public/css/style.css
  views/header.ejs
Due: none

docs: update project log for #367 mobile offcanvas navigation fix
  docs/project_log.md
Due: markdownlint --fix

feat: Bootstrap-native mobile navigation (#371 #372 #373 #374 #375)
  playwright.config.js
  public/css/style.css
  tests/e2e/mobile-navigation.spec.js
  views/header.ejs
Due: none

docs: update project log for #371-375 Bootstrap mobile navigation
  docs/project_log.md
Due: markdownlint --fix

fix: eliminate blank left column and horizontal scroll on mobile (#375)
  public/css/style.css
  tests/e2e/mobile-navigation.spec.js
  views/header.ejs
Due: none

fix: correct core.css mobile layout bugs (blank left column, horizontal scroll)
  themes/core.css
Due: none

feat: Bootstrap theme compatibility — data-bs-theme, variable direction, theme toggle UX (#377)
  themes/core.css
  themes/default/css/variables.css
  views/header.ejs
Due: none

chore: bump version to 3.0.2 and update project log
  CHANGELOG.md
  config/app-default-config.json
  docs/project_log.md
  package.json
Due: markdownlint --fix

fix: prevent duplicate theme toggle in mobile offcanvas (#377)
  playwright.config.js
  views/header.ejs
Due: none

fix: remove conflicting theme-manager.js, move sidebar theme button to top (#377)
  views/footer.ejs
  views/header.ejs
Due: none

fix: replace SimpleThemeManager with direct IIFE, add setTheme(), rename labels (#377)
  views/header.ejs
Due: none

fix: migrate volcano theme variables.css to data-bs-theme (#377)
  themes/volcano/css/variables.css
Due: none

fix: add cache-busting v=3.0.2 to theme CSS links (#377)
  views/header.ejs
Due: none

fix: default theme dark mode; add Flatly Bootswatch theme (#377)
  docs/project_log.md
  themes/default/css/variables.css
  themes/flatly/assets/favicon.png
  themes/flatly/assets/favicon.svg
  themes/flatly/css/variables.css
  themes/flatly/theme.json
  views/header.ejs
Due: markdownlint --fix

feat: any Bootstrap/Bootswatch theme works out of the box (#377)
  src/managers/ThemeManager.ts
  themes/core-variables-empty.css
  themes/core.css
  themes/flatly/css/variables.css
  views/header.ejs
Due: eslint --fix

fix: resolve #379 editor theme confusion; sync navbar toggle server-side
  src/routes/WikiRoutes.ts
  themes/core.css
  views/header.ejs
  views/profile.ejs
Due: eslint --fix

feat: add theme context to WikiContext; fix /profile dark mode contrast (#379)
  CHANGELOG.md
  config/app-default-config.json
  docs/GLOSSARY.md
  docs/project_log.md
  package.json
  src/context/WikiContext.ts
  src/context/__tests__/WikiContext.test.js
  src/routes/WikiRoutes.ts
  views/profile.ejs
Due: eslint --fix, markdownlint --fix

fix: wrong favicon in browser tab — resolve svg > png consistently (#378)
  CHANGELOG.md
  config/app-default-config.json
  docs/project_log.md
  package.json
  src/managers/ThemeManager.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

fix: app-level favicon always overrides theme for tab and navbar logo (#378)
  CHANGELOG.md
  config/app-default-config.json
  docs/project_log.md
  package.json
  src/managers/ThemeManager.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

feat: update 'Everything We Know About You'; create 'Privacy Notice' page (#380)
  docs/project_log.md
  required-pages/23568f88-3a67-4466-a5f9-6ff161265236.md
  required-pages/d26ac975-3773-4144-a346-0d42c991eb1f.md
Due: markdownlint --fix

fix: migrate data-theme to data-bs-theme in style.css (#377)
  public/css/style.css
Due: none

docs: update project log for #377 data-bs-theme migration
  docs/project_log.md
Due: markdownlint --fix

feat: add doc help icons to admin dashboard; fix nested anchors and btn styles (#376)
  views/admin-dashboard.ejs
Due: none

docs: update project log for #376 admin dashboard doc icons
  docs/project_log.md
Due: markdownlint --fix

fix: replace --btn-* CSS vars and bg-light across all views
  views/admin-attachments.ejs
  views/admin-audit.ejs
  views/admin-backup.ejs
  views/admin-configuration.ejs
  views/admin-import.ejs
  views/admin-interwiki.ejs
  views/admin-keywords.ejs
  views/admin-logs.ejs
  views/admin-media.ejs
  views/admin-notifications.ejs
  views/admin-organizations.ejs
  views/admin-policies.ejs
  views/admin-required-pages.ejs
  views/admin-roles.ejs
  views/admin-settings.ejs
  views/admin-users.ejs
  views/admin-validation-report.ejs
  views/admin-variables.ejs
  views/browse-attachments.ejs
  views/create-fixed.ejs
  views/create.ejs
  views/edit-backup.ejs
  views/edit-index.ejs
  views/error.ejs
  views/export.ejs
  views/header.ejs
  views/maintenance.ejs
  views/media-home.ejs
  views/media-item.ejs
  views/media-keyword.ejs
  views/media-search.ejs
  views/media-year.ejs
  views/reader.ejs
Due: none

docs: update project log for --btn-* and bg-light sweep
  docs/project_log.md
Due: markdownlint --fix

fix: replace undefined CSS vars and fix malformed HTML class attrs in views
  views/admin-keywords.ejs
  views/admin-organizations.ejs
  views/admin-users.ejs
  views/admin-validation-report.ejs
  views/edit-index.ejs
  views/error.ejs
  views/header.ejs
  views/profile.ejs
Due: none

docs: update project log for undefined CSS vars and malformed HTML fixes
  docs/project_log.md
Due: markdownlint --fix

fix: DRY escapeHtml consolidation and lazy attachment mentions (#384, #385)
  plugins/AttachPlugin.ts
  plugins/LocationPlugin.ts
  plugins/VariablesPlugin.ts
  src/managers/AttachmentManager.ts
Due: eslint --fix

docs: update project log for #383 #384 #385 attachment/media work
  docs/project_log.md
Due: markdownlint --fix

feat: media:// URI support in resolveAttachmentSrc() — Piece 1 of #383
  docs/managers/AttachmentManager.md
  docs/managers/MediaManager.md
  docs/plugins/AttachPlugin.md
  docs/plugins/ImagePlugin.md
  docs/user-guide/Content-Management.md
  src/managers/AttachmentManager.ts
  src/managers/MediaManager.ts
  src/providers/BaseMediaProvider.ts
  src/providers/FileSystemMediaProvider.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for #383 media:// URI support (Piece 1)
  docs/project_log.md
Due: markdownlint --fix

docs: update required-pages for media:// URI and embedding guide (#383)
  required-pages/6bdacfac-300d-4d89-ad4a-2acc98e12bc5.md
  required-pages/7b487295-af7e-4b4a-a2cb-6e3b6877a413.md
  required-pages/96A0B2F6-13D7-44C6-B541-B4E1A90E2DC7.md
  required-pages/d14ef7c7-299a-4729-a457-452679569ca9.md
  required-pages/e36d72ac-3d76-4fc8-9e55-47dfeb09d456.md
Due: markdownlint --fix

fix: normalize frontmatter before comparing required-pages (#386)
  src/routes/WikiRoutes.ts
  views/admin-required-pages.ejs
Due: eslint --fix

docs: update project log for #386 required-pages comparison fix
  docs/project_log.md
Due: markdownlint --fix

feat: reorganize Admin Dashboard by manager (#382)
  docs/project_log.md
  views/admin-dashboard.ejs
  views/header.ejs
Due: markdownlint --fix

feat: AssetService + unified asset picker in editor (#383)
  docs/project_log.md
  src/WikiEngine.ts
  src/managers/AssetService.ts
  src/routes/WikiRoutes.ts
  views/edit.ejs
Due: eslint --fix, markdownlint --fix
