Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

MD025": { "front_matter_title"
  .markdownlint.json
  docs/planning/TODO.md
Due: markdownlint --fix

feat: Remove deprecated parser tests and convert InstallRoutes to TypeScript
  docs/testing/Complete-Testing-Guide.md
  docs/testing/Testing-Summary.md
  src/parsers/__tests__/MarkupParser-Performance.test.js
  src/parsers/__tests__/MarkupParser.test.js
  src/routes/InstallRoutes.ts
Due: eslint --fix, markdownlint --fix

docs: Update project_log.md for session 2025-12-27-09
  docs/project_log.md
Due: markdownlint --fix

feat: Convert WikiRoutes.js to TypeScript (Phase 5 Complete)
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: Update project_log.md for Phase 5 completion
  docs/project_log.md
Due: markdownlint --fix

feat: Phase 6a - Remove @ts-nocheck from WikiRoutes and fix type errors
  src/WikiEngine.ts
  src/managers/UserManager.ts
  src/routes/WikiRoutes.ts
  src/types/Provider.ts
  src/types/WikiEngine.ts
  src/types/express.d.ts
  src/types/index.ts
  tsconfig.json
Due: eslint --fix

docs: Update project log for Phase 6a session
  docs/project_log.md
Due: markdownlint --fix

refactor: Update WikiEngine interface for extensibility
  src/WikiEngine.ts
  src/types/WikiEngine.ts
Due: eslint --fix

fix: Fix TypeScript errors in RenderingManager
  src/managers/RenderingManager.ts
Due: eslint --fix

fix: Fix TypeScript errors in Provider and Manager interfaces
  src/managers/BaseManager.ts
  src/managers/PageManager.ts
  src/managers/UserManager.ts
  src/types/Provider.ts
Due: eslint --fix

fix: Add ESLint disables for TypeScript migration files
  src/managers/ACLManager.ts
  src/providers/BaseAttachmentProvider.ts
  src/routes/InstallRoutes.ts
Due: eslint --fix

fix: Make managers conform to BaseManager interface
  src/managers/BackupManager.ts
  src/managers/ConfigurationManager.ts
  src/managers/SearchManager.ts
Due: eslint --fix

fix: Update manager constructors for TypeScript migration
  src/WikiEngine.ts
  src/managers/ACLManager.ts
  src/managers/AuditManager.ts
  src/managers/BaseManager.ts
  src/managers/PageManager.ts
  src/managers/PolicyEvaluator.ts
  src/managers/PolicyManager.ts
  src/managers/PolicyValidator.ts
  src/managers/RenderingManager.ts
  src/managers/SearchManager.ts
  src/managers/TemplateManager.ts
  src/managers/UserManager.ts
  src/parsers/MarkupParser.ts
Due: eslint --fix

docs: Update project log for Phase 6b session
  docs/project_log.md
Due: markdownlint --fix

feat: Complete Phase 6 TypeScript migration - zero errors
  CONTRIBUTING.md
  README.md
  docs/TypeScript-Style-Guide.md
  docs/project_log.md
  src/managers/ACLManager.ts
  src/managers/CacheManager.ts
  src/managers/PageManager.ts
  src/managers/PolicyEvaluator.ts
  src/managers/PolicyManager.ts
  src/managers/UserManager.ts
  src/parsers/context/ParseContext.ts
  src/parsers/dom/DOMBuilder.ts
  src/parsers/dom/Tokenizer.ts
  src/parsers/dom/WikiDocument.ts
  src/parsers/dom/handlers/DOMLinkHandler.ts
  src/parsers/dom/handlers/DOMPluginHandler.ts
  src/parsers/dom/handlers/DOMVariableHandler.ts
  src/parsers/filters/FilterChain.ts
  src/parsers/handlers/BaseSyntaxHandler.ts
  src/parsers/handlers/HandlerRegistry.ts
  src/providers/VersioningFileProvider.ts
  src/types/Provider.ts
  src/utils/SchemaGenerator.ts
  src/utils/sessionUtils.ts
  src/utils/standardize-categories.ts
  src/utils/version.ts
Due: eslint --fix, markdownlint --fix

docs: Update project log for Phase 6 session
  docs/project_log.md
Due: markdownlint --fix

docs: Add cross-links between CODE_STANDARDS.md and TypeScript Style Guide
  CODE_STANDARDS.md
  docs/TypeScript-Style-Guide.md
Due: markdownlint --fix

docs: Update project log with cross-link work
  docs/project_log.md
Due: markdownlint --fix

wip: TypeScript migration work in progress
  mcp-server.ts
  src/utils/VersioningAnalytics.ts
  src/utils/VersioningMigration.ts
Due: eslint --fix

docs: Update project log with WIP commit
  docs/project_log.md
Due: markdownlint --fix

chore: Update husky pre-commit to v9+ format
  .husky/pre-commit
Due: none

fix: Resolve final TypeScript errors in DOMLinkHandler.ts
  docs/project_log.md
  src/parsers/dom/handlers/DOMLinkHandler.ts
Due: eslint --fix, markdownlint --fix

fix: Add native TypeScript support and fix startup warnings
  config/app-default-config.json
  docs/project_log.md
  ecosystem.config.js
  src/providers/LunrSearchProvider.js
Due: markdownlint --fix

fix: Complete TypeScript module.exports fixes and ESLint compliance
  docs/TypeScript-Style-Guide.md
  src/WikiEngine.ts
  src/parsers/LinkParser.ts
  src/parsers/dom/DOMParser.ts
  src/utils/DeltaStorage.ts
  src/utils/PageNameMatcher.ts
  src/utils/VersionCompression.ts
Due: eslint --fix, markdownlint --fix

fix: Resolve critical startup issues - js-yaml and CommonJS compatibility
  package-lock.json
  package.json
  src/parsers/handlers/BaseSyntaxHandler.ts
  src/parsers/handlers/HandlerRegistry.ts
Due: eslint --fix

docs: Update project log with session 2025-12-28-04
  docs/project_log.md
Due: markdownlint --fix

Minor updates to sysntax
  docs/project_log.md
Due: markdownlint --fix

fix: Resolve flaky maintenance-middleware tests causing CI failures
  src/routes/__tests__/maintenance-middleware.test.js
Due: none

fix: Use tsx in CI smoke tests for TypeScript file resolution
  .github/workflows/ci-passing-tests.yml
  .github/workflows/ci.yml
Due: none

docs: Update project log with CI fix session
  docs/project_log.md
Due: markdownlint --fix

fix: Correct broken link to PREVENTING-REGRESSIONS.md in AGENTS.md
  AGENTS.md
Due: markdownlint --fix

Add notes on upgrading tests
  CODE_STANDARDS.md
Due: markdownlint --fix

feat: Complete TypeScript build pipeline (Phase 1 of #186)
  app.js
  docs/project_log.md
  ecosystem.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: markdownlint --fix

ci: Remove coverage threshold check from CI
  .github/workflows/ci.yml
Due: none

Created page needs moved to Required pages
  required-pages/6fbc4fb2-2280-4019-a73c-0db90f45ebd8.md
Due: markdownlint --fix

docs: Update project log with session 2025-12-28-07
  docs/project_log.md
Due: markdownlint --fix

feat: Add installationComplete property to FileSystemProvider.ts
  src/providers/FileSystemProvider.ts
Due: eslint --fix

Added "One File Done Right"
  AGENTS.md
Due: markdownlint --fix

fix: Complete FileSystemProvider TypeScript migration (One File Done Right)
  package-lock.json
  package.json
  src/providers/BasePageProvider.ts
  src/providers/FileSystemProvider.js
  src/providers/FileSystemProvider.ts
  src/providers/__tests__/FileSystemProvider.test.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
