Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

docs: enhance Media Management wiki page and MediaManager docs to v1.2.0
  docs/managers/MediaManager-Complete-Guide.md
  docs/managers/MediaManager.md
  required-pages/e36d72ac-3d76-4fc8-9e55-47dfeb09d456.md
Due: markdownlint --fix

fix: prefix e2e test pages with AMDWIKI-test and delete them after (#326)
  tests/e2e/fixtures/helpers.js
  tests/e2e/location-plugin.spec.js
  tests/e2e/pages.spec.js
Due: none

docs: update project log for media extensions, media docs, and test cleanup (#325, #326)
  docs/project_log.md
Due: markdownlint --fix

fix: prevent "Nth Century" page links from colliding via CamelCase stripping (#327)
  docs/project_log.md
  src/utils/PageNameMatcher.ts
  src/utils/__tests__/PageNameMatcher.test.js
Due: eslint --fix, markdownlint --fix

Updated
  package-lock.json
Due: none

fix: replace instanceof ExifDateTime with duck-type check in extractYear (#329)
  docs/project_log.md
  src/providers/FileSystemMediaProvider.ts
  src/providers/__tests__/FileSystemMediaProvider.extractYear.test.js
Due: eslint --fix, markdownlint --fix

docs: update project log for media date fix (#329)
  docs/project_log.md
Due: markdownlint --fix

fix: consolidate clipboard logic into copyText() helper for HTTP support (#331)
  docs/project_log.md
  views/header.ejs
  views/media-item.ejs
Due: markdownlint --fix

docs: update project log for clipboard fix (#331)
  docs/project_log.md
Due: markdownlint --fix

fix: store array config values as JSON, not strings, via admin UI (#332)
  docs/project_log.md
  src/managers/MediaManager.ts
  src/routes/WikiRoutes.ts
  views/admin-configuration.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for media folders config fix (#332)
  docs/project_log.md
Due: markdownlint --fix

feat: add /admin/interwiki UI and GVP/GVP-COUNTRY sites (#299)
  config/app-default-config.json
  src/routes/WikiRoutes.ts
  views/admin-dashboard.ejs
  views/admin-interwiki.ejs
Due: eslint --fix

docs: update project log for interwiki admin UI (#299)
  docs/project_log.md
Due: markdownlint --fix

fix: prevent crash when EXIF keyword is non-string in mediaItemDetail (#333)
  src/providers/FileSystemProvider.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for media item crash fix (#333)
  docs/project_log.md
Due: markdownlint --fix

fix: update page-index.json with new title on page rename (#335)
  docs/project_log.md
  src/providers/VersioningFileProvider.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for page rename fix (#335)
  docs/project_log.md
Due: markdownlint --fix

fix: append execCommandCopy textarea inside modal to avoid Bootstrap focus trap (#337)
  docs/project_log.md
  views/header.ejs
Due: markdownlint --fix

docs: update project log for Copy Information fix (#337)
  docs/project_log.md
Due: markdownlint --fix

fix: use fit:inside for thumbnails to preserve full image aspect ratio (#332)
  docs/project_log.md
  src/providers/FileSystemMediaProvider.ts
  views/media-keyword.ejs
  views/media-search.ejs
  views/media-year.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for thumbnail aspect ratio fix (#332)
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for ghost index cleanup (#324)
  docs/project_log.md
Due: markdownlint --fix

fix: expand wiki links inside %%information/warning/error style blocks (#328)
  config/app-default-config.json
  package.json
  src/parsers/MarkupParser.ts
Due: eslint --fix

docs: update project log for wiki links in style blocks fix (#328)
  docs/project_log.md
Due: markdownlint --fix

feat: add author/editor filtering to SearchPlugin; store author in page-index.json (#339)
  config/app-default-config.json
  docs/project_log.md
  package.json
  plugins/SearchPlugin.ts
  src/providers/BaseSearchProvider.ts
  src/providers/LunrSearchProvider.ts
  src/providers/VersioningFileProvider.ts
Due: eslint --fix, markdownlint --fix

test: add SearchPlugin and LunrSearchProvider unit tests for author/editor filtering (#339)
  plugins/__tests__/SearchPlugin.test.js
  src/providers/__tests__/LunrSearchProvider.test.js
Due: none

fix: resolve three /admin/notifications issues (#334)
  config/app-default-config.json
  docs/project_log.md
  package.json
  src/managers/ACLManager.ts
  src/managers/MediaManager.ts
  src/providers/BaseMediaProvider.ts
  src/providers/FileSystemMediaProvider.ts
  src/routes/WikiRoutes.ts
  views/admin-dashboard.ejs
Due: eslint --fix, markdownlint --fix

feat: reorganize Info and More dropdown menus (#336)
  views/header.ejs
Due: none

feat: replace plexignore sentinel with .amdwikiignore pattern file and amdwikiignore EXIF keyword (#342)
  config/app-default-config.json
  docs/managers/MediaManager-Complete-Guide.md
  docs/managers/MediaManager.md
  required-pages/d14ef7c7-299a-4729-a457-452679569ca9.md
  src/managers/MediaManager.ts
  src/providers/BaseMediaProvider.ts
  src/providers/FileSystemMediaProvider.ts
  src/providers/__tests__/FileSystemMediaProvider.extractYear.test.js
Due: eslint --fix, markdownlint --fix

fix: convert project_log.md bold markers from ** to __ (MD050)
  docs/project_log.md
Due: markdownlint --fix

feat: log shutdown and call engine.shutdown() on SIGTERM/SIGINT; widen extractYear range to 1800–2100 (#343, #342)
  app.js
  src/providers/FileSystemMediaProvider.ts
  src/providers/__tests__/FileSystemMediaProvider.extractYear.test.js
Due: eslint --fix

docs: add project log entry 2026-03-16-02
  docs/project_log.md
Due: markdownlint --fix

feat: admin dashboard three-panel redesign; media rebuild endpoint; 6 new doc pages (#345)
  .gitignore
  AGENTS.md
  package-lock.json
  required-pages/4166fa99-9065-4d6c-b2d5-613c3b22cf71.md
  required-pages/4b351c31-9d55-47cf-9948-8b621cfe225d.md
  required-pages/67b76b5c-81f0-4a00-9bb1-6a816d26e284.md
  required-pages/84688093-d6c5-4ef3-973e-544891343e1c.md
  required-pages/b952ebe5-23f3-485a-8849-c903703924aa.md
  required-pages/d4f41d81-4a32-4ef5-8ef8-7420912bc195.md
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
  src/managers/MediaManager.ts
  src/providers/BaseMediaProvider.ts
  src/providers/FileSystemMediaProvider.ts
  src/routes/WikiRoutes.ts
  views/admin-dashboard.ejs
  views/admin-media.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for admin dashboard redesign and media rebuild (#345)
  docs/project_log.md
Due: markdownlint --fix

fix: change LeftMenu Media link to "Browse Media" pointing to /media
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
Due: markdownlint --fix

fix: keyword-scoped media item navigation and keyboard arrow key support (#346)
  views/media-item.ejs
  views/media-keyword.ejs
Due: none

docs: update project log for #346 keyword media navigation fix
  docs/project_log.md
Due: markdownlint --fix

feat: server-side sort (date/caption) for media keyword, year, and search pages (#347)
  src/routes/WikiRoutes.ts
  views/media-item.ejs
  views/media-keyword.ejs
  views/media-search.ejs
  views/media-year.ejs
Due: eslint --fix

docs: update project log for #347 media sort feature
  docs/project_log.md
Due: markdownlint --fix

Updated contents
  docs/managers/MediaManager-Complete-Guide.md
Due: markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
