Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix"
  ],
  "*.md": [
    "markdownlint --fix"
  ]
}

feat: add JSPWiki line break syntax support (#64)
  src/parsers/MarkupParser.ts
Due: eslint --fix

docs: update project_log with bug fixes session
  docs/project_log.md
Due: markdownlint --fix

fix: correct installation doc paths in SETUP.md (#177)
  SETUP.md
Due: markdownlint --fix

docs: update project_log with documentation cleanup session
  docs/project_log.md
Due: markdownlint --fix

fix: add authenticated property to userContext for WikiContext compatibility (#182)
  app.js
  src/managers/UserManager.ts
Due: eslint --fix

docs: update project_log with authentication fix session
  docs/project_log.md
Due: markdownlint --fix

fix: resolve hono JWT security vulnerabilities (GHSA-73rr-hh4g-fpgx)
  package-lock.json
  package.json
Due: none

docs: update project_log with security fix session
  docs/project_log.md
Due: markdownlint --fix

feat: implement AddonsManager for optional add-on modules (#158)
  .gitignore
  addons/.gitkeep
  addons/README.md
  config/app-default-config.json
  src/WikiEngine.ts
  src/managers/AddonsManager.ts
  src/managers/__tests__/AddonsManager.test.js
Due: eslint --fix, markdownlint --fix

docs: update project_log with AddonsManager implementation session
  docs/project_log.md
Due: markdownlint --fix

chore: bump version to 1.5.1
  package.json
Due: none

UPdate PATCH for SEMVER
  package-lock.json
Due: none

Work on RBAC issue with AddonsManager integration approach (#154)
  docs/project_log.md
Due: markdownlint --fix

JSPWiki Table Functionality uopdated
  required-pages/7C0D046B-74C2-40AE-AFEC-7DBFCFF90269.md
Due: markdownlint --fix

feat: implement INSTANCE_DATA_FOLDER for flexible data location (#210)
  .env.example
  config/app-default-config.json
  docs/project_log.md
  src/managers/BackupManager.ts
  src/managers/ConfigurationManager.ts
  src/managers/NotificationManager.ts
  src/managers/__tests__/ConfigurationManager.test.js
  src/managers/__tests__/NotificationManager.test.js
  src/managers/__tests__/PageManager-Storage.test.js
  src/providers/BasicAttachmentProvider.ts
  src/providers/FileAuditProvider.ts
  src/providers/FileSystemProvider.ts
  src/providers/FileUserProvider.ts
  src/providers/VersioningFileProvider.ts
  src/providers/__tests__/FileSystemProvider.test.js
Due: eslint --fix, markdownlint --fix

fix: sync config version to 1.5.1
  config/app-default-config.json
Due: none

docs: update project_log with E2E results and close #210
  docs/project_log.md
Due: markdownlint --fix

chore: update docker/.dockerignore for latest codebase
  docker/.dockerignore
Due: none

chore: add INSTANCE_DATA_FOLDER to docker config
  docker/.env.example
  docker/docker-compose.yml
Due: none

docs: update project_log with docker config session
  docs/project_log.md
Due: markdownlint --fix

fix: add npm run build step to Dockerfile
  docker/Dockerfile
Due: none

docs: update project_log with Dockerfile fix session
  docs/project_log.md
Due: markdownlint --fix

docs: update project_log with Docker testing and #212 closure
  docs/project_log.md
Due: markdownlint --fix

fix: update paths in app-production-config.example.json for INSTANCE_DATA_FOLDER
  config/app-production-config.example.json
Due: none

docs: update project_log with config path fixes
  docs/project_log.md
Due: markdownlint --fix

feat: separate instance configs from code (#168, #213, #214)
  .env.example
  .gitignore
  config/app-custom-config.example
  config/app-default-config.json
  config/app-production-config.example.json
  data/config/app-development-config.json
  data/config/app-production-config.json
  data/config/app-test-config.json
  docker/.dockerignore
  src/managers/ConfigurationManager.ts
  src/managers/__tests__/ConfigurationManager.test.js
  src/managers/__tests__/PageManager-Storage.test.js
  src/providers/FileSystemProvider.ts
  src/providers/__tests__/FileSystemProvider.test.js
  src/services/InstallService.ts
Due: eslint --fix

docs: update project_log with commit 2e96efb
  docs/project_log.md
Due: markdownlint --fix

feat: multi-stage Dockerfile and Kubernetes manifests (#168)
  docker/Dockerfile
  docker/k8s/README.md
  docker/k8s/configmap.yaml
  docker/k8s/deployment.yaml
  docker/k8s/ingress.yaml
  docker/k8s/pvc.yaml
  docker/k8s/secrets.yaml.example
  docker/k8s/service.yaml
  package-lock.json
  package.json
Due: markdownlint --fix

docs: update project_log with multi-stage Dockerfile session
  docs/project_log.md
Due: markdownlint --fix

fix: update dependencies to address security vulnerabilities
  package-lock.json
Due: none

refactor: simplify to two-tier config system with INSTANCE_CONFIG_FILE
  .env.example
  docker/.env.example
  docker/Dockerfile
  docker/docker-compose.yml
  docker/k8s/configmap.yaml
  docker/k8s/deployment.yaml
  docs/INSTALLATION/INSTALL-TESTING.md
  docs/INSTALLATION/INSTALLATION-SYSTEM.md
  docs/managers/ConfigurationManager-Complete-Guide.md
  docs/managers/ConfigurationManager.md
  src/managers/ConfigurationManager.ts
Due: eslint --fix, markdownlint --fix

fix: CI smoke test to find pages by frontmatter title
  .github/workflows/ci.yml
  docs/project_log.md
Due: markdownlint --fix

fix: respect PORT env var for CI and PaaS compatibility
  app.js
  docs/project_log.md
Due: markdownlint --fix

fix: E2E CI setup to create .install-complete marker and copy pages
  .github/workflows/ci.yml
  docs/project_log.md
Due: markdownlint --fix

fix: correct password hash for E2E test admin user
  .github/workflows/ci.yml
Due: none

feat: add E2E test data seeding script for robust CI setup
  .github/workflows/ci.yml
  docs/project_log.md
  scripts/seed-e2e-test-data.js
Due: markdownlint --fix

refactor: simplify E2E seed script to file operations only
  scripts/seed-e2e-test-data.js
Due: none

docs: update project_log with CI fix completion
  docs/project_log.md
Due: markdownlint --fix

fix: redirect to /install on install check error instead of 404
  app.js
Due: none

Updated so files are consistent
  .env.example
  docker/TRAEFIK-DEPLOYMENT.md
Due: markdownlint --fix
