Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

feat(#639): Slice C — dedicated Private checkbox in edit form, replaces keyword pill
  src/routes/WikiRoutes.ts
  views/edit.ejs
Due: eslint --fix

chore(#639): move Private checkbox up next to Author Lock in edit form
  views/edit.ejs
Due: none

feat(#639): Slice D — explicit migration script for legacy `user-keywords: [private]` pages
  package.json
  scripts/__tests__/migrate-private-field.test.ts
  scripts/migrate-private-field.ts
  vitest.config.ts
Due: eslint --fix

docs: update project log for session 2026-05-03-09
  docs/project_log.md
Due: markdownlint --fix

feat(#641): repair script for malformed JSPWiki frontmatter
  package.json
  scripts/__tests__/repair-jspwiki-frontmatter.test.ts
  scripts/repair-jspwiki-frontmatter.ts
Due: eslint --fix

chore(#639): migrate seed required-pages "Private Pages" doc to top-level `private: true`
  required-pages/2586c69b-a604-4fcd-95a4-591ca45deacb.md
Due: markdownlint --fix

docs: update project log for session 2026-05-03-10
  docs/project_log.md
Due: markdownlint --fix

perf(#636,#637): WikiContext per-request hasPermission/canAccess memoization + UserManager fast path for pre-resolved userContext
  src/context/ApiContext.ts
  src/context/WikiContext.ts
  src/context/__tests__/ApiContext.test.ts
  src/context/__tests__/WikiContext.test.ts
  src/managers/UserManager.ts
  src/managers/__tests__/UserManager.test.ts
  src/parsers/context/ParseContext.ts
Due: eslint --fix

refactor(#629): ParseContext Pass 1 — wikiContext reference + delegating getters
  src/context/WikiContext.ts
  src/context/__tests__/WikiContext.test.ts
  src/parsers/context/ParseContext.ts
  src/parsers/context/__tests__/ParseContext.test.ts
Due: eslint --fix

refactor(#629): Pass 2 — sweep ParseContext consumers off duplicating getters; remove the getters
  src/parsers/context/ParseContext.ts
  src/parsers/context/__tests__/ParseContext.test.ts
  src/parsers/filters/BaseFilter.ts
  src/parsers/handlers/AttachmentHandler.ts
  src/parsers/handlers/BaseSyntaxHandler.ts
  src/parsers/handlers/InterWikiLinkHandler.ts
  src/parsers/handlers/LinkParserHandler.ts
  src/parsers/handlers/PluginSyntaxHandler.ts
  src/parsers/handlers/WikiFormHandler.ts
  src/parsers/handlers/WikiTagHandler.ts
Due: eslint --fix

refactor(#632): migrate remaining callers off deprecated ACLManager.checkPagePermission; remove the method
  src/managers/ACLManager.ts
  src/managers/__tests__/ACLManager.test.ts
  src/managers/__tests__/policy-system.test.ts
  src/routes/WikiRoutes.ts
  src/routes/__tests__/routes.test.ts
Due: eslint --fix

chore: release v3.7.0
  CHANGELOG.md
  config/app-default-config.json
  docs/performance/baseline-v3.7.0-2026-05-03.md
  package.json
Due: markdownlint --fix

fix(#619): unbreak CI smoke + E2E + WikiEngine init step
  .github/workflows/ci.yml
Due: none

refactor(#639): Slice E — drop user-keywords back-compat fallbacks; remove `private` from user-keywords vocabulary
  config/app-default-config.json
  src/managers/ACLManager.ts
  src/managers/MediaManager.ts
  src/managers/PageManager.ts
  src/managers/__tests__/ACLManager.test.ts
  src/managers/__tests__/MediaManager.test.ts
  src/managers/__tests__/PageManager.test.ts
  src/providers/ElasticsearchSearchProvider.ts
  src/providers/FileSystemProvider.ts
  src/providers/LunrSearchProvider.ts
  src/providers/VersioningFileProvider.ts
  src/providers/__tests__/LunrSearchProvider.privateFilter.test.ts
Due: eslint --fix

docs: update project log for session 2026-05-03-11
  docs/project_log.md
Due: markdownlint --fix

test(#622): move routes.test.ts mock-default restoration from afterEach to beforeEach
  src/routes/__tests__/routes.test.ts
Due: eslint --fix

docs: update project log for session 2026-05-03-12
  docs/project_log.md
Due: markdownlint --fix

feat(#640): My Contributions card + 4 list routes (Phase 1 complete)
  src/managers/PageManager.ts
  src/providers/FileSystemProvider.ts
  src/providers/VersioningFileProvider.ts
  src/providers/__tests__/VersioningFileProvider.pagesByCreator.test.ts
  src/routes/WikiRoutes.ts
  src/types/Provider.ts
  views/my-list.ejs
  views/profile.ejs
Due: eslint --fix

docs: update project log for session 2026-05-03-13
  docs/project_log.md
Due: markdownlint --fix

feat(#640): Phase 2 — /my/edits and /my/shared (recent edits + audience-shared pages)
  src/managers/PageManager.ts
  src/providers/FileSystemProvider.ts
  src/providers/VersioningFileProvider.ts
  src/providers/__tests__/VersioningFileProvider.pagesByCreator.test.ts
  src/routes/WikiRoutes.ts
  src/types/Provider.ts
  views/profile.ejs
Due: eslint --fix

docs: update project log for session 2026-05-03-14
  docs/project_log.md
Due: markdownlint --fix

chore: release v3.8.0
  CHANGELOG.md
  config/app-default-config.json
  docs/performance/baseline-v3.8.0-2026-05-03.md
  package.json
Due: markdownlint --fix

docs(semver): add release-to-release perf diff to /semver workflow (Step 5b + Step 9 update)
  .claude/commands/semver.md
Due: markdownlint --fix

docs(semver): reference .claude/commands/othersites.md by path in Step 8 + document the install list inline
  .claude/commands/semver.md
Due: markdownlint --fix

docs: update project log for session 2026-05-03-15
  docs/project_log.md
Due: markdownlint --fix

feat(#611): add --compare flag to baseline-profile.sh
  .claude/commands/semver.md
  package.json
  scripts/baseline-profile.sh
Due: markdownlint --fix

docs: update project log for session 2026-05-03-16
  docs/project_log.md
Due: markdownlint --fix

feat(#613): authenticated route timings in baseline-profile.sh
  scripts/baseline-profile.sh
Due: none

docs: update project log for session 2026-05-03-17
  docs/project_log.md
Due: markdownlint --fix

feat(#610): memory observable in MetricsManager + telemetry-aware baseline
  scripts/baseline-profile.sh
  src/managers/MetricsManager.ts
  src/managers/__tests__/MetricsManager.test.ts
Due: eslint --fix

docs: update project log for session 2026-05-03-18
  docs/project_log.md
Due: markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
