Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

Used python script to fix MD060/table-column-style: Table column style [Table pipe is missing space to the right for style "compact"]
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
Due: markdownlint --fix

Oython script to fix MD060/table-column-style: Table column style [Table pipe is missing space to the right for style "compact"]
  scripts/fix-table-headers.py
Due: none

Used python script to fix MD060/table-column-style: Table column style [Table pipe is missing space to the right for style "compact"]
  docs/DOCUMENTATION-STANDARDS.md
  docs/Developer-Documentation.md
  docs/README.md
  docs/WikiContext-Complete-Guide.md
  docs/admin/Versioning-Deployment-Guide.md
  docs/api/Versioning-API.md
  docs/architecture/Cache-System.md
  docs/architecture/Current-Rendering-Pipeline.md
  docs/architecture/FileSystemProvider-Implementation-Summary.md
  docs/architecture/WikiDocument-API.md
  docs/architecture/WikiDocument-DOM-Library-Evaluation.md
Due: markdownlint --fix

Removed archive docs
  docs/architecture/WikiDocument-GitHub-Issues.md
  docs/architecture/WikiDocument-Migration-TODO.md
Due: markdownlint --fix

Used python script to fix MD060/table-column-style: Table column style [Table pipe is missing space to the right for style "compact"]
  docs/archive/pagehistory.html
  docs/archive/tab-VersionManagement-tab-pa.xhtml
  docs/developer/0d415b54-280f-4857-bc25-dbb4abd4a9bd.md
  docs/developer/445e8400-e29b-41d4-a716-446655440003.md
Due: markdownlint --fix

Used python script to fix MD060/table-column-style: Table column style [Table pipe is missing space to the right for style "compact"]
  docs/developer/967ba551-3330-43f5-aceb-575881cba683.md
  docs/features/PageLinkAutocomplete-QuickReference.md
  docs/features/TableStyles.md
  docs/managers/ACLManager.md
Due: markdownlint --fix

Used python script to fix MD060/table-column-style: Table column style [Table pipe is missing space to the right for style "compact"]
  docs/features/PageLinkAutocomplete.md
  docs/managers/AttachmentManager-Complete-Guide.md
Due: markdownlint --fix

Fix MD Lint error
  docs/managers/CacheManager-Complete-Guide.md
Due: markdownlint --fix

Fix MD rendering
  docs/planning/Business-packages/README.md
  docs/planning/Image-Video-Implementation-Planning.md
  docs/planning/JSPWiki-Docs/JSPWIki-Roles.md
  docs/planning/Transactions-types.md
  docs/user-guide/Page-Storage.md
Due: markdownlint --fix

Fix MD Errors
  docs/managers/AuditManager.md
  docs/planning/Business-packages/business-addon-mvp.md
  docs/planning/JSPWiki-Docs/JSPWiki-redering.md
  docs/planning/amdWiki Rendering Pipeline.md
Due: markdownlint --fix

MD Error fixing
  CHANGELOG.md
  docker/DOCKER.md
  docker/README.md
  docs/admin/Backups.md
  docs/api/generated/src/managers/ConfigurationManager/classes/export=.md
  docs/api/generated/src/parsers/LinkParser/README.md
  docs/api/generated/src/parsers/dom/DOMParser/classes/DOMParser.md
  docs/migration/WikiDocument-DOM-Migration.md
  required-pages/0ba6544e-ec5e-4e25-9c58-5d32a4e3d695.md
  required-pages/4dc51681-086b-49d3-9183-145bc9999eb6.md
  required-pages/699f3c44-62c8-4697-9847-b38dbb5468a2.md
Due: markdownlint --fix

Fix for MD Lint
  docs/INSTALLATION/INSTALLATION-SYSTEM.md
Due: markdownlint --fix

fix: resolve 18 TypeScript errors in typedoc build (#199)
  docs/project_log.md
  src/providers/FileAuditProvider.ts
  src/providers/LunrSearchProvider.ts
  src/providers/NullCacheProvider.ts
  src/providers/VersioningFileProvider.ts
Due: eslint --fix, markdownlint --fix

fix: resolve ESLint errors in TypeScript plugin conversions
  plugins/ConfigAccessorPlugin.js
  plugins/ConfigAccessorPlugin.ts
  plugins/CounterPlugin.js
  plugins/CounterPlugin.ts
  plugins/CurrentTimePlugin.js
  plugins/CurrentTimePlugin.ts
  plugins/ImagePlugin.js
  plugins/ImagePlugin.ts
  plugins/IndexPlugin.js
  plugins/IndexPlugin.ts
  plugins/RecentChangesPlugin.js
  plugins/RecentChangesPlugin.ts
  plugins/SearchPlugin.js
  plugins/SearchPlugin.ts
  plugins/SessionsPlugin.js
  plugins/SessionsPlugin.ts
  plugins/TotalPagesPlugin.ts
  plugins/UptimePlugin.js
  plugins/UptimePlugin.ts
  plugins/VariablesPlugin.ts
  plugins/__tests__/CounterPlugin.test.js
  plugins/__tests__/SessionsPlugin.test.js
  plugins/referringPagesPlugin.ts
  plugins/types.ts
  src/managers/PluginManager.ts
  src/managers/__tests__/PluginManager.test.js
  tsconfig.json
Due: eslint --fix

docs: update project_log for TypeScript plugin migration
  docs/project_log.md
Due: markdownlint --fix

chore: remove unused legacy folder
  src/legacy/app-new.js
  src/legacy/app-old.js
  src/legacy/app.js.backup
Due: none

docs: update project_log with TypeScript migration progress
  docs/project_log.md
Due: markdownlint --fix

fix: resolve markdown lint errors (Issue #190)
  .markdownlintignore
  docs/architecture/DOM-Parser-Implementation-Summary.md
  docs/architecture/WikiDocument-DOM-Architecture.md
  docs/providers/BasicAttachmentProvider-Complete-Guide.md
  docs/user-guide/Markdown-Cheat-Sheet.md
Due: markdownlint --fix

docs: update project_log for markdown lint fixes
  docs/project_log.md
Due: markdownlint --fix

fix: correct dist path imports in app.js
  app.js
Due: none

fix: correct remaining dist path for InstallService in app.js
  app.js
Due: none

fix: update plugin searchPaths to use compiled dist/plugins
  config/app-default-config.json
Due: none

docs: update project_log with plugin loading fix
  docs/project_log.md
Due: markdownlint --fix

Updated
  scripts/.claude/settings.local.json
Due: none

docs: add honest TypeScript migration status to project_log
  docs/project_log.md
Due: markdownlint --fix

fix: resolve 61 strict mode errors in WikiRoutes.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix: resolve 17 strict mode errors in MarkupParser.ts
  src/parsers/MarkupParser.ts
Due: eslint --fix

fix: complete ESLint strict mode compliance for MarkupParser.ts
  package-lock.json
  package.json
  src/parsers/MarkupParser.ts
Due: eslint --fix

docs: update project_log with MarkupParser.ts completion
  docs/project_log.md
Due: markdownlint --fix

revert: disable strict mode, create tracking issue #201
  tsconfig.json
Due: none

feat: enable TypeScript strict mode (WIP)
  package-lock.json
  package.json
  plugins/ConfigAccessorPlugin.ts
  src/managers/RenderingManager.ts
  src/parsers/LinkParser.ts
  src/parsers/dom/handlers/DOMPluginHandler.ts
  src/routes/WikiRoutes.ts
  src/utils/VersioningAnalytics.ts
  src/utils/VersioningMigration.ts
  src/utils/logger.ts
  tsconfig.json
Due: eslint --fix

Update with comments
  AGENTS.md
  CODE_STANDARDS.md
Due: markdownlint --fix

docs: update project_log with strict mode progress
  docs/project_log.md
Due: markdownlint --fix

Clarify ECMA
  CODE_STANDARDS.md
Due: markdownlint --fix

fix: resolve TypeScript strict mode errors (176 remaining)
  src/managers/AuditManager.ts
  src/managers/BackupManager.ts
  src/managers/CacheManager.ts
  src/managers/RenderingManager.ts
  src/managers/SearchManager.ts
  src/managers/UserManager.ts
  src/parsers/MarkupParser.ts
  src/parsers/dom/handlers/DOMLinkHandler.ts
  src/providers/VersioningFileProvider.ts
  src/types/express.d.ts
  src/utils/SchemaGenerator.ts
  src/utils/VersioningMigration.ts
  src/utils/sessionUtils.ts
Due: eslint --fix

docs: update project_log with strict mode fix progress
  docs/project_log.md
Due: markdownlint --fix

fix: WikiRoutes.ts TypeScript strict mode compliance
  package-lock.json
  package.json
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project_log with WikiRoutes.ts completion
  docs/project_log.md
Due: markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
