Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-19-16
  docs/project_log.md
Due: markdownlint --fix

feat(#537): add My Links pinned pages to sidebar via MyLinksPlugin
  public/js/my-links.js
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
  src/parsers/MarkupParser.ts
  src/plugins/MyLinksPlugin.ts
  src/routes/WikiRoutes.ts
  src/types/User.ts
  views/footer.ejs
  views/header.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-19-17
  docs/project_log.md
Due: markdownlint --fix

fix(#537): inject My Links in header.ejs for domain addon compatibility; add docs
  docs/plugins/MyLinksPlugin.md
  required-pages/36c9c6ed-986d-4ada-930b-67d7ee55b4c7.md
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
  views/header.ejs
Due: markdownlint --fix

docs: update project log for session 2026-04-19-18
  docs/project_log.md
Due: markdownlint --fix

docs: add technical demo guide for developer audience
  docs/demo/technical.md
Due: markdownlint --fix

feat(kiosk): rename /slideshow to /kiosk; add pages= curated list param
  docs/demo/technical.md
  required-pages/7e3a1b2c-4f5d-4e8a-9c6b-0d1e2f3a4b5c.md
  src/routes/WikiRoutes.ts
  views/kiosk.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-19-19
  docs/project_log.md
Due: markdownlint --fix

feat(parser): add TablePlugin and # auto-numbering in table rows
  docs/demo/technical.md
  src/parsers/MarkupParser.ts
  src/parsers/handlers/JSPWikiPreprocessor.ts
  src/plugins/TablePlugin.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-20-01
  docs/project_log.md
Due: markdownlint --fix

fix(#511): fix MediaPlugin/ImagePlugin frontmatter; tighten VariablesPlugin opening
  required-pages/6bdacfac-300d-4d89-ad4a-2acc98e12bc5.md
  required-pages/70416655-ace4-4440-8ae6-8fed7587a94f.md
  required-pages/8d2c3b4a-9e1f-4c5d-a6b7-7e8f9a0b1c2d.md
Due: markdownlint --fix

docs: update project log for session 2026-04-20-02
  docs/project_log.md
Due: markdownlint --fix

feat(#546-549): consolidate plugin utilities into pluginFormatters
  src/parsers/handlers/JSPWikiPreprocessor.ts
  src/plugins/PageSlideshowPlugin.ts
  src/plugins/RecentChangesPlugin.ts
  src/plugins/SlideshowPlugin.ts
  src/plugins/UptimePlugin.ts
  src/routes/WikiRoutes.ts
  src/utils/pluginFormatters.ts
Due: eslint --fix

docs: update project log for session 2026-04-20-03
  docs/project_log.md
Due: markdownlint --fix

feat(#395): add page comments for authenticated users
  config/app-default-config.json
  src/WikiEngine.ts
  src/context/WikiContext.ts
  src/context/__tests__/WikiContext.test.ts
  src/managers/CommentManager.ts
  src/parsers/context/ParseContext.ts
  src/parsers/handlers/PluginSyntaxHandler.ts
  src/plugins/CommentsPlugin.ts
  src/routes/WikiRoutes.ts
  src/types/Comment.ts
Due: eslint --fix

docs: update project log for session 2026-04-20-04
  docs/TODO.md
  docs/project_log.md
Due: markdownlint --fix

fix(#395): register CommentManager in engine overload; remove explicit casts
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix(#395): fix DOMPluginHandler missing pageMetadata/userContext/requestInfo in plugin context
  src/parsers/dom/handlers/DOMPluginHandler.ts
  src/plugins/CommentsPlugin.ts
Due: eslint --fix

feat(#551): add TabsPlugin + Template:PageTabs auto-injection for tabbed page sections
  config/app-default-config.json
  required-pages/56e48394-b507-4f0e-98fb-02d9e7c2e165.md
  src/plugins/TabPlugin.ts
  src/plugins/TabsPlugin.ts
  src/routes/WikiRoutes.ts
  views/view.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-21-01
  docs/project_log.md
Due: markdownlint --fix

fix(#551): reorder tabs (Referring Pages first), remove Comments h2 heading, drop diagnostic logging
  required-pages/56e48394-b507-4f0e-98fb-02d9e7c2e165.md
  src/plugins/CommentsPlugin.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-21-02
  docs/project_log.md
Due: markdownlint --fix

feat(#551): add noheader param to CommentsPlugin; default shows heading for standalone use
  required-pages/56e48394-b507-4f0e-98fb-02d9e7c2e165.md
  src/plugins/CommentsPlugin.ts
Due: eslint --fix, markdownlint --fix

feat(#551): add FootnotesPlugin and Footnotes tab to Template:PageTabs
  required-pages/56e48394-b507-4f0e-98fb-02d9e7c2e165.md
  src/plugins/FootnotesPlugin.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-21-03
  docs/project_log.md
Due: markdownlint --fix

feat(#553): remove inline More Information / ReferringPagesPlugin from templates; add migration script
  scripts/migrate-page-tabs.mjs
  templates/category.md
  templates/default.md
  templates/documentation.md
  templates/meeting-notes.md
Due: markdownlint --fix

feat(#553): extend migration script to accept extra directory paths
  scripts/migrate-page-tabs.mjs
Due: none

fix(#553): fix migration script — CRLF endings, h1/h3 headings, JSPWiki footnotes
  scripts/migrate-page-tabs.mjs
  templates/category.md
  templates/default.md
  templates/documentation.md
  templates/meeting-notes.md
  templates/user-page.md
Due: markdownlint --fix

feat(#553): FootnotesPlugin handles JSPWiki * [#N] footnote format
  src/plugins/FootnotesPlugin.ts
Due: eslint --fix

fix(#553): fix JSPWiki regex (* → +) to protect frontmatter closer; add repair script
  scripts/migrate-page-tabs.mjs
  scripts/repair-frontmatter.mjs
Due: none

fix(#553): keep footnote lines in page body; add recovery script for deleted content
  scripts/migrate-page-tabs.mjs
  scripts/recover-footnotes.mjs
Due: none

feat(#553): FootnotesPlugin resolves interwiki links; adds * [^N] bullet format
  src/plugins/FootnotesPlugin.ts
Due: eslint --fix

fix(#553): strip trailing slash from interwiki page name before URL encoding
  src/plugins/FootnotesPlugin.ts
Due: eslint --fix

feat(#553): add extract-external-links script to convert markdown external links to footnotes
  scripts/extract-external-links.mjs
Due: none

docs: update project log for session 2026-04-21-04
  docs/project_log.md
Due: markdownlint --fix

feat(#553): tab/footer chrome via config; FootnotesPlugin + CommentsPlugin docs; /docs skill
  .claude/commands/docs.md
  config/app-default-config.json
  docs/proper-documentation-pages.md
  required-pages/51666223-22ef-4143-a34c-5902a3cf1ce0.md
  required-pages/a5e68176-258a-40e8-8f6b-f86729b06cd5.md
  required-pages/d96b072e-aebf-48e2-a5aa-2ffcc4daa821.md
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-21-05
  docs/project_log.md
Due: markdownlint --fix

fix(#553): repair footnote link corruption; migrate bare-URL footnotes; update docs
  required-pages/3d7a2509-06b1-407a-a782-545b13118f0e.md
  required-pages/51666223-22ef-4143-a34c-5902a3cf1ce0.md
  required-pages/d96b072e-aebf-48e2-a5aa-2ffcc4daa821.md
  scripts/extract-external-links.mjs
  scripts/migrate-bare-url-footnotes.mjs
  scripts/repair-footnote-links.mjs
  src/plugins/FootnotesPlugin.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-21-06
  docs/project_log.md
Due: markdownlint --fix

feat(#553,#554): footnote sidecar storage, CRUD UI, template fix, page-creator fix
  config/app-default-config.json
  docs/TODO.md
  scripts/migrate-footnotes-to-sidecar.mjs
  src/WikiEngine.ts
  src/managers/ACLManager.ts
  src/managers/FootnoteManager.ts
  src/managers/PageManager.ts
  src/managers/TemplateManager.ts
  src/managers/ValidationManager.ts
  src/plugins/FootnotesPlugin.ts
  src/routes/WikiRoutes.ts
  templates/category.md
  templates/default.md
  templates/documentation.md
  templates/meeting-notes.md
  templates/user-page.md
Due: eslint --fix, markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
