Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

chore: update bug_report.md issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: markdownlint --fix

chore: update feature_request.md issue template
  .github/ISSUE_TEMPLATE/feature_request.md
Due: markdownlint --fix

feat: display caption instead of filename in media gallery views (#348)
  src/providers/FileSystemMediaProvider.ts
  views/media-item.ejs
  views/media-keyword.ejs
  views/media-search.ejs
  views/media-year.ejs
Due: eslint --fix

docs: update project log for #348 media caption display
  docs/project_log.md
Due: markdownlint --fix

chore: bump version to 1.6.4
  config/app-default-config.json
  package.json
Due: none

docs: update project log for 2026-03-22 maintenance
  docs/project_log.md
Due: markdownlint --fix

chore: fix npm audit vulnerabilities (multer, minimatch, flatted, hono, basic-ftp, etc.)
  package-lock.json
Due: none

docs: update project log for 2026-03-22 security audit fix
  docs/project_log.md
Due: markdownlint --fix

fix: increase afterAll timeout in location-plugin E2E tests to prevent orphaned pages (#351)
  tests/e2e/location-plugin.spec.js
Due: none

docs: update project log for #351 afterAll timeout fix
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for orphaned test page cleanup (#326)
  docs/project_log.md
Due: markdownlint --fix

feat: core theming system — phases 1-4 (#350, closes #352 #353 #354 #355)
  app.js
  config/app-default-config.json
  src/managers/ThemeManager.ts
  src/types/Config.ts
  themes/core.css
  themes/default/assets/favicon.png
  themes/default/assets/favicon.svg
  themes/default/css/variables.css
  themes/default/theme.json
  themes/plugins/location.css
  views/header.ejs
Due: eslint --fix

feat: theming — phase 5 admin UI for theme selection (#350, closes #356)
  src/routes/WikiRoutes.ts
  views/admin-settings.ejs
Due: eslint --fix

docs: update project log for theming system #350
  docs/project_log.md
Due: markdownlint --fix

docs: add platform vision docs and file issues for add-on extension gaps (#358, #359)
  docs/amdWiki-as-platform.md
  docs/platform-core-capabilities.md
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for #360 rename to ngdpbase
  docs/project_log.md
Due: markdownlint --fix

chore: bump version to 2.0.0 (MAJOR — ngdpbase rename, config key namespace change)
  config/app-default-config.json
  package.json
Due: none

fix: preserve amdwiki-salt password hash value after rename
  config/app-default-config.json
  src/managers/UserManager.ts
Due: eslint --fix

docs: update project log for #360 rename and password salt fix
  docs/project_log.md
Due: markdownlint --fix

fix: ThemeManager resolves logo separately from favicon
  src/managers/ThemeManager.ts
Due: eslint --fix

fix: remove hardcoded page names, update Wiki Documentation references
  docs/project_log.md
  required-pages/4a266851-f3cd-4ba6-bbbe-5a408f3adf72.md
  required-pages/85257e27-5019-4f6d-b8e7-9ed1770841e0.md
  required-pages/92fd6e62-20f8-46c2-b7da-77b404c3100a.md
  required-pages/9cd3b590-af03-44cf-a063-3a01559d3bd3.md
  required-pages/a40812e4-3a9d-42b5-b5a8-e89b41a46096.md
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
  required-pages/fe7a378d-dfa5-4e37-9891-637568ebe0b4.md
  search-index/documents.json
  src/managers/TemplateManager.ts
  src/parsers/handlers/LinkParserHandler.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

feat: rename /wiki/ URL path to /view/ throughout codebase (#364)
  docs/project_log.md
  required-pages/2586c69b-a604-4fcd-95a4-591ca45deacb.md
  required-pages/4a266851-f3cd-4ba6-bbbe-5a408f3adf72.md
  required-pages/AEF78351-2A39-4F7E-9F30-517AA9900614.md
  src/managers/AttachmentManager.ts
  src/managers/RenderingManager.ts
  src/parsers/LinkParser.ts
  src/parsers/dom/handlers/DOMLinkHandler.ts
  src/parsers/handlers/WikiLinkHandler.ts
  src/routes/WikiRoutes.ts
  src/utils/pluginFormatters.ts
  tests/e2e/fixtures/helpers.js
  tests/e2e/location-plugin.spec.js
  tests/e2e/pages.spec.js
  views/admin-backup.ejs
  views/admin-dashboard.ejs
  views/admin-media.ejs
  views/admin-required-pages.ejs
  views/edit-backup.ejs
  views/edit.ejs
  views/header.ejs
  views/media-item.ejs
  views/page-diff.ejs
  views/page-history.ejs
  views/profile.ejs
  views/reader.ejs
  views/search-results.ejs
  views/user-keyword-create.ejs
  views/view.ejs
Due: eslint --fix, markdownlint --fix

docs: fix project log duplicate heading and bold style; commit remaining required-pages rename
  docs/project_log.md
  required-pages/4c0c0fa8-66dc-4cb3-9726-b007f874700c.md
Due: markdownlint --fix

fix: update plugins and unit tests for /wiki/ → /view/ URL rename
  app.js
  plugins/IndexPlugin.ts
  plugins/RecentChangesPlugin.ts
  plugins/SearchPlugin.ts
  plugins/UndefinedPagesPlugin.ts
  plugins/__tests__/SearchPlugin.test.js
  plugins/__tests__/UndefinedPagesPlugin.test.js
  plugins/referringPagesPlugin.ts
  src/managers/__tests__/MetricsManager.test.js
  src/parsers/__tests__/LinkParser.test.js
  src/parsers/__tests__/MarkupParser-EndToEnd.test.js
  src/parsers/dom/handlers/__tests__/DOMLinkHandler.test.js
  src/routes/__tests__/WikiRoutes-isRequiredPage.test.js
  src/routes/__tests__/maintenance-mode.test.js
  src/routes/__tests__/routes.test.js
Due: eslint --fix

docs: update project log for #364 /wiki/ → /view/ rename
  docs/project_log.md
Due: markdownlint --fix

docs: update repo URLs from jwilleke/amdWiki to jwilleke/ngdpbase
  SETUP.md
  docker/DEPLOYMENT.md
  docker/DOCKER.md
  docker/TRAEFIK-DEPLOYMENT.md
  docker/k8s/configmap.yaml
  required-pages/46ef520f-e10f-423f-bc07-bddc08720e16.md
  required-pages/5100a3df-0d87-4d85-87de-359f51029c67.md
  required-pages/6bdacfac-300d-4d89-ad4a-2acc98e12bc5.md
  required-pages/7b487295-af7e-4b4a-a2cb-6e3b6877a413.md
  required-pages/c1d696da-3a42-43b6-9775-a6587410d0c5.md
  required-pages/c79b51f6-249c-4440-a364-649d15d72326.md
  required-pages/e67d5e25-76d4-43fb-bce0-6f7675654f17.md
  required-pages/fe7a378d-dfa5-4e37-9891-637568ebe0b4.md
  scripts/create-all-markup-parser-issues.sh
  scripts/create-markup-parser-issues.sh
Due: markdownlint --fix

docs: update project log for GitHub repo rename to ngdpbase
  docs/project_log.md
Due: markdownlint --fix

chore: remove search-index/documents.json from git tracking
  .gitignore
  search-index/documents.json
Due: none

chore: rename E2E test page prefix AMDWIKI-test → NGDPBASE-test
  tests/e2e/fixtures/helpers.js
Due: none

chore: update test fixture path amdwiki → ngdpbase in ConfigurationManager test
  src/managers/__tests__/ConfigurationManager.test.js
Due: none

chore: update PROJECT_NAME in .env.example to ngdpbase
  .env.example
Due: none

chore: final amdwiki → ngdpbase cleanup pass
  docker/build-image.sh
  docs/MCP-SERVER.md
  required-pages/46345AC0-FBC6-455F-A2D0-53AD7FDD0E19.md
  src/managers/__tests__/policy-system.test.js
  test-results/2025-12-07.json
Due: markdownlint --fix

chore: add test-results/ to .gitignore
  .gitignore
Due: none

docs: update project log for v2.0.0 release and rename sweep
  docs/project_log.md
Due: markdownlint --fix

fix: include user preferences in parse cache key (#341)
  docs/project_log.md
  src/parsers/MarkupParser.ts
Due: eslint --fix, markdownlint --fix

chore: bump version to 2.0.1 (patch for #341)
  config/app-default-config.json
  package.json
Due: none

feat: registerPlugin() public API and engine.app for add-ons (#358, #359)
  app.js
  config/app-default-config.json
  docs/project_log.md
  package.json
  src/managers/PluginManager.ts
  src/managers/__tests__/PluginManager.registerPlugin.test.js
  src/types/WikiEngine.ts
Due: eslint --fix, markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
