Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-16-03
  docs/project_log.md
Due: markdownlint --fix

chore: add required-pages/versions/ to .gitignore
  .gitignore
Due: none

feat(#512): add emoji shortcode support with inline autocomplete and picker modal
  public/js/emoji-autocomplete.js
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-Emoji.test.js
  src/parsers/__tests__/emoji-map.test.js
  src/parsers/data/emoji-map.ts
  views/_emoji-picker.ejs
  views/edit.ejs
  views/footer.ejs
Due: eslint --fix

docs: update project log for session 2026-04-16-04
  docs/project_log.md
Due: markdownlint --fix

feat(#514,#515,#518,#519,#520): media transcoding, dedup, date/path/facet filtering
  addons/elasticsearch/index.ts
  addons/elasticsearch/src/Sist2AssetProvider.ts
  src/managers/AssetManager.ts
  src/managers/AssetService.ts
  src/managers/MediaManager.ts
  src/providers/BaseMediaProvider.ts
  src/providers/FileSystemMediaProvider.ts
  src/routes/WikiRoutes.ts
  src/types/Asset.ts
  src/utils/imageTransform.ts
  views/_asset-picker.ejs
Due: eslint --fix

docs: update project log for session 2026-04-17-01
  docs/project_log.md
Due: markdownlint --fix

docs(#512): add emoji shortcode documentation
  docs/features/emoji-shortcodes.md
  required-pages/7720bf08-0b25-4119-a7ba-3713045558f4.md
Due: markdownlint --fix

docs(#511): remove wiki branding from required-pages documentation
  required-pages/4c0c0fa8-66dc-4cb3-9726-b007f874700c.md
  required-pages/585688f9-96cf-45d3-84e3-7a29893474d6.md
  required-pages/5df07a53-8a08-420f-a7a3-2318631bf320.md
  required-pages/89d076df-7d15-4348-94f4-f2a4899a5926.md
  required-pages/928a1050-3542-4140-9cd4-515bac154c84.md
  required-pages/9b55b835-29dc-4944-8739-788330b7f33c.md
  required-pages/a2c48b2d-8c91-43f5-9657-bc1d11315b66.md
  required-pages/a40812e4-3a9d-42b5-b5a8-e89b41a46096.md
  required-pages/fe7a378d-dfa5-4e37-9891-637568ebe0b4.md
Due: markdownlint --fix

docs: update project log for session 2026-04-17-02
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-04-17-03
  docs/project_log.md
Due: markdownlint --fix

feat(#402): add Journal addon Phase 1 — plugin, API routes, admin panel, seeded pages
  addons/journal/index.ts
  addons/journal/package-lock.json
  addons/journal/package.json
  addons/journal/pages/389fa032-ef85-4d98-8764-5a1941d800fa.md
  addons/journal/pages/c2789e26-0617-4f5f-b3ce-e51ed336fafb.md
  addons/journal/plugins/JournalPlugin.ts
  addons/journal/public/css/journal.css
  addons/journal/routes/admin.ts
  addons/journal/routes/api.ts
  addons/journal/tsconfig.json
  eslint.config.mjs
  package.json
  views/admin-journal.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-17-04
  docs/project_log.md
Due: markdownlint --fix

docs: add addon-architecture.md — internal reference for addon system design and integration
  docs/platform/addon-architecture.md
Due: markdownlint --fix

docs: update project log for session 2026-04-17-05
  docs/project_log.md
Due: markdownlint --fix

feat(#527): Journal Phase 2 — JournalDataManager, public/editor routes, tag/mood facets, 7 views
  addons/journal/index.ts
  addons/journal/managers/JournalDataManager.ts
  addons/journal/public/css/journal.css
  addons/journal/routes/api.ts
  addons/journal/routes/editor.ts
  addons/journal/routes/public.ts
  addons/journal/views/_journal-entry-card.ejs
  addons/journal/views/_journal-sidebar.ejs
  addons/journal/views/journal-by-mood.ejs
  addons/journal/views/journal-by-tag.ejs
  addons/journal/views/journal-editor.ejs
  addons/journal/views/journal-entry.ejs
  addons/journal/views/journal-home.ejs
Due: eslint --fix

docs: update project log for session 2026-04-17-06
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-04-17-07
  docs/project_log.md
Due: markdownlint --fix

feat(#528): Journal Phase 3 — template picker, voice-to-text, mood picker UX
  .gitignore
  addons/journal/index.ts
  addons/journal/managers/JournalTemplateManager.ts
  addons/journal/public/css/journal.css
  addons/journal/public/js/journal-editor.js
  addons/journal/routes/api.ts
  addons/journal/routes/editor.ts
  addons/journal/views/journal-editor.ejs
Due: eslint --fix

docs: update project log for session 2026-04-17-08
  docs/project_log.md
Due: markdownlint --fix

feat(#529): Journal Phase 4 — export routes, daily reminder, admin user stats
  addons/journal/index.ts
  addons/journal/routes/admin.ts
  addons/journal/routes/api.ts
  views/admin-journal.ejs
Due: eslint --fix

docs: update project log for session 2026-04-17-09
  docs/project_log.md
Due: markdownlint --fix

docs(journal): update journalhelp seeded page with full Phase 1-4 documentation
  addons/journal/pages/c2789e26-0617-4f5f-b3ce-e51ed336fafb.md
Due: markdownlint --fix

fix(security): resolve Dependabot alerts #90 (protobufjs critical) and #91 (basic-ftp high)
  package-lock.json
  package.json
Due: none

fix(#530): resolve journal dataPath via ConfigurationManager.resolveDataPath()
  addons/journal/index.ts
Due: eslint --fix

fix(journal): resolve userContext via UserManager.getCurrentUser() for WikiContext
  addons/journal/routes/api.ts
  addons/journal/routes/editor.ts
Due: eslint --fix

fix(journal): pass non-empty content to WikiContext — empty string coerces to null
  addons/journal/routes/api.ts
  addons/journal/routes/editor.ts
Due: eslint --fix

feat(journal): [journal] wiki link redirects to /journal; update help page quick links
  addons/journal/index.ts
  addons/journal/pages/c2789e26-0617-4f5f-b3ce-e51ed336fafb.md
Due: eslint --fix, markdownlint --fix

feat(#533): add /journal/settings user preferences page
  addons/journal/routes/editor.ts
  addons/journal/routes/public.ts
  addons/journal/views/_journal-sidebar.ejs
  addons/journal/views/journal-editor.ejs
  addons/journal/views/journal-settings.ejs
Due: eslint --fix

docs: update project log for session 2026-04-17-10
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-04-18-01
  docs/project_log.md
Due: markdownlint --fix

fix(journal): mount editorRoutes before publicRoutes to prevent /:slug catching /settings
  addons/journal/index.ts
Due: eslint --fix

fix: remove hardcoded LeftMenu fallback; warn when LeftMenu page missing
  addons/journal/routes/editor.ts
  addons/journal/routes/helpers.ts
  addons/journal/routes/public.ts
  src/routes/WikiRoutes.ts
  views/header.ejs
Due: eslint --fix

docs: update project log for session 2026-04-18-02
  docs/project_log.md
Due: markdownlint --fix

test(journal): add 29 unit tests for JournalDataManager
  addons/journal/managers/__tests__/JournalDataManager.test.ts
  addons/journal/tsconfig.test.json
  eslint.config.mjs
Due: eslint --fix

docs(platform): update addon docs for journal completion and leftMenu changes
  docs/platform/addon-architecture.md
  docs/platform/addon-development-guide.md
  docs/platform/page-overrides.md
Due: markdownlint --fix

docs: update project log for session 2026-04-18-03
  docs/project_log.md
Due: markdownlint --fix

chore(release): prepare v3.1.0 — journal addon, Dockerfile addons fix
  docker/Dockerfile
  docs/CHANGELOG.md
Due: markdownlint --fix

fix(docker): update entry point from app.js to dist/src/app.js; add addons/ copy
  docker/Dockerfile
Due: none

ci(docker): add smoke test — healthcheck + HTTP endpoint verification
  .github/workflows/docker-build.yml
Due: none

fix(deps): add minimatch as explicit production dependency
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
