Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

feat(#604): path preflight to detect missing macOS volume mounts
  src/managers/BackupManager.ts
  src/utils/PathPreflight.ts
  src/utils/__tests__/PathPreflight.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-30-01
  docs/project_log.md
Due: markdownlint --fix

fix(#607): hoist vi.mock to top level in forms api.test.ts
  addons/forms/__tests__/api.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-30-02
  docs/project_log.md
Due: markdownlint --fix

refactor(#604): move path preflight into BaseManager helper
  src/managers/BackupManager.ts
  src/managers/BaseManager.ts
  src/managers/__tests__/BaseManager.preflight.test.ts
Due: eslint --fix

feat(#604): apply path preflight to remaining six managers
  src/managers/ACLManager.ts
  src/managers/CommentManager.ts
  src/managers/ExportManager.ts
  src/managers/FootnoteManager.ts
  src/managers/NotificationManager.ts
  src/managers/TemplateManager.ts
Due: eslint --fix

docs: update project log for session 2026-04-30-03
  docs/project_log.md
Due: markdownlint --fix

docs(semver): adapt /semver command to ngdpbase tooling
  .claude/commands/semver.md
Due: markdownlint --fix

chore: release v3.3.7
  CHANGELOG.md
  config/app-default-config.json
  package.json
  src/utils/version.ts
Due: eslint --fix, markdownlint --fix

fix(#609): make mockUserKeywordsConfig stable to prevent test flake
  src/routes/__tests__/WikiRoutes.coverage13.test.ts
Due: eslint --fix

feat(#603): add baseline-profile.sh + first v3.3.7 baseline
  docs/performance/baseline-v3.3.7-2026-04-30.md
  scripts/baseline-profile.sh
Due: markdownlint --fix

feat(#603): wire baseline-profile into /semver release flow + npm scripts
  .claude/commands/semver.md
  docs/performance/baseline-v3.3.7-2026-04-30.md
  package.json
Due: markdownlint --fix

feat(#603): add /perf-test skill for ad-hoc baseline capture
  .claude/commands/perf-test.md
Due: markdownlint --fix

fix(#596): wire FilterChain — render-time warnings + save-time blocking
  src/managers/ValidationManager.ts
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-EndToEnd.test.ts
  src/parsers/__tests__/MarkupParser-InlineStyles.test.ts
  src/parsers/__tests__/MarkupParser.filterChain.test.ts
  src/parsers/filters/FilterChain.ts
  src/parsers/filters/ValidationFilter.ts
  src/parsers/filters/__tests__/FilterChain.collectErrors.test.ts
  src/routes/WikiRoutes.ts
  views/edit.ejs
Due: eslint --fix

docs: update project log for session 2026-04-30-04
  docs/project_log.md
Due: markdownlint --fix

feat(#616): split markupSyntax into per-pattern save-blocking rules
  src/parsers/filters/ValidationFilter.ts
  src/parsers/filters/__tests__/ValidationFilter.markupRules.test.ts
Due: eslint --fix

feat(#614,#615): SecurityFilter post-Showdown wiring + FilterChain stats endpoint
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser.filterChain.test.ts
  src/parsers/filters/BaseFilter.ts
  src/parsers/filters/FilterChain.ts
  src/parsers/filters/SecurityFilter.ts
  src/parsers/filters/__tests__/FilterChain.phase.test.ts
  src/routes/WikiRoutes.ts
  src/routes/__tests__/WikiRoutes.coverage16.test.ts
Due: eslint --fix

feat(#590): replace location.reload() with DOM patch after footnote/comment mutation
  src/plugins/CommentsPlugin.ts
  src/plugins/FootnotesPlugin.ts
  src/plugins/__tests__/CommentsPlugin.renderListHtml.test.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for session 2026-04-30-05
  docs/project_log.md
Due: markdownlint --fix

docs(planning): consolidate Person/Organization design into single plan (#602, #617)
  docs/planning/OrganizationRole-plannig.md
  docs/planning/Persons and relationships.md
Due: markdownlint --fix

old planning doc
  docs/planning/TypeScript-Migration-Plan.md
  docs/project_log.md
Due: markdownlint --fix

feat(#617): core Person/Organization refactor — base layer for #602
  config/app-default-config.json
  docs/planning/OrganizationRole-plannig.md
  package-lock.json
  required-pages/928a1050-3542-4140-9cd4-515bac154c84.md
  src/WikiEngine.ts
  src/managers/AddonsManager.ts
  src/managers/OrganizationManager.ts
  src/managers/PersonManager.ts
  src/managers/__tests__/AddonsManager.disableCascade.test.ts
  src/managers/__tests__/OrganizationManager.test.ts
  src/managers/__tests__/PersonManager.test.ts
  src/providers/FileOrganizationProvider.ts
  src/providers/FilePersonProvider.ts
  src/routes/InstallRoutes.ts
  src/routes/WikiRoutes.ts
  src/services/InstallService.ts
  src/types/Config.ts
  src/types/Organization.ts
  src/types/OrganizationProvider.ts
  src/types/Person.ts
  src/types/PersonProvider.ts
  src/types/index.ts
  views/install.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-05-01-01
  docs/project_log.md
Due: markdownlint --fix

fix(#617): seed install org during headless install for docker/k8s
  config/app-custom-config.example
  src/managers/__tests__/OrganizationManager.test.ts
  src/services/InstallService.ts
Due: eslint --fix

chore: release v3.4.0
  CHANGELOG.md
  config/app-default-config.json
  docs/performance/baseline-v3.4.0-2026-05-01.md
  package.json
Due: markdownlint --fix

fix(#618): use default import for fs-extra so Node ESM exposes its API
  src/managers/PageManager.ts
  src/parsers/handlers/LinkParserHandler.ts
  src/providers/FileAuditProvider.ts
  src/services/InstallService.ts
Due: eslint --fix

docs: update project log for session 2026-05-01-02
  docs/project_log.md
Due: markdownlint --fix

docs(#617): correct planning doc to match current state
  docs/planning/OrganizationRole-plannig.md
Due: markdownlint --fix

feat(#617): JSON-LD as source of truth, URL-first filenames, uniqueness guards
  config/app-default-config.json
  src/managers/OrganizationManager.ts
  src/managers/__tests__/OrganizationManager.test.ts
  src/providers/FileOrganizationProvider.ts
  src/services/InstallService.ts
  src/types/Config.ts
  src/utils/__tests__/orgFilename.test.ts
  src/utils/orgFilename.ts
Due: eslint --fix

docs: update project log for session 2026-05-01-03
  docs/project_log.md
Due: markdownlint --fix

feat(#617): wire UserManager person sync to PersonManager + OrganizationManager
  scripts/migrate-users-to-persons.ts
  src/managers/OrganizationManager.ts
  src/managers/PersonManager.ts
  src/managers/UserManager.ts
Due: eslint --fix

docs: update project log for session 2026-05-01-04
  docs/project_log.md
Due: markdownlint --fix

feat(#617): backfill Person.memberOf for legacy Person records
  scripts/backfill-person-memberof.ts
Due: eslint --fix

docs: update project log for session 2026-05-01-05
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-05-01-06
  docs/project_log.md
Due: markdownlint --fix

feat(#617): RoleManager + FileRoleProvider plumbing (iteration 1, no callers)
  config/app-default-config.json
  src/WikiEngine.ts
  src/managers/RoleManager.ts
  src/managers/__tests__/RoleManager.test.ts
  src/providers/FileRoleProvider.ts
  src/types/Config.ts
  src/types/Role.ts
  src/types/RoleProvider.ts
Due: eslint --fix

docs: update project log for session 2026-05-01-07
  docs/project_log.md
Due: markdownlint --fix

feat(#617): wire UserManager role mirror to RoleManager (iteration 2)
  scripts/backfill-roles-from-users.ts
  src/managers/UserManager.ts
  src/managers/__tests__/UserManager.roleMirror.test.ts
Due: eslint --fix

feat(#617): swap permission read-side onto RoleManager (iteration 3a)
  src/app.ts
  src/managers/UserManager.ts
  src/managers/__tests__/UserManager.resolveUserRoles.test.ts
Due: eslint --fix

feat(#617): drop User.roles[]; RoleManager is single source of truth (iteration 3b)
  scripts/strip-user-roles.ts
  src/managers/UserManager.ts
  src/managers/__tests__/UserManager.resolveUserRoles.test.ts
  src/managers/__tests__/UserManager.searchUsers.test.ts
  src/managers/__tests__/UserManager.test.ts
  src/routes/WikiRoutes.ts
  src/types/User.ts
  src/types/guards.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
