Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

test: unit tests for GoogleOIDCProvider (#447)
  src/providers/__tests__/GoogleOIDCProvider.test.js
Due: none

fix: skip github-only pages when seeding required-pages to data/ (#451)
  src/managers/PageManager.ts
  src/managers/__tests__/PageManager.seedRequiredPages.test.js
Due: eslint --fix

feat: notify admins when github-only pages are skipped during seed (#451)
  src/managers/PageManager.ts
Due: eslint --fix

refactor: extract _media-card.ejs shared partial (#446)
  views/_media-card.ejs
  views/media-search.ejs
  views/search-results.ejs
Due: none

chore: update project log for session 2026-04-05-04
  docs/project_log.md
Due: markdownlint --fix

feat: image lightbox with prev/next browsing on media search pages (#433)
  views/_media-card.ejs
  views/_media-lightbox.ejs
  views/media-search.ejs
  views/search-results.ejs
Due: none

feat: role-based page access via front matter (#449)
  CHANGELOG.md
  config/app-default-config.json
  docs/project_log.md
  package.json
  src/context/WikiContext.ts
  src/managers/ACLManager.ts
  src/managers/PageManager.ts
  src/managers/UserManager.ts
  src/managers/__tests__/ACLManager.test.js
  src/providers/VersioningFileProvider.ts
  src/routes/WikiRoutes.ts
  src/types/Page.ts
  views/edit.ejs
Due: eslint --fix, markdownlint --fix

chore: update project log for session 2026-04-05-05
  docs/project_log.md
Due: markdownlint --fix

fix: replace networkidle with domcontentloaded in E2E tests (#460)
  tests/e2e/admin-maintenance.spec.js
  tests/e2e/admin.spec.js
  tests/e2e/auth.setup.js
  tests/e2e/auth.spec.js
  tests/e2e/fixtures/auth.js
  tests/e2e/fixtures/helpers.js
  tests/e2e/location-plugin.spec.js
  tests/e2e/mobile-navigation.spec.js
  tests/e2e/pages.spec.js
  tests/e2e/search.spec.js
Due: none

Updated
  package-lock.json
Due: none

Updated default leftmenu content
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
Due: markdownlint --fix

fix: LeftMenu and Footer missing — getPage() not getPageContent() for ?? fallback (#461)
  src/routes/WikiRoutes.ts
Due: eslint --fix

updated content
  config/app-default-config.json
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
Due: markdownlint --fix

Updated title
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
Due: markdownlint --fix

docs: replace real-looking SMTP example credentials with placeholders (#459)
  docs/admin/email-setup.md
Due: markdownlint --fix

feat: unify Browse Assets dialog on /search attachments tab (#433)
  views/_asset-picker.ejs
  views/search-results.ejs
Due: none

chore: update project log for session 2026-04-05-06
  docs/project_log.md
Due: markdownlint --fix

feat: MarqueePlugin — CSS scrolling text banner (#454)
  CHANGELOG.md
  config/app-default-config.json
  package.json
  plugins/MarqueePlugin.ts
  plugins/__tests__/MarqueePlugin.test.js
Due: eslint --fix, markdownlint --fix

docs: add MarqueePlugin developer doc and end-user wiki page (#454)
  docs/plugins/MarqueePlugin.md
  required-pages/654a0565-a16f-46aa-b1ec-8f2dc0adc592.md
Due: markdownlint --fix

Updated content
  required-pages/654a0565-a16f-46aa-b1ec-8f2dc0adc592.md
Due: markdownlint --fix

feat: add SlideshowPlugin — Bootstrap 5 image carousel (#453)
  docs/plugins/SlideshowPlugin.md
  package-lock.json
  package.json
  plugins/SlideshowPlugin.ts
  plugins/__tests__/SlideshowPlugin.test.js
  required-pages/f1f41a47-8d0d-4d46-a5e2-6208ba42e4a0.md
Due: eslint --fix, markdownlint --fix

docs: update SlideshowPlugin wiki page to show syntax then live render
  required-pages/f1f41a47-8d0d-4d46-a5e2-6208ba42e4a0.md
Due: markdownlint --fix

chore: update project log for session 2026-04-05-07
  docs/project_log.md
Due: markdownlint --fix

feat: add sample images and update SlideshowPlugin wiki page examples
  public/images/sample-forest.jpg
  public/images/sample-mountains.jpg
  public/images/sample-ocean.jpg
  public/images/sample-sunset.jpg
  required-pages/f1f41a47-8d0d-4d46-a5e2-6208ba42e4a0.md
Due: markdownlint --fix

feat: AddonsManager multi-path support + calendar addon (#462)
  addons/calendar/README.md
  addons/calendar/index.js
  addons/calendar/managers/CalendarDataManager.js
  addons/calendar/package.json
  addons/calendar/plugins/CalendarPlugin.js
  addons/calendar/public/css/calendar.css
  addons/calendar/routes/api.js
  docs/platform/addon-development-guide.md
  docs/plugins/CalendarPlugin.md
  required-pages/cfb76570-1bed-4ad0-a72d-6bb44cdabc7a.md
  src/managers/AddonsManager.ts
  src/managers/__tests__/AddonsManager.test.js
Due: eslint --fix, markdownlint --fix

chore: update project log for session 2026-04-05-08
  docs/project_log.md
Due: markdownlint --fix

chore: add package-lock.json for calendar addon
  addons/calendar/package-lock.json
Due: none

chore: remove template addon scaffold; use calendar as reference
  addons/template/README.md
  addons/template/index.js
  addons/template/managers/TemplateDataManager.js
  addons/template/package.json
  addons/template/plugins/TemplatePlugin.js
  addons/template/public/css/template.css
  addons/template/routes/api.js
  docs/platform/addon-development-guide.md
  docs/platform/ngdp-as-platform.md
Due: markdownlint --fix

feat: plugin fetch() lifecycle + MarqueePlugin manager feed (#465)
  plugins/MarqueePlugin.ts
  plugins/__tests__/MarqueePlugin.test.js
  plugins/types.ts
  src/managers/BaseManager.ts
  src/managers/PluginManager.ts
  src/utils/managerUtils.ts
Due: eslint --fix

chore: update project log for session 2026-04-05-09
  docs/project_log.md
Due: markdownlint --fix

docs: update MarqueePlugin, BaseManager, PluginManager docs for fetch= + toMarqueeText() (#465)
  docs/managers/BaseManager.md
  docs/managers/PluginManager.md
  docs/plugins/MarqueePlugin.md
  required-pages/654a0565-a16f-46aa-b1ec-8f2dc0adc592.md
Due: markdownlint --fix

feat: add fontsize param to MarqueePlugin
  docs/plugins/MarqueePlugin.md
  plugins/MarqueePlugin.ts
  plugins/__tests__/MarqueePlugin.test.js
  required-pages/654a0565-a16f-46aa-b1ec-8f2dc0adc592.md
Due: eslint --fix, markdownlint --fix

docs: add fontsize examples to MarqueePlugin wiki page
  required-pages/654a0565-a16f-46aa-b1ec-8f2dc0adc592.md
Due: markdownlint --fix

docs: update MarqueePlugin.md for fontsize param (v1.2.0)
  docs/plugins/MarqueePlugin.md
Due: markdownlint --fix

chore: update project log for session 2026-04-06-01
  docs/project_log.md
Due: markdownlint --fix

fix: MarqueePlugin wrapper grows to fit larger fontsize
  plugins/MarqueePlugin.ts
Due: eslint --fix

fix: preserve spaces in MarqueePlugin separator between repeats
  plugins/MarqueePlugin.ts
Due: eslint --fix

feat: separator='blank' renders an invisible gap between MarqueePlugin repeats
  plugins/MarqueePlugin.ts
  plugins/__tests__/MarqueePlugin.test.js
Due: eslint --fix

fix: prevent literal \${SLOW_STORAGE} dirs when env var is unset
  docs/project_log.md
  src/services/InstallService.ts
Due: eslint --fix, markdownlint --fix

chore: update project log for session 2026-04-06-02
  docs/project_log.md
Due: markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
