Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

ci(docker): simplify smoke test to root and login — no addon-dependent paths
  .github/workflows/docker-build.yml
Due: none

docs: update project log for session 2026-04-18-04
  docs/project_log.md
Due: markdownlint --fix

fix: replace stale app.js references with dist/src/app.js and src/app.ts
  playwright.config.js
  scripts/smoke-test.sh
  src/app.ts
Due: eslint --fix

docs: update project log for session 2026-04-18-05
  docs/project_log.md
Due: markdownlint --fix

feat(#186): convert playwright.config.js to playwright.config.ts
  playwright.config.ts
  tsconfig.test.json
Due: eslint --fix

docs: update project log for session 2026-04-18-06
  docs/project_log.md
Due: markdownlint --fix

feat(#186): convert scripts/, tests/e2e/, and elasticsearch test to TypeScript
  addons/elasticsearch/__tests__/Sist2AssetProvider.test.ts
  eslint.config.mjs
  package.json
  scripts/analyze-test-pages.ts
  scripts/check-duplicate-pages.ts
  scripts/check-metadata-compliance.ts
  scripts/configurationmanage-get-config.ts
  scripts/dom-performance.ts
  scripts/fix-page-index-editor.ts
  scripts/fix-required-pages-editor.ts
  scripts/maintain-versions.ts
  scripts/migrate-br-to-backslash.ts
  scripts/migrate-config-keys.ts
  scripts/migrate-developer-pages.ts
  scripts/migrate-to-versioning.ts
  scripts/performance-test.ts
  scripts/seed-e2e-test-data.ts
  scripts/test-bulk-import.ts
  scripts/test-mcp-bulk-upload.ts
  scripts/validate-pages.ts
  scripts/version.ts
  tests/e2e/admin-maintenance.spec.ts
  tests/e2e/admin.spec.ts
  tests/e2e/auth.setup.ts
  tests/e2e/auth.spec.ts
  tests/e2e/fixtures/auth.ts
  tests/e2e/fixtures/helpers.ts
  tests/e2e/location-plugin.spec.ts
  tests/e2e/mobile-navigation.spec.ts
  tests/e2e/pages.spec.ts
  tests/e2e/search.spec.ts
  tests/e2e/startup-maintenance.spec.ts
  tsconfig.test.json
Due: eslint --fix

chore(#186): remove old .js source files superseded by .ts conversions
  scripts/analyze-test-pages.js
  scripts/check-duplicate-pages.js
  scripts/check-metadata-compliance.js
  scripts/configurationmanage-get-config.js
  scripts/dom-performance.js
  scripts/fix-page-index-editor.js
  scripts/fix-required-pages-editor.js
  scripts/maintain-versions.js
  scripts/migrate-br-to-backslash.js
  scripts/migrate-config-keys.js
  scripts/migrate-developer-pages.js
  scripts/migrate-to-versioning.js
  scripts/performance-test.js
  scripts/seed-e2e-test-data.js
  scripts/test-bulk-import.js
  scripts/test-mcp-bulk-upload.js
  scripts/validate-pages.js
  scripts/version.js
  tests/e2e/admin-maintenance.spec.js
  tests/e2e/admin.spec.js
  tests/e2e/auth.setup.js
  tests/e2e/auth.spec.js
  tests/e2e/fixtures/auth.js
  tests/e2e/fixtures/helpers.js
  tests/e2e/location-plugin.spec.js
  tests/e2e/mobile-navigation.spec.js
  tests/e2e/pages.spec.js
  tests/e2e/search.spec.js
  tests/e2e/startup-maintenance.spec.js
Due: none

docs: update project log for session 2026-04-18-07
  docs/project_log.md
Due: markdownlint --fix

refactor(#186): reduce any types and eslint-disable count in source files
  src/converters/HtmlConverter.ts
  src/providers/BaseAuditProvider.ts
  src/providers/CloudAuditProvider.ts
  src/providers/DatabaseAuditProvider.ts
  src/providers/LunrSearchProvider.ts
  src/providers/RedisCacheProvider.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

refactor(#186): further any type reductions across source files
  src/providers/FileAuditProvider.ts
  src/routes/WikiRoutes.ts
  src/types/WikiEngine.ts
Due: eslint --fix

refactor(#186): disable require-await globally; remove 51 inline eslint-disable comments
  eslint.config.mjs
  src/managers/ACLManager.ts
  src/managers/AttachmentManager.ts
  src/managers/BackgroundJobManager.ts
  src/managers/BackupManager.ts
  src/managers/BaseManager.ts
  src/managers/ConfigurationManager.ts
  src/managers/ImportManager.ts
  src/managers/PolicyEvaluator.ts
  src/managers/PolicyManager.ts
  src/managers/VariableManager.ts
  src/parsers/dom/handlers/DOMLinkHandler.ts
  src/parsers/dom/handlers/DOMVariableHandler.ts
  src/parsers/filters/FilterChain.ts
  src/parsers/filters/SecurityFilter.ts
  src/parsers/filters/SpamFilter.ts
  src/parsers/filters/ValidationFilter.ts
  src/parsers/handlers/AttachmentHandler.ts
  src/parsers/handlers/EscapedSyntaxHandler.ts
  src/parsers/handlers/InterWikiLinkHandler.ts
  src/parsers/handlers/JSPWikiPreprocessor.ts
  src/parsers/handlers/LinkParserHandler.ts
  src/parsers/handlers/PluginSyntaxHandler.ts
  src/parsers/handlers/VariableSyntaxHandler.ts
  src/parsers/handlers/WikiFormHandler.ts
  src/parsers/handlers/WikiLinkHandler.ts
  src/parsers/handlers/WikiStyleHandler.ts
  src/parsers/handlers/WikiTableHandler.ts
  src/parsers/handlers/WikiTagHandler.ts
  src/providers/BaseAttachmentProvider.ts
  src/providers/BaseMediaProvider.ts
  src/providers/BasicAttachmentProvider.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

refactor(#186): convert WikiRoutes lazy requires to top-level imports
  src/routes/WikiRoutes.ts
Due: eslint --fix

refactor(#186): fix CommonJS default export pattern and linkedom call typing
  src/parsers/context/ParseContext.ts
  src/parsers/dom/WikiDocument.ts
  src/parsers/filters/BaseFilter.ts
  src/parsers/filters/FilterChain.ts
Due: eslint --fix

docs: update project log for session 2026-04-18-08
  docs/project_log.md
Due: markdownlint --fix

refactor(#186): replace dynamic require() with await import(); remove 40+ eslint-disable comments
  eslint.config.mjs
  src/converters/JSPWikiConverter.ts
  src/extensions/showdown-footnotes-fixed.ts
  src/managers/AttachmentManager.ts
  src/managers/AuditManager.ts
  src/managers/CacheManager.ts
  src/managers/ImportManager.ts
  src/managers/PageManager.ts
  src/managers/PluginManager.ts
  src/managers/SearchManager.ts
  src/managers/UserManager.ts
  src/parsers/LinkParser.ts
  src/utils/version.ts
Due: eslint --fix

docs: update project log for session 2026-04-18-09
  docs/project_log.md
Due: markdownlint --fix

refactor(#186): type improvements and eslint-disable reduction (207→23)
  src/managers/MediaManager.ts
  src/managers/UserManager.ts
  src/managers/ValidationManager.ts
  src/providers/BasicAttachmentProvider.ts
  src/providers/FileAuditProvider.ts
  src/providers/NodeCacheProvider.ts
  src/providers/RedisCacheProvider.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for session 2026-04-18-10
  docs/project_log.md
Due: markdownlint --fix

refactor(#186): write linkedom.d.ts module declaration; eliminate all linkedom eslint-disable comments
  eslint.config.mjs
  src/converters/HtmlConverter.ts
  src/parsers/dom/WikiDocument.ts
  src/parsers/dom/handlers/DOMVariableHandler.ts
  src/types/linkedom.d.ts
  src/utils/standardize-categories.ts
  src/utils/version.ts
Due: eslint --fix

docs: update project log for session 2026-04-18-11
  docs/project_log.md
Due: markdownlint --fix

refactor(#186): type WikiRoutes getManager calls; remove unsafe-* disables on typed paths
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for session 2026-04-18-12
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-04-18-13
  docs/project_log.md
Due: markdownlint --fix

refactor(#186): remove redundant eslint-disable comments; fix WikiEngine/ES any types
  src/managers/__tests__/AssetManager.test.ts
  src/managers/__tests__/MetricsManager.test.ts
  src/managers/__tests__/PluginManager.registerPlugins.test.ts
  src/managers/__tests__/PluginManager.test.ts
  src/parsers/__tests__/MarkupParser.test.ts
  src/parsers/handlers/__tests__/PluginSyntaxHandler.test.ts
  src/parsers/handlers/__tests__/WikiTagHandler.test.ts
  src/providers/ElasticsearchSearchProvider.ts
  src/providers/__tests__/BasicAttachmentProvider.diskFallback.test.ts
  src/routes/__tests__/maintenance-mode.test.ts
  src/routes/__tests__/routes.test.ts
  src/types/WikiEngine.ts
  src/utils/__tests__/testUtils.ts
Due: eslint --fix

refactor(#186): replace SchemaGenerator any casts with Record<string,unknown>
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for session 2026-04-18-14
  docs/project_log.md
Due: markdownlint --fix

fix(e2e): change helpers.ts from default export to named exports
  tests/e2e/fixtures/helpers.ts
Due: eslint --fix

docs: update project log for session 2026-04-18-15
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-04-18-16
  docs/project_log.md
Due: markdownlint --fix

fix(#540): redirect /journal/:slug/edit to standard /edit/:slug page editor
  addons/journal/routes/editor.ts
Due: eslint --fix

fix(#531): add InterWikiLinks as required page with system-category: documentation
  required-pages/51d6f3a1-ca69-4284-972a-8dd2b2fd0bb2.md
Due: markdownlint --fix

docs: update project log for session 2026-04-18-17
  docs/project_log.md
Due: markdownlint --fix

fix(#540): /journal/new auto-creates stub entry and redirects to standard /edit/:slug
  addons/journal/routes/editor.ts
Due: eslint --fix

docs: update project log for session 2026-04-18-18
  docs/project_log.md
Due: markdownlint --fix

feat(#530): per-addon config/default-config.json injected at lowest priority
  addons/calendar/config/default-config.json
  addons/calendar/index.ts
  addons/elasticsearch/config/default-config.json
  addons/journal/config/default-config.json
  addons/journal/index.ts
  src/managers/AddonsManager.ts
  src/managers/__tests__/AddonsManager.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-18-19
  docs/project_log.md
Due: markdownlint --fix

feat(#466): user search API with permission-based PII gating via ApiContext
  src/context/ApiContext.ts
  src/context/__tests__/ApiContext.test.ts
  src/managers/UserManager.ts
  src/managers/__tests__/UserManager.searchUsers.test.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
