Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix"
  ],
  "*.md": [
    "markdownlint --fix"
  ]
}

fix: add missing return types to VersioningAnalytics and VersioningMigration
  src/utils/VersioningAnalytics.ts
  src/utils/VersioningMigration.ts
Due: eslint --fix

chore: disable unfixable markdownlint table rules
  .markdownlint.json
Due: none

docs: update project log for lint fixes session
  docs/project_log.md
Due: markdownlint --fix

docs: update Testing-Summary.md with 2026-01-11 results
  docs/testing/Testing-Summary.md
Due: markdownlint --fix

fix(security): update @modelcontextprotocol/sdk to 1.25.2
  package-lock.json
Due: none

docs: update project_log for eslint-disable documentation work
  docs/project_log.md
Due: markdownlint --fix

fix: resolve E2E test failures and server-side bugs
  src/routes/WikiRoutes.ts
  tests/e2e/admin.spec.js
  tests/e2e/auth.spec.js
  tests/e2e/pages.spec.js
  tests/e2e/search.spec.js
Due: eslint --fix

docs: update project log for E2E fixes session
  docs/project_log.md
Due: markdownlint --fix

refactor: enable TypeScript strict mode options and remove dead code
  src/__tests__/UserManager.test.js
  src/managers/AttachmentManager.ts
  src/managers/ExportManager.ts
  src/managers/NotificationManager.ts
  src/managers/PluginManager.ts
  src/managers/RenderingManager.ts
  src/managers/UserManager.ts
  src/managers/ValidationManager.ts
  src/parsers/dom/Tokenizer.ts
  src/parsers/handlers/JSPWikiPreprocessor.ts
  src/parsers/handlers/WikiFormHandler.ts
  src/parsers/handlers/WikiTableHandler.ts
  src/providers/BaseAttachmentProvider.ts
  src/providers/BasicAttachmentProvider.ts
  src/providers/CloudAuditProvider.ts
  src/providers/DatabaseAuditProvider.ts
  src/providers/LunrSearchProvider.ts
  src/providers/RedisCacheProvider.ts
  src/providers/VersioningFileProvider.ts
  src/routes/WikiRoutes.ts
  src/utils/SchemaGenerator.ts
  src/utils/VersioningMigration.ts
  tsconfig.json
Due: eslint --fix

docs: update project log for TypeScript strict mode work
  docs/project_log.md
Due: markdownlint --fix

docs: update project log - TypeScript Migration complete
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for TypeScript migration completion
  docs/project_log.md
Due: markdownlint --fix

fix: move startup pages README to docs/ to prevent wiki copy
  docs/startup-pages.md
Due: markdownlint --fix

feat: add StartupPages wiki page to required-pages
  required-pages/c1d696da-3a42-43b6-9775-a6587410d0c5.md
Due: markdownlint --fix

docs: update project log for required-pages fixes
  docs/project_log.md
Due: markdownlint --fix

Modiefed for content
  required-pages/319af539-7feb-4a85-ae92-ec1bf00fc68a.md
  required-pages/6bdacfac-300d-4d89-ad4a-2acc98e12bc5.md
  required-pages/86ca6fb2-5754-4fa6-9efc-6aaf6e592031.md
  required-pages/aad73bf5-0aaf-40ed-b5a7-ae0a96457919.md
  required-pages/b780e809-d45b-4c4b-84ec-ad30a74a3605.md
  required-pages/ff2c3a6d-fdfc-479f-90e3-585dc2b3abd0.md
Due: markdownlint --fix

docs: rewrite Page Storage Guide to reflect actual implementation
  required-pages/7682c617-555f-4322-9820-c8ae5a89ca37.md
Due: markdownlint --fix

docs: create Platform Variables guide page
  required-pages/293dea72-81dc-4494-9827-abb3505cce46.md
Due: markdownlint --fix

docs: add Configuration Values to required-pages
  required-pages/7bd4e421-6a43-4c28-a0e2-5adaa36158d0.md
Due: markdownlint --fix

Chages to pages content
  required-pages/2db43b31-8316-417e-8cc5-d3306996512a.md
  required-pages/319af539-7feb-4a85-ae92-ec1bf00fc68a.md
  required-pages/86ca6fb2-5754-4fa6-9efc-6aaf6e592031.md
Due: markdownlint --fix

Updated content
  required-pages/293dea72-81dc-4494-9827-abb3505cce46.md
Due: markdownlint --fix

Updated content
  required-pages/2db43b31-8316-417e-8cc5-d3306996512a.md
  required-pages/ff2c3a6d-fdfc-479f-90e3-585dc2b3abd0.md
Due: markdownlint --fix

refactor: remove unnecessary underscore variables and clarify policy
  CODE_STANDARDS.md
  docs/project_log.md
  src/managers/NotificationManager.ts
  src/managers/UserManager.ts
  src/managers/ValidationManager.ts
  src/parsers/filters/FilterChain.ts
  src/providers/VersioningFileProvider.ts
  src/routes/WikiRoutes.ts
  src/utils/standardize-categories.ts
Due: eslint --fix, markdownlint --fix

fix(backup): call createBackup() instead of backup() (#206)
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix(logs): improve admin logs page - sort by date, clickable files (#207)
  src/routes/WikiRoutes.ts
  views/admin-logs.ejs
Due: eslint --fix

fix(export): trigger file download instead of just saving (#208)
  src/routes/WikiRoutes.ts
  views/export.ejs
Due: eslint --fix

fix(users): fix createUser signature mismatch causing undefined users (#209)
  src/managers/UserManager.ts
  src/providers/BaseUserProvider.ts
  src/providers/FileUserProvider.ts
  src/types/Provider.ts
Due: eslint --fix

fix: add defensive array handling for search/create/edit routes (#196)
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix: ensure maintenance config structure exists before toggle (#193)
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix: add category validation and better error messages for page save (#188)
  src/routes/WikiRoutes.ts
Due: eslint --fix

chore: add cookies.txt to gitignore and fix project_log duplicates
  .gitignore
  docs/project_log.md
Due: markdownlint --fix

feat: honor user locale preferences for date/time variables (#37)
  src/context/WikiContext.ts
  src/managers/VariableManager.ts
Due: eslint --fix

docs: update project_log with bug fixes session
  docs/project_log.md
Due: markdownlint --fix

fix: JSPWiki table styles and user authentication status display (#164, #182)
  plugins/ConfigAccessorPlugin.ts
  src/parsers/MarkupParser.ts
Due: eslint --fix

fix(ci): add build step to smoke and e2e tests (#180)
  .github/workflows/ci.yml
Due: none

fix: improve server startup verification to prevent ghost processes (#167)
  server.sh
Due: none
