Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

test: add unit tests for #383 — media:// step 0, AssetService, asset search route
  src/managers/__tests__/AssetService.test.js
  src/managers/__tests__/AttachmentManager.resolveAttachmentSrc.test.js
  src/routes/__tests__/WikiRoutes.assetSearch.test.js
Due: none

docs: add AssetService manager documentation (#383)
  docs/managers/AssetService.md
Due: markdownlint --fix

feat: replace Browse Attachments popup with unified asset picker (#383)
  views/edit.ejs
  views/header.ejs
Due: none

feat: add pagination and fix insert button in Browse Assets modal (#383)
  src/managers/AssetService.ts
  src/managers/__tests__/AssetService.test.js
  src/routes/WikiRoutes.ts
  src/routes/__tests__/WikiRoutes.assetSearch.test.js
  views/edit.ejs
Due: eslint --fix

fix: rename 'Media Library' modal title to 'Browse Assets'
  views/edit.ejs
Due: none

feat: DRY /search asset tabs via AssetService; add Media tab (#391)
  src/routes/WikiRoutes.ts
  views/search-results.ejs
Due: eslint --fix

feat: consistent pagination via WikiPagination helper (#390)
  public/js/wiki-pagination.js
  src/routes/WikiRoutes.ts
  views/admin-attachments.ejs
  views/browse-attachments.ejs
  views/edit.ejs
  views/header.ejs
  views/search-results.ejs
Due: eslint --fix

feat: show page type badge in navbar title (#389)
  src/routes/WikiRoutes.ts
  views/header.ejs
Due: eslint --fix

feat: add MediaPlugin end-user documentation required page (#388)
  required-pages/70416655-ace4-4440-8ae6-8fed7587a94f.md
Due: markdownlint --fix

docs: update project log for #388 MediaPlugin documentation
  docs/project_log.md
Due: markdownlint --fix

feat: sort Browse Assets modal by date/caption (#392)
  src/managers/AssetService.ts
  src/managers/__tests__/AssetService.test.js
  src/routes/WikiRoutes.ts
  views/edit.ejs
Due: eslint --fix

docs: update project log for #392 sort Browse Assets
  docs/project_log.md
Due: markdownlint --fix

feat: BackgroundJobManager — async long-running admin operations (#387)
  src/WikiEngine.ts
  src/managers/BackgroundJobManager.ts
  src/routes/WikiRoutes.ts
  src/routes/__tests__/routes.test.js
  views/admin-dashboard.ejs
  views/admin-media.ejs
Due: eslint --fix

docs: update project log for #387 BackgroundJobManager
  docs/project_log.md
Due: markdownlint --fix

test: add unit tests for private page filtering (#122)
  src/providers/__tests__/LunrSearchProvider.privateFilter.test.js
  src/routes/__tests__/WikiRoutes.privatePageAccess.test.js
Due: none

docs: update project log for #122 private folder unit tests
  docs/project_log.md
Due: markdownlint --fix

fix: unref filter timeout timers to prevent Jest worker leak
  src/parsers/filters/FilterChain.ts
Due: eslint --fix

docs: update project log for FilterChain timer unref fix
  docs/project_log.md
Due: markdownlint --fix

docs: update Private Pages documentation v1.1.0 (#122)
  required-pages/2586c69b-a604-4fcd-95a4-591ca45deacb.md
Due: markdownlint --fix

docs: update project log for Private Pages doc v1.1.0 (#122)
  docs/project_log.md
Due: markdownlint --fix

docs: add addon development model section to amdWiki-as-platform.md
  docs/amdWiki-as-platform.md
Due: markdownlint --fix

docs: refresh platform-core-capabilities.md to current state
  docs/platform-core-capabilities.md
Due: markdownlint --fix

feat: optional-capability framework + description fields on managers and plugins (#394)
  CHANGELOG.md
  addons/README.md
  config/app-default-config.json
  package.json
  plugins/ImagePlugin.ts
  src/WikiEngine.ts
  src/core/Engine.ts
  src/managers/BaseManager.ts
  src/routes/WikiRoutes.ts
  src/types/WikiEngine.ts
  views/admin-dashboard.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for #394 optional-capability framework
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for #133 kebab-case config key standardization
  docs/project_log.md
Due: markdownlint --fix

docs: add configuration-properties-reference required-page (#181)
  docs/project_log.md
  required-pages/928a1050-3542-4140-9cd4-515bac154c84.md
Due: markdownlint --fix

docs: add environment-configuration and installation required-pages (#215)
  docs/project_log.md
  required-pages/585688f9-96cf-45d3-84e3-7a29893474d6.md
  required-pages/5df07a53-8a08-420f-a7a3-2318631bf320.md
Due: markdownlint --fix

test: add pluginFormatters unit tests, fix stub output param names (#238)
  plugins/MediaGallery.ts
  plugins/MediaSearch.ts
  src/utils/__tests__/pluginFormatters.test.js
Due: eslint --fix

Updated
  docs/project_log.md
  package-lock.json
Due: markdownlint --fix

feat: add live progress reporting and concurrent scan to media jobs
  src/managers/BackgroundJobManager.ts
  src/managers/MediaManager.ts
  src/providers/BaseMediaProvider.ts
  src/providers/FileSystemMediaProvider.ts
  src/routes/WikiRoutes.ts
  views/admin-media.ejs
Due: eslint --fix

fix: add explicit ReportProgress type annotations in WikiRoutes job registrations
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project_log for session 2026-03-26-20
  docs/project_log.md
Due: markdownlint --fix

fix: Browse Assets dialog shows no names and Attachments filter broken (#400)
  docs/project_log.md
  src/managers/AssetService.ts
  src/managers/__tests__/AssetService.test.js
  views/browse-attachments.ejs
Due: eslint --fix, markdownlint --fix

feat: unified Browse Assets dialog with shared partial (#404)
  docs/project_log.md
  src/managers/AssetService.ts
  src/routes/WikiRoutes.ts
  views/_asset-picker.ejs
  views/browse-attachments.ejs
  views/edit.ejs
  views/header.ejs
Due: eslint --fix, markdownlint --fix

fix: use two explicit upload routes instead of optional :page? param
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: consolidate platform docs and add addon template scaffold (#398)
  CHANGELOG.md
  addons/template/README.md
  addons/template/index.js
  addons/template/managers/TemplateDataManager.js
  addons/template/plugins/TemplatePlugin.js
  addons/template/public/css/template.css
  addons/template/routes/api.js
  config/app-default-config.json
  docs/amdWiki-as-platform.md
  docs/platform/addon-development-guide.md
  docs/platform/ngdp-as-platform.md
  docs/platform/platform-core-capabilities.md
  docs/project_log.md
  package.json
Due: markdownlint --fix

docs: update project_log for session 2026-03-29-05
  docs/project_log.md
Due: markdownlint --fix

fix: replace dead media links on dashboard with action buttons (#397)
  docs/project_log.md
  views/admin-dashboard.ejs
Due: markdownlint --fix

fix: resolve addon config from flat dot-notation keys and add template package.json
  addons/template/README.md
  addons/template/package.json
  src/managers/AddonsManager.ts
Due: eslint --fix, markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
