Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-18-20
  docs/project_log.md
Due: markdownlint --fix

feat(#466): [{UserLookup}] plugin with fields='all' and \$currentUser support
  src/plugins/UserLookupPlugin.ts
  src/plugins/__tests__/UserLookupPlugin.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-18-21
  docs/project_log.md
Due: markdownlint --fix

docs(#466,#511): add UserLookupPlugin docs and documentation standards guide
  docs/plugins/UserLookupPlugin.md
  docs/proper-documentation-pages.md
  required-pages/d1ee72a5-84fd-4b97-bb77-56ec7751f9d7.md
Due: markdownlint --fix

docs: update project log for session 2026-04-18-22
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-04-19-01
  docs/project_log.md
Due: markdownlint --fix

fix(#511): rewrite CounterPlugin page with live rendered examples
  required-pages/ff2c3a6d-fdfc-479f-90e3-585dc2b3abd0.md
Due: markdownlint --fix

fix(#541): resolve backtick inline code inside table cells
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-EndToEnd.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-19-02
  docs/project_log.md
Due: markdownlint --fix

fix(#511): rewrite UndefinedPagesPlugin page with live rendered examples
  required-pages/a433c5a4-905a-448a-a0d3-dc063163d6f6.md
Due: markdownlint --fix

docs: update project log for session 2026-04-19-03
  docs/project_log.md
Due: markdownlint --fix

docs(#511): convert plugin pages to live example format
  required-pages/06F04848-8226-403B-9EC6-5420E4E0C0FE.md
  required-pages/208fecc6-fde1-4463-a865-3a2b62e1cea7.md
  required-pages/3C6B55E5-5262-4686-A436-7BFD5479BCC1.md
  required-pages/6bdacfac-300d-4d89-ad4a-2acc98e12bc5.md
  required-pages/70416655-ace4-4440-8ae6-8fed7587a94f.md
  required-pages/7b487295-af7e-4b4a-a2cb-6e3b6877a413.md
  required-pages/84FC114E-8E05-40E9-AD5F-5222236B5F63.md
  required-pages/8d2c3b4a-9e1f-4c5d-a6b7-7e8f9a0b1c2d.md
  required-pages/9f3a4b2c-5d1e-4a8f-b2c9-8e7f6d5c4a3b.md
  required-pages/E2BC4BF9-4DDB-40DD-8CE5-C418EE7FCC08.md
Due: markdownlint --fix

docs(#511): convert ImagePlugin and AttachPlugin to live examples with real sample images
  required-pages/6bdacfac-300d-4d89-ad4a-2acc98e12bc5.md
  required-pages/7b487295-af7e-4b4a-a2cb-6e3b6877a413.md
Due: markdownlint --fix

docs(#511): add Using Private Keyword page; update project log
  docs/project_log.md
  required-pages/b03c0bad-0b72-49c7-8810-cd6e14149938.md
  required-pages/c3f7a1b2-8d4e-4f9a-b0c5-2e3f4a5b6c7d.md
  required-pages/e3bc8a66-9a68-47bb-af14-d6f8b611a3b2.md
Due: markdownlint --fix

docs: consolidate private keyword docs into Page Audience; remove separate page
  docs/project_log.md
  required-pages/b03c0bad-0b72-49c7-8810-cd6e14149938.md
  required-pages/c3f7a1b2-8d4e-4f9a-b0c5-2e3f4a5b6c7d.md
Due: markdownlint --fix

docs(#511): update authoring standards — live examples in Syntax sections, stock images, 4-column param tables
  docs/proper-documentation-pages.md
Due: markdownlint --fix

docs(#511): soften live-example rule to 'whenever possible'; note language specifiers unsupported
  docs/proper-documentation-pages.md
Due: markdownlint --fix

fix(#542): normalize user-keywords to array in viewPage; fix /metrics routing
  src/app.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for session 2026-04-19-05
  docs/project_log.md
Due: markdownlint --fix

feat(#542): improve /metrics routing; add metrics dashboard card and docs
  required-pages/c92e1ff2-e038-4a49-8fd9-5ced0c318201.md
  src/WikiEngine.ts
  src/app.ts
  views/admin-dashboard.ejs
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-19-06
  docs/project_log.md
Due: markdownlint --fix

chore: update maintenance page copy — remove wiki references
  src/app.ts
  views/maintenance.ejs
Due: eslint --fix

docs: update project log for session 2026-04-19-07
  docs/project_log.md
Due: markdownlint --fix

docs: refine Using Metrics page; add ConfigAccessor wildcard pattern to authoring standards
  docs/proper-documentation-pages.md
  required-pages/c92e1ff2-e038-4a49-8fd9-5ced0c318201.md
Due: markdownlint --fix

docs: update project log for session 2026-04-19-08
  docs/project_log.md
Due: markdownlint --fix

docs: update project log for session 2026-04-19-09
  docs/project_log.md
Due: markdownlint --fix

feat(#259,#466): auto-migrate stale attachment paths; add user search/filter to /admin/users
  src/providers/BasicAttachmentProvider.ts
  views/admin-users.ejs
Due: eslint --fix

docs: update project log for session 2026-04-19-10
  docs/project_log.md
Due: markdownlint --fix

fix(#545): normalize scalar user-keywords and system-keywords to arrays at import time
  src/managers/ImportManager.ts
  src/managers/__tests__/ImportManager.test.ts
Due: eslint --fix

docs: update project log for session 2026-04-19-11
  docs/project_log.md
Due: markdownlint --fix

feat(#532): add 'Why Use This Platform' documentation page
  required-pages/f824a107-4ba1-4610-bad8-63f57bfaa338.md
Due: markdownlint --fix

docs: update project log for session 2026-04-19-12
  docs/project_log.md
Due: markdownlint --fix

feat(#543): enable syntax highlighting in fenced code blocks via highlight.js
  docs/proper-documentation-pages.md
  views/footer.ejs
  views/header.ejs
Due: markdownlint --fix

docs: update project log for session 2026-04-19-13
  docs/project_log.md
Due: markdownlint --fix

docs(#543): add Syntax Highlighting required-page; update Why Use This Platform
  required-pages/1be004e4-6de3-46de-aded-254d2da769d2.md
  required-pages/f824a107-4ba1-4610-bad8-63f57bfaa338.md
Due: markdownlint --fix

docs: update project log for session 2026-04-19-14
  docs/project_log.md
Due: markdownlint --fix

feat(#544): add caption, table, noheader params to ConfigAccessorPlugin; compact card header
  required-pages/b7980f86-b9a0-42ba-b810-9f414fb6d399.md
  src/plugins/ConfigAccessorPlugin.ts
Due: eslint --fix, markdownlint --fix

docs: update project log for session 2026-04-19-15
  docs/project_log.md
Due: markdownlint --fix

fix(#544): extend noheader to single key lookups; add single-key noheader doc example
  required-pages/b7980f86-b9a0-42ba-b810-9f414fb6d399.md
  src/plugins/ConfigAccessorPlugin.ts
Due: eslint --fix, markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
