Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

docs: Add commit hash to session 2025-12-26-03
  docs/project_log.md
Due: markdownlint --fix

feat: Convert SearchManager to TypeScript - Issue #145
  docs/project_log.md
  src/managers/SearchManager.ts
Due: eslint --fix, markdownlint --fix

docs: Add commit hash to session 2025-12-26-04
  docs/project_log.md
Due: markdownlint --fix

feat: Convert RenderingManager to TypeScript - Issue #145
  docs/project_log.md
  src/managers/RenderingManager.ts
Due: eslint --fix, markdownlint --fix

docs: Add commit hash to session 2025-12-26-05
  docs/project_log.md
Due: markdownlint --fix

docs: Correct Issue #145 status to 100% COMPLETE - all 21 managers converted
  docs/project_log.md
Due: markdownlint --fix

chore: Remove unused legacy PageManager files
  docs/api/generated/README.md
  docs/api/generated/src/managers/BaseManager/classes/export=.md
  docs/api/generated/src/managers/PageManager.legacy/README.md
  docs/api/generated/src/managers/PageManager.legacy/classes/export=.md
  docs/api/generated/src/managers/PageManagerUuid/README.md
  docs/api/generated/src/managers/PageManagerUuid/classes/export=.md
  docs/architecture/MANAGERS-OVERVIEW.md
  src/managers/PageManager.legacy.js
  src/managers/PageManagerUuid.js
Due: markdownlint --fix

feat: Phase 1 Core Infrastructure - TypeScript Migration
  docs/project_log.md
  src/cache/ICacheAdapter.ts
  src/cache/NodeCacheAdapter.ts
  src/cache/NullCacheAdapter.ts
  src/cache/RegionCache.ts
  src/context/WikiContext.ts
  src/core/Engine.ts
Due: eslint --fix, markdownlint --fix

feat: Convert WikiEngine to TypeScript - Core Infrastructure 100% Complete
  docs/project_log.md
  src/WikiEngine.ts
Due: eslint --fix, markdownlint --fix

feat: Convert version.js to TypeScript
  docs/project_log.md
  src/utils/version.ts
Due: eslint --fix, markdownlint --fix

feat: Convert 3 utility files to TypeScript - Issue #139
  src/utils/LocaleUtils.ts
  src/utils/VersioningMaintenance.ts
  src/utils/standardize-categories.ts
Due: eslint --fix

feat: Convert 3 more utility files to TypeScript - Issue #139
  src/utils/SchemaGenerator.ts
  src/utils/VersioningAnalytics.ts
  src/utils/VersioningMigration.ts
Due: eslint --fix

fix: Add ESLint disable comments for converted utilities
  src/utils/SchemaGenerator.ts
  src/utils/VersioningAnalytics.ts
  src/utils/VersioningMigration.ts
Due: eslint --fix

chore: Install @types/fs-extra for better TypeScript support
  package-lock.json
  package.json
Due: none

refactor: Improve TypeScript utilities with @types/fs-extra
  src/utils/SchemaGenerator.ts
  src/utils/VersioningAnalytics.ts
  src/utils/VersioningMigration.ts
Due: eslint --fix

feat: Phase 1 Parser TypeScript Conversion - Foundation Complete
  src/parsers/context/ParseContext.ts
  src/parsers/dom/WikiDocument.ts
  src/parsers/filters/BaseFilter.ts
  src/parsers/handlers/BaseSyntaxHandler.ts
  tsconfig.json
Due: eslint --fix

feat: Upgrade TypeScript target to ES2022
  CODE_STANDARDS.md
  docs/architecture/TypeScript-Configuration.md
  docs/project_log.md
  tsconfig.json
Due: markdownlint --fix

docs: Update project log with commit hash for ES2022 upgrade
  docs/project_log.md
Due: markdownlint --fix

feat: Convert FilterChain and HandlerRegistry to TypeScript (Phase 2)
  src/parsers/filters/FilterChain.ts
  src/parsers/handlers/HandlerRegistry.ts
Due: eslint --fix

docs: Update project log with Phase 2 parser conversions
  docs/project_log.md
Due: markdownlint --fix

feat: Convert LinkParser to TypeScript (Phase 3)
  docs/project_log.md
  src/parsers/LinkParser.ts
Due: eslint --fix, markdownlint --fix

docs: Update project log with commit hash for Phase 3
  docs/project_log.md
Due: markdownlint --fix

feat: Convert DOMVariableHandler to TypeScript (Phase 4)
  docs/project_log.md
  src/parsers/dom/handlers/DOMVariableHandler.ts
Due: eslint --fix, markdownlint --fix

docs: Update project log with commit hash for Phase 4
  docs/project_log.md
Due: markdownlint --fix

feat: Convert DOMPluginHandler to TypeScript (Phase 4)
  docs/project_log.md
  src/parsers/dom/handlers/DOMPluginHandler.ts
Due: eslint --fix, markdownlint --fix

docs: Update project log with commit hash
  docs/project_log.md
Due: markdownlint --fix

feat: Convert DOMLinkHandler to TypeScript (Phase 4 Complete)
  src/parsers/dom/handlers/DOMLinkHandler.ts
Due: eslint --fix

docs: Update project log with Phase 4 completion
  docs/project_log.md
Due: markdownlint --fix

feat: Convert DOMParser to TypeScript (Phase 5 Start)
  src/parsers/dom/DOMParser.ts
Due: eslint --fix

docs: Update project log with Phase 5 DOMParser conversion
  docs/project_log.md
Due: markdownlint --fix

feat: Convert DOMBuilder to TypeScript (Phase 5 Continues)
  src/parsers/dom/DOMBuilder.ts
Due: eslint --fix

docs: Update project log with Phase 5 DOMBuilder conversion
  docs/project_log.md
Due: markdownlint --fix

Work on ## Key Decisions
  AGENTS.md
Due: markdownlint --fix

feat: Convert Tokenizer to TypeScript (Phase 5 Complete!)
  src/parsers/dom/Tokenizer.ts
Due: eslint --fix

docs: Update project log with Phase 5 completion
  docs/project_log.md
Due: markdownlint --fix

feat: Remove deprecated 7-phase legacy parser pipeline
  src/parsers/MarkupParser.js
  src/parsers/__tests__/MarkupParser-Performance.test.js
  src/parsers/__tests__/MarkupParser.test.js
Due: none

feat: Convert MarkupParser to TypeScript
  AGENTS.md
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-Config.test.js
  src/parsers/__tests__/MarkupParser-Performance.test.js
  src/parsers/handlers/HandlerRegistry.ts
Due: eslint --fix, markdownlint --fix

docs: Update project log for Phase 6
  docs/project_log.md
Due: markdownlint --fix

Updated .eslintrc.json and removed .editorcconfig
  .editorcconfig
  .eslintrc.json
Due: none

Updated to current status and direction
  AGENTS.md
  docs/planning/TODO.md
Due: markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
