Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

test: add 409 route-level tests for duplicate page title/uuid (#280)
  src/routes/__tests__/routes.test.js
Due: none

docs: update project log 2026-02-26-14
  docs/project_log.md
Due: markdownlint --fix

feat: add check-duplicate-pages.js script (#280)
  scripts/check-duplicate-pages.js
Due: none

feat: transliterate Unicode chars in generateSlug() (#295)
  src/managers/ValidationManager.ts
  src/managers/__tests__/ValidationManager.test.js
Due: eslint --fix

fix: InstallService reads FAST_STORAGE for .install-complete path (#276)
  src/services/InstallService.ts
Due: eslint --fix

docs: update project log 2026-02-26-15 through -19
  docs/project_log.md
  package-lock.json
Due: markdownlint --fix

Planing for [FEATURE] Create private folder #122
  docs/planning/plan-private-folder.md
Due: markdownlint --fix

docs: private folder plan, WikiContext guide accuracy pass
  CONTRIBUTING.md
  docs/WikiContext-Complete-Guide.md
  docs/planning/plan-private-folder.md
  docs/project_log.md
Due: markdownlint --fix

chore: move Wiki Documentation page to required-pages
  docs/project_log.md
  required-pages/4c0c0fa8-66dc-4cb3-9726-b007f874700c.md
Due: markdownlint --fix

fix: update pageCache with full metadata after disk read in getPage()
  docs/project_log.md
  src/providers/FileSystemProvider.ts
Due: eslint --fix, markdownlint --fix

feat: separate author/editor, add Editor to page info dialog and copy
  src/managers/PageManager.ts
  src/routes/WikiRoutes.ts
  views/header.ejs
Due: eslint --fix

docs: update project log 2026-02-27-04
  docs/project_log.md
Due: markdownlint --fix

fix: treat uppercase abbreviations as single units in splitCamelCase
  docs/project_log.md
  src/utils/PageNameMatcher.ts
Due: eslint --fix, markdownlint --fix

docs: add GLOSSARY.md with canonical terminology; reference from AGENTS.md
  AGENTS.md
  docs/GLOSSARY.md
Due: markdownlint --fix

fix: pass query params to plugin context in advanced parser path
  docs/project_log.md
  plugins/UndefinedPagesPlugin.ts
  plugins/types.ts
  src/parsers/dom/handlers/DOMPluginHandler.ts
Due: eslint --fix, markdownlint --fix

fix: include query params in MarkupParser cache key for pagination
  src/parsers/MarkupParser.ts
Due: eslint --fix

docs: add project log entry for MarkupParser cache key fix (2026-03-04-02)
  docs/project_log.md
Due: markdownlint --fix

fix: user-keywords inconsistency between create/edit forms and admin (#304)
  docs/project_log.md
  src/routes/WikiRoutes.ts
  views/create.ejs
  views/edit.ejs
Due: eslint --fix, markdownlint --fix

docs: add project log entry for user-keywords fix (2026-03-05-01)
  docs/project_log.md
Due: markdownlint --fix

fix: remaining user-keywords inconsistencies (#304)
  src/routes/WikiRoutes.ts
  views/edit.ejs
Due: eslint --fix

docs: update project log for #304 follow-up fixes
  docs/project_log.md
Due: markdownlint --fix

fix: keyword dropdown contrast and duplicate label disambiguation (#304)
  public/css/style.css
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix: show label before id in admin keywords table (#304)
  views/admin-keywords.ejs
Due: none

docs: add project log entry for #304 follow-up fixes (2026-03-06-01)
  docs/project_log.md
Due: markdownlint --fix

docs: update commit hashes in project log (2026-03-06-01)
  docs/project_log.md
Due: markdownlint --fix

feat: consolidate image/attachment resolution — MIME-based detection, shared renderer, orphan fallback (#311)
  plugins/AttachPlugin.ts
  plugins/ImagePlugin.ts
  plugins/__tests__/AttachPlugin.test.js
  plugins/__tests__/ImagePlugin.test.js
  plugins/renderImage.ts
  src/managers/AttachmentManager.ts
  src/managers/__tests__/AttachmentManager.resolveAttachmentSrc.test.js
  src/providers/BasicAttachmentProvider.ts
  src/providers/__tests__/BasicAttachmentProvider.diskFallback.test.js
Due: eslint --fix

docs: add project log entry for #311 image/attachment resolution consolidation
  docs/project_log.md
Due: markdownlint --fix

fix: orphan fallback metadata missing encodingFormat/name/contentSize for route handler (#311)
  src/providers/BasicAttachmentProvider.ts
  src/providers/__tests__/BasicAttachmentProvider.diskFallback.test.js
Due: eslint --fix

feat: add pagination to SearchPlugin (#111)
  docs/plugins/SearchPlugin.md
  plugins/SearchPlugin.ts
Due: eslint --fix, markdownlint --fix

docs: add project log entry for SearchPlugin pagination (#111)
  docs/project_log.md
Due: markdownlint --fix

fix: pass query params to plugin context in PluginSyntaxHandler
  src/parsers/handlers/PluginSyntaxHandler.ts
Due: eslint --fix

fix: multi-word user-keyword matching in SearchPlugin
  src/providers/LunrSearchProvider.ts
Due: eslint --fix

fix: trim whitespace and decode percent-encoded chars in page metadata (#296)
  src/managers/PageManager.ts
  src/managers/ValidationManager.ts
  src/managers/__tests__/ValidationManager.test.js
Due: eslint --fix

Updated plan
  docs/planning/plan-private-folder.md
Due: markdownlint --fix

docs: add project log entry for #296 and close #295
  docs/project_log.md
Due: markdownlint --fix

fix: use formatAsCount() in TotalPagesPlugin for consistent number formatting (#290)
  plugins/TotalPagesPlugin.ts
Due: eslint --fix

test: add regression tests for [{$pagename}] cache key bug (#307)
  docs/project_log.md
  src/parsers/__tests__/MarkupParser.test.js
Due: markdownlint --fix

fix: honor user date/time profile preferences in [{$date}], [{$time}], [{$timestamp}] (#37)
  docs/project_log.md
  src/managers/VariableManager.ts
  src/utils/LocaleUtils.ts
  src/utils/__tests__/LocaleUtils.test.js
Due: eslint --fix, markdownlint --fix

docs: update project log for #307 and #37 fixes (2026-03-07)
  docs/project_log.md
Due: markdownlint --fix

fix: remove fragile conditional skips from E2E tests (#265)
  docs/project_log.md
  tests/e2e/pages.spec.js
  tests/e2e/search.spec.js
Due: markdownlint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
