Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

docs: update project log for #267 incremental search index
  docs/project_log.md
Due: markdownlint --fix

docs: add MetricsManager documentation and update Telemetry guide
  docs/admin/Telemetry.md
  docs/managers/MetricsManager-Complete-Guide.md
  docs/managers/MetricsManager.md
Due: markdownlint --fix

fix: page info dates and copy information button (#269)
  src/routes/WikiRoutes.ts
  views/header.ejs
Due: eslint --fix

docs: update project log for #269 page info bug fixes
  docs/project_log.md
Due: markdownlint --fix

fix: unskip RenderingManager and E2E tests (#265)
  src/managers/__tests__/RenderingManager.test.js
  tests/e2e/pages.spec.js
  tests/e2e/search.spec.js
Due: none

docs: update project log for #265 skipped tests fix
  docs/project_log.md
Due: markdownlint --fix

fix: clean up link graph and cache on page rename (#268)
  src/routes/WikiRoutes.ts
Due: eslint --fix

docs: update project log for #268 #264
  docs/project_log.md
Due: markdownlint --fix

fix: add .unref() to setTimeout calls to prevent Jest worker leak
  src/parsers/handlers/BaseSyntaxHandler.ts
  src/parsers/handlers/LinkParserHandler.ts
  src/parsers/handlers/PluginSyntaxHandler.ts
Due: eslint --fix

docs: update project log for Jest worker leak fix
  docs/project_log.md
Due: markdownlint --fix

chore(deps): update ajv, hono, systeminformation + fix CI build step
  .github/workflows/ci.yml
  package-lock.json
  package.json
Due: none

docs: update project log for dependency updates and CI fix
  docs/project_log.md
Due: markdownlint --fix

fix: add AttachPlugin to resolve [{ATTACH filename}] (#274)
  plugins/AttachPlugin.ts
  src/parsers/MarkupParser.ts
Due: eslint --fix

docs: add AttachPlugin documentation (#274)
  docs/plugins/AttachPlugin.md
  required-pages/7b487295-af7e-4b4a-a2cb-6e3b6877a413.md
Due: markdownlint --fix

docs: update project log for #274 AttachPlugin
  docs/project_log.md
Due: markdownlint --fix

fix: update attachment insert buttons to use named ATTACH syntax (#274)
  views/browse-attachments.ejs
  views/edit.ejs
Due: none

docs: update project log for #274 UI syntax fix
  docs/project_log.md
Due: markdownlint --fix

feat: admin required-pages sync page
  src/routes/WikiRoutes.ts
  views/admin-dashboard.ejs
  views/admin-required-pages.ejs
Due: eslint --fix

docs: update project log for required-pages sync + releases + issue #275
  docs/project_log.md
Due: markdownlint --fix

fix: use getResolvedDataPath for pages dir in required-pages sync
  src/routes/WikiRoutes.ts
Due: eslint --fix

feat: page diff view using diff2html (#275)
  package-lock.json
  package.json
  src/routes/WikiRoutes.ts
  views/admin-diff.ejs
  views/admin-required-pages.ejs
Due: eslint --fix

docs: update project log for #275 diff view
  docs/project_log.md
Due: markdownlint --fix

feat: detect and reconcile UUID-mismatch on required-pages sync (#6)
  src/managers/ValidationManager.ts
  src/routes/WikiRoutes.ts
  views/admin-required-pages.ejs
Due: eslint --fix

docs: update project log for #6 UUID-mismatch reconcile
  docs/project_log.md
Due: markdownlint --fix

test: add checkConflicts unit tests to ValidationManager (#6)
  src/managers/__tests__/ValidationManager.test.js
Due: none

feat: add Adopt UUID operation for required-pages mismatch reconcile
  src/routes/WikiRoutes.ts
  views/admin-required-pages.ejs
Due: eslint --fix

fix: run search index rebuild in background after required-pages sync
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix: load required-pages missing from page-index during fast init (#6 follow-up)
  docs/project_log.md
  src/managers/SearchManager.ts
  src/providers/FileSystemProvider.ts
  src/providers/VersioningFileProvider.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

docs: update project log 2026-02-24-01 with commit hash
  docs/project_log.md
Due: markdownlint --fix

fix: versioning UUID bug + add preserveLastModified option
  docs/project_log.md
  src/providers/FileSystemProvider.ts
  src/providers/VersioningFileProvider.ts
  src/types/Page.ts
Due: eslint --fix, markdownlint --fix

docs: update project log 2026-02-24-02 with commit hash
  docs/project_log.md
Due: markdownlint --fix

docs: add Required Pages Sync documentation page (#277)
  required-pages/f84b6e6b-62ce-4c06-9acf-bd8ff1573bb2.md
Due: markdownlint --fix

docs: update project log 2026-02-24-03
  docs/project_log.md
Due: markdownlint --fix

docs: sync 13 modified required-pages from live wiki to source
  required-pages/0a3d3111-7d22-4dfe-ae6d-b412a37a07cf.md
  required-pages/29AEF3F9-206F-4478-B79D-6C3A08307FE7.md
  required-pages/2F27D2A7-9419-4C50-AD5E-83402EABAA06.md
  required-pages/44343afc-73ab-4dc0-8a7e-05f9fbda23b3.md
  required-pages/46ef520f-e10f-423f-bc07-bddc08720e16.md
  required-pages/5baf3934-91c6-43e3-a095-8051c6b52dea.md
  required-pages/8d2c3b4a-9e1f-4c5d-a6b7-7e8f9a0b1c2d.md
  required-pages/9b55b835-29dc-4944-8739-788330b7f33c.md
  required-pages/AE600E74-7DC5-4CF1-A702-B9D1A06E77C3.md
  required-pages/E2BC4BF9-4DDB-40DD-8CE5-C418EE7FCC08.md
  required-pages/a8eb3c63-fd48-4e54-80d6-8e31b17f0aa5.md
  required-pages/b7980f86-b9a0-42ba-b810-9f414fb6d399.md
  required-pages/c79b51f6-249c-4440-a364-649d15d72326.md
Due: markdownlint --fix

chore: fix file permissions on required-pages (644 not 755)
  required-pages/29AEF3F9-206F-4478-B79D-6C3A08307FE7.md
  required-pages/2F27D2A7-9419-4C50-AD5E-83402EABAA06.md
  required-pages/44343afc-73ab-4dc0-8a7e-05f9fbda23b3.md
  required-pages/8d2c3b4a-9e1f-4c5d-a6b7-7e8f9a0b1c2d.md
  required-pages/9b55b835-29dc-4944-8739-788330b7f33c.md
  required-pages/AE600E74-7DC5-4CF1-A702-B9D1A06E77C3.md
  required-pages/E2BC4BF9-4DDB-40DD-8CE5-C418EE7FCC08.md
  required-pages/b7980f86-b9a0-42ba-b810-9f414fb6d399.md
  required-pages/c79b51f6-249c-4440-a364-649d15d72326.md
Due: markdownlint --fix

docs: update project log 2026-02-24-04
  docs/project_log.md
Due: markdownlint --fix

chore: remove orphaned required-pages with old UUIDs
  required-pages/6a682abf-0363-4437-b4bd-7c1b7fd3e882.md
  required-pages/6cc6af03-16a2-4d65-86f3-a8189b404549.md
  required-pages/782d80a7-55eb-4c01-925d-46d5a5cee61f.md
  required-pages/86ca6fb2-5754-4fa6-9efc-6aaf6e592031.md
Due: markdownlint --fix

chore: bump version to 1.5.13
  config/app-default-config.json
  package.json
Due: none

fix: normalize line endings in required-pages comparison
  required-pages/29AEF3F9-206F-4478-B79D-6C3A08307FE7.md
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

fix: sync DOMLinkHandler page names on create/rename to resolve RED-LINKs (#268)
  src/managers/RenderingManager.ts
  src/parsers/dom/handlers/DOMLinkHandler.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
