Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix"
  ],
  "*.md": [
    "markdownlint --fix"
  ]
}

docs: update project log for session 2026-04-22-10
  docs/project_log.md
Due: markdownlint --fix

feat(#463): generic Forms addon — schema-driven forms with submission storage and handler hooks
  addons/forms/config/default-config.json
  addons/forms/index.ts
  addons/forms/managers/FormsDataManager.ts
  addons/forms/package-lock.json
  addons/forms/package.json
  addons/forms/pages/forms-help.md
  addons/forms/plugins/FormsPlugin.ts
  addons/forms/public/css/forms.css
  addons/forms/public/js/forms-submit.js
  addons/forms/routes/admin.ts
  addons/forms/routes/api.ts
  addons/forms/views/forms-admin.ejs
  addons/forms/views/forms-submission-detail.ejs
  addons/forms/views/forms-submissions.ejs
  config/app-default-config.json
Due: eslint --fix, markdownlint --fix

feat(#463): wire calendar addon to forms — register clubhouse-reservation handler
  addons/calendar/index.ts
  addons/calendar/package.json
  addons/forms/managers/FormsDataManager.ts
  addons/forms/routes/admin.ts
  addons/forms/routes/api.ts
Due: eslint --fix

docs: update project log for session 2026-04-22-11
  docs/project_log.md
Due: markdownlint --fix

docs(#463): add FormPlugin doc page and expand forms-help addon page
  addons/forms/pages/forms-help.md
  required-pages/a4f9c2e1-7b3d-4a85-9e6f-1c2d3b4a5e6f.md
Due: markdownlint --fix

docs: update project log for session 2026-04-22-13
  docs/project_log.md
Due: markdownlint --fix

fix(#463): remove duplicate slug key in forms-help.md frontmatter
  addons/forms/pages/forms-help.md
Due: markdownlint --fix

fix(#463): fix invalid UUID and duplicate slug in forms-help.md frontmatter
  addons/forms/pages/using-forms-addon.md
Due: markdownlint --fix

docs(#463): replace live form example with code blocks in FormPlugin doc
  required-pages/a4f9c2e1-7b3d-4a85-9e6f-1c2d3b4a5e6f.md
Due: markdownlint --fix

fix(#463): use z.record(z.string(), z.unknown()) for zod compat; add forms npm install to build:addons
  addons/forms/managers/FormsDataManager.ts
  package.json
Due: eslint --fix

docs: update project log for session 2026-04-23-01
  docs/project_log.md
Due: markdownlint --fix

feat(#463): enhance confirmation email with details, requester block, and reservation link; add section field type (#571)
  addons/forms/managers/FormsDataManager.ts
  addons/forms/plugins/FormsPlugin.ts
  addons/forms/routes/api.ts
Due: eslint --fix

docs: update project log for session 2026-04-23-02
  docs/project_log.md
Due: markdownlint --fix

feat(#571): add section field type with fieldset/legend rendering to FormsPlugin
  addons/forms/managers/FormsDataManager.ts
  addons/forms/plugins/FormsPlugin.ts
  docs/Forms-to-Calendar.md
Due: eslint --fix, markdownlint --fix

feat(#571): upgrade section field type to fieldset/legend grouping via renderGroups(); add prefill schema field
  addons/forms/managers/FormsDataManager.ts
Due: eslint --fix

Updated content
  docs/TODO.md
Due: markdownlint --fix

feat(#573): proxySubmission UX — optional obo block, server-side name validation
  addons/forms/plugins/FormsPlugin.ts
  addons/forms/routes/api.ts
Due: eslint --fix

docs: update project log for session 2026-04-23-04
  docs/project_log.md
Due: markdownlint --fix

feat(#572): prefill form fields from user context and units data
  addons/forms/plugins/FormsPlugin.ts
Due: eslint --fix

test(forms): add FormsDataManager, FormsPlugin, and API route tests
  addons/forms/__tests__/FormsDataManager.test.ts
  addons/forms/__tests__/FormsPlugin.test.ts
  addons/forms/__tests__/api.test.ts
  addons/forms/managers/FormsDataManager.ts
Due: eslint --fix

docs(#575): add Using FormPlugin and Form Definition Reference; establish Using X convention
  addons/forms/pages/af15d030-3676-4a67-8b21-0d844dacb51a.md
  addons/forms/pages/using-forms-addon.md
  docs/proper-documentation-pages.md
  required-pages/a4f9c2e1-7b3d-4a85-9e6f-1c2d3b4a5e6f.md
  required-pages/bb03859d-eb3f-449e-b78b-7fef30082098.md
Due: markdownlint --fix

docs(#575): sharpen Using X convention — end-user only; revert FormPlugin title
  addons/forms/pages/af15d030-3676-4a67-8b21-0d844dacb51a.md
  docs/proper-documentation-pages.md
Due: markdownlint --fix

docs: restore Using FormPlugin title (page editors are end users)
  addons/forms/pages/af15d030-3676-4a67-8b21-0d844dacb51a.md
Due: markdownlint --fix

docs: add forms addon to Existing Addons at a Glance table
  docs/platform/addon-architecture.md
Due: markdownlint --fix

docs: update project log for session 2026-04-23-05
  docs/project_log.md
Due: markdownlint --fix

feat(#574): forms admin UI builder — create, edit, delete form definitions
  addons/forms/__tests__/builder.test.ts
  addons/forms/index.js
  addons/forms/index.ts
  addons/forms/managers/FormsDataManager.js
  addons/forms/managers/FormsDataManager.ts
  addons/forms/routes/admin.js
  addons/forms/routes/admin.ts
  addons/forms/routes/builder.js
  addons/forms/routes/builder.ts
  addons/forms/views/forms-admin.ejs
  addons/forms/views/forms-builder.ejs
Due: eslint --fix

feat(#576): admin dashboard addon cards via registerDashboardCard() API
  addons/calendar/index.ts
  addons/forms/index.js
  addons/forms/index.ts
  addons/forms/managers/FormsDataManager.js
  addons/forms/routes/admin.js
  addons/forms/routes/builder.js
  src/managers/AddonsManager.ts
  src/routes/WikiRoutes.ts
  views/admin-dashboard.ejs
Due: eslint --fix

docs: update project log for session 2026-04-23-06
  docs/project_log.md
Due: markdownlint --fix

docs(platform): document registerDashboardCard() API; add forms as reference impl
  docs/platform/addon-architecture.md
  docs/platform/addon-development-guide.md
Due: markdownlint --fix

fix: render author/description dash correctly in admin-addons; set author on all addons
  addons/calendar/index.ts
  addons/elasticsearch/index.ts
  addons/forms/index.js
  addons/forms/index.ts
  addons/journal/index.ts
  views/admin-addons.ejs
Due: eslint --fix

chore: set author to Jim Willeke on all addons
  addons/calendar/index.ts
  addons/elasticsearch/index.ts
  addons/forms/index.js
  addons/forms/index.ts
  addons/journal/index.ts
Due: eslint --fix

docs: update project log for session 2026-04-23-07
  docs/project_log.md
Due: markdownlint --fix

chore: bump version to 3.3.6 (patch)
  .claude/commands/semver.md
  CHANGELOG.md
  addons/forms/index.js
  config/app-default-config.json
  package.json
Due: markdownlint --fix

docs: update project log for session 2026-04-23-08
  docs/project_log.md
Due: markdownlint --fix

chore: suppress moduleResolution node10 deprecation warning (TS 5.0)
  tsconfig.json
Due: none

feat(#576): add registerDashboardCard to elasticsearch and journal addons
  addons/elasticsearch/index.ts
  addons/journal/index.ts
Due: eslint --fix

docs(#580): update addon docs to use /addons/ URL scheme
  docs/Forms-to-Calendar.md
  docs/platform/addon-architecture.md
  docs/platform/addon-development-guide.md
Due: markdownlint --fix

docs: update project log for session 2026-04-23-09
  docs/project_log.md
Due: markdownlint --fix

feat(#580): move addon management pages from /admin/ to /addons/
  addons/calendar/index.ts
  addons/calendar/routes/admin.ts
  addons/forms/index.js
  addons/forms/index.ts
  addons/forms/routes/builder.js
  addons/forms/routes/builder.ts
  addons/forms/views/forms-admin.ejs
  addons/forms/views/forms-builder.ejs
  addons/forms/views/forms-submission-detail.ejs
  addons/forms/views/forms-submissions.ejs
  addons/journal/index.ts
  addons/journal/routes/admin.ts
  views/admin-journal.ejs
Due: eslint --fix
