Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix"
  ],
  "*.md": [
    "markdownlint --fix"
  ]
}

fix: page-level audience overrides global policy; harden OIDC access
  config/app-default-config.json
  docs/managers/ACLManager-Complete-Guide.md
  docs/project_log.md
  src/managers/ACLManager.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

chore: update project log for session 2026-04-06-03
  docs/project_log.md
Due: markdownlint --fix

feat: import 16 Wix pages; version 3.1.3 → 3.1.4
  config/app-default-config.json
  docs/project_log.md
Due: markdownlint --fix

chore: update project log for session 2026-04-06-04
  docs/project_log.md
Due: markdownlint --fix

docs: document ImportManager converter system and supported formats
  docs/managers/ImportManager-Complete-Guide.md
  required-pages/d4f41d81-4a32-4ef5-8ef8-7420912bc195.md
Due: markdownlint --fix

feat: add MarkdownConverter so /admin/import accepts .md files
  src/converters/JSPWikiConverter.ts
  src/converters/MarkdownConverter.ts
  src/converters/__tests__/MarkdownConverter.test.js
  src/converters/index.ts
  src/managers/ImportManager.ts
Due: eslint --fix

chore: bump version to 3.1.4 and update CHANGELOG
  CHANGELOG.md
  package.json
Due: markdownlint --fix

feat: audience dropdown, page title validation, configurable OIDC deny-redirect
  config/app-default-config.json
  src/routes/WikiRoutes.ts
  views/edit.ejs
Due: eslint --fix

chore: update project log for session 2026-04-06-05
  docs/project_log.md
Due: markdownlint --fix

fix: Tokenizer now reads emoji and other astral Unicode as single characters
  src/parsers/dom/Tokenizer.ts
  src/parsers/dom/__tests__/Tokenizer.test.js
Due: eslint --fix

feat: author-lock — page owner and admin only edit flag
  src/managers/UserManager.ts
  src/routes/WikiRoutes.ts
  views/edit.ejs
Due: eslint --fix

feat: profile pages titled 'Profile: Name' with slug profile-name
  src/managers/UserManager.ts
Due: eslint --fix

docs: add Profile Page required-page
  required-pages/02ed956a-b212-4486-bd34-9785a7efe978.md
Due: markdownlint --fix

test: add tests for author-lock, title validation, and createUserPage profile title
  src/managers/__tests__/UserManager.createUserPage.test.js
  src/routes/__tests__/WikiRoutes.authorLock.test.js
  src/routes/__tests__/WikiRoutes.titleValidation.test.js
Due: none

feat: config-driven password auth enable/disable (ngdpbase.auth.password.enabled)
  src/managers/AuthManager.ts
  src/routes/WikiRoutes.ts
  views/login.ejs
Due: eslint --fix

chore: update project log for sessions 2026-04-06-06 and 2026-04-06-07
  docs/project_log.md
Due: markdownlint --fix

feat: config-driven password auth and admin isExternal toggle
  config/app-default-config.json
  src/managers/UserManager.ts
  src/routes/WikiRoutes.ts
  views/admin-users.ejs
Due: eslint --fix

feat: context-sensitive help icons on edit page fields (#479)
  AGENTS.md
  docs/project_log.md
  required-pages/51666223-22ef-4143-a34c-5902a3cf1ce0.md
  required-pages/5edaba7f-e71c-4e7c-afc6-36d27ba6a9a0.md
  required-pages/6f027ce7-dc75-48f3-9038-80990168d082.md
  required-pages/b03c0bad-0b72-49c7-8810-cd6e14149938.md
  required-pages/ba8aab65-995d-421c-a997-34def8aaf3db.md
  required-pages/c025ebd3-9994-40e3-9beb-a966e55bc6a4.md
  required-pages/c45b67f2-1b4b-4ee9-9672-d06738e490cf.md
  required-pages/eb4c4c0a-c757-4a56-bbcc-a07e598504ff.md
  views/_help-icon.ejs
  views/edit.ejs
Due: markdownlint --fix

chore: sync package-lock.json version to 3.1.4
  package-lock.json
Due: none

fix: replace user edit modal with full-page form; preserve extended fields (#478)
  config/app-default-config.json
  docs/project_log.md
  src/managers/UserManager.ts
  src/routes/WikiRoutes.ts
  views/admin-user-edit.ejs
  views/admin-users.ejs
Due: eslint --fix, markdownlint --fix

feat: implement canonical permissions registry (#480)
  config/app-default-config.json
  src/__tests__/UserManager.test.js
  src/managers/ACLManager.ts
  src/managers/UserManager.ts
  src/routes/WikiRoutes.ts
  src/routes/__tests__/routes.test.js
Due: eslint --fix

chore: update project log for session 2026-04-07-03
  docs/project_log.md
Due: markdownlint --fix

fix: pass passwordAuthEnabled to adminLoginPage template
  src/routes/WikiRoutes.ts
Due: eslint --fix

test: add fetch() lifecycle coverage to PluginManager tests (#465)
  src/managers/__tests__/PluginManager.registerPlugin.test.js
Due: none

fix: resolve 7 MarkupParser skipped-test bugs (#468 #470 #472 #474 #475 #476 #477)
  src/parsers/MarkupParser.ts
  src/parsers/__tests__/MarkupParser-Config.test.js
  src/parsers/__tests__/MarkupParser-ModularConfig.test.js
  src/parsers/__tests__/MarkupParser-Performance.test.js
  src/parsers/__tests__/MarkupParser.test.js
  src/parsers/handlers/BaseSyntaxHandler.ts
Due: eslint --fix

test: drop 3 dead test.skip tests (WikiStyleHandler deprecated, nested JSPWiki deferred)
  src/parsers/__tests__/MarkupParser-Comprehensive.test.js
  src/parsers/__tests__/MarkupParser-ModularConfig.test.js
Due: none

feat: add Pages as asset source in Browse Assets picker (#433)
  src/routes/WikiRoutes.ts
  views/_asset-picker.ejs
Due: eslint --fix

feat: show type-specific icons for non-image assets in Browse Assets (#433)
  views/_asset-picker.ejs
Due: none

docs: update project log for sessions 2026-04-07-04 through 2026-04-07-06
  docs/project_log.md
Due: markdownlint --fix

docs: fix markdownlint MD037 warning in project log
  docs/project_log.md
Due: markdownlint --fix

refactor: migrate app.js to src/app.ts (#483)
  ecosystem.config.js
  package-lock.json
  package.json
  server.sh
  src/app.ts
Due: eslint --fix

chore: remove app.js — replaced by src/app.ts (#483)
  app.js
Due: none

chore: bump version to 3.2.0; update project log
  config/app-default-config.json
  docs/project_log.md
  package.json
Due: markdownlint --fix

feat: random page slideshow at /slideshow (#482)
  plugins/PageSlideshowPlugin.ts
  src/routes/WikiRoutes.ts
  views/slideshow.ejs
Due: eslint --fix

feat: add fullscreen button to slideshow (#482)
  views/slideshow.ejs
Due: none

feat: kiosk-style random-page slideshow at /slideshow (#482)
  src/routes/WikiRoutes.ts
  views/slideshow.ejs
Due: eslint --fix

docs: add project log for session 2026-04-07-09 (kiosk slideshow #482)
  docs/project_log.md
Due: markdownlint --fix

feat: longer excerpts and Space-to-open-page in slideshow (#482)
  src/routes/WikiRoutes.ts
  views/slideshow.ejs
Due: eslint --fix

feat: fill-page layout and 1500-char excerpts in slideshow (#482)
  src/routes/WikiRoutes.ts
  views/slideshow.ejs
Due: eslint --fix

feat: reader-mode slideshow — full rendered HTML per slide (#482)
  src/routes/WikiRoutes.ts
  views/slideshow.ejs
Due: eslint --fix
