Repository jwilleke/amdWiki: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, markdownlint --fix

docs: document startup process and config loading (#253)
  docs/INSTALLATION/Startup-Process.md
  docs/project_log.md
Due: markdownlint --fix

fix: update SSD storage paths from hd1 to hd2 for jminim4.nerdsbythehour.com (#253)
  config/app-production-config.json
  docs/project_log.md
Due: markdownlint --fix

fix: reinstall sharp for darwin-arm64 and update project log (#253)
  docs/project_log.md
  package-lock.json
Due: markdownlint --fix

added .DS_Store
  .gitignore
Due: none

feat: show maintenance page during server initialization (#254)
  app.js
  docs/project_log.md
  views/maintenance.ejs
Due: markdownlint --fix

perf: fast startup from page index, skip NAS directory scan (#254)
  src/providers/VersioningFileProvider.ts
Due: eslint --fix

feat: add admin maintenance mode, fix page-index race condition, fix E2E tests (#254)
  app.js
  ecosystem.config.js
  playwright.config.js
  src/providers/VersioningFileProvider.ts
  tests/e2e/auth.setup.js
  tests/e2e/fixtures/helpers.js
  tests/e2e/location-plugin.spec.js
Due: eslint --fix

docs: update project log for 2026-02-15-05
  docs/project_log.md
Due: markdownlint --fix

docs: update startup process for maintenance mode, add PM2_MAX_MEMORY env var
  .env.example
  docker/.env.example
  docs/INSTALLATION/Startup-Process.md
Due: markdownlint --fix

docs: remove unused attachments/ from data folder references
  .env.example
  docs/INSTALLATION/Startup-Process.md
Due: markdownlint --fix

docs: update project log for 2026-02-15-06
  docs/project_log.md
Due: markdownlint --fix

test: add TDD coverage for maintenance mode and write queue (#254)
  playwright.config.js
  src/providers/__tests__/VersioningFileProvider-WriteQueue.test.js
  tests/e2e/admin-maintenance.spec.js
  tests/e2e/startup-maintenance.spec.js
Due: none

docs: update project log for 2026-02-15-07
  docs/project_log.md
Due: markdownlint --fix

fix: show all referring pages by default (#238)
  plugins/referringPagesPlugin.ts
Due: eslint --fix

docs: update project log for 2026-02-15-08
  docs/project_log.md
Due: markdownlint --fix

Updates to leftMenu
  required-pages/f6d47002-1631-4ef6-802b-fc3f7d04d50a.md
Due: markdownlint --fix

feat: add OpenTelemetry metrics with Prometheus export (#256)
  app.js
  config/app-default-config.json
  package-lock.json
  package.json
  src/WikiEngine.ts
  src/managers/MetricsManager.ts
  src/managers/__tests__/MetricsManager.test.js
  src/providers/LunrSearchProvider.ts
  src/providers/VersioningFileProvider.ts
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix: remove duplicate LeftMenu from Fairways repo (#257)
  required-pages/907abcd4-1449-47aa-a1f5-7dcc4c0dde00.md
Due: markdownlint --fix

docs: update project log for 2026-02-16-01 and 2026-02-16-02
  data/config/app-production-config.json
  docs/project_log.md
Due: markdownlint --fix

docs: add telemetry admin documentation (#256)
  docs/admin/Telemetry.md
  docs/project_log.md
Due: markdownlint --fix

feat: derive metric prefix from applicationName (#256)
  docs/admin/Telemetry.md
  docs/project_log.md
  src/managers/MetricsManager.ts
  src/managers/__tests__/MetricsManager.test.js
Due: eslint --fix, markdownlint --fix

feat: add OTLP HTTP metric export and service.name resource (#256)
  config/app-default-config.json
  docs/admin/Telemetry.md
  package-lock.json
  package.json
  src/managers/MetricsManager.ts
  src/managers/__tests__/MetricsManager.test.js
Due: eslint --fix, markdownlint --fix

updated
  docs/project_log.md
Due: markdownlint --fix

fix: OTLP export interval must be >= timeout, default to 30s (#256)
  config/app-default-config.json
  docs/admin/Telemetry.md
  docs/project_log.md
Due: markdownlint --fix

chore: remove orphaned NODE_ENV config files from data/config/ (#260)
  .gitignore
  data/config/app-development-config.json
  data/config/app-production-config.json
  data/config/app-test-config.json
Due: none

fix: use correct config key for pages directory in ImportManager
  src/managers/ImportManager.ts
Due: eslint --fix

feat: config system cleanup — .env sourcing, accurate messaging, dev debug logging (#260)
  config/app-production-config.json
  docs/INSTALLATION/Startup-Process.md
  server.sh
  src/managers/ConfigurationManager.ts
  src/managers/__tests__/ConfigurationManager.test.js
Due: eslint --fix, markdownlint --fix

chore: bump to v1.5.12, fix version.ts project root resolution (#260)
  config/app-default-config.json
  package.json
  server.sh
  src/utils/version.ts
Due: eslint --fix

docs: update project log for #260 config system cleanup
  docs/project_log.md
Due: markdownlint --fix

fix: prevent ./data recreation when INSTANCE_DATA_FOLDER points elsewhere (#261)
  ecosystem.config.js
  src/WikiEngine.ts
  src/managers/NotificationManager.ts
  src/utils/logger.ts
Due: eslint --fix

docs: update project log for #261 ./data recreation fix
  docs/project_log.md
Due: markdownlint --fix

Modifications to pages
  required-pages/0ba6544e-ec5e-4e25-9c58-5d32a4e3d695.md
  required-pages/4c0c0fa8-66dc-4cb3-9726-b007f874700c.md
Due: markdownlint --fix

verion patch 1.5.11-->1.5.12
  package-lock.json
Due: none

fix: prevent page move from NAS pages/ to required-pages/ on save (#264)
  src/providers/FileSystemProvider.ts
  src/routes/WikiRoutes.ts
  src/types/Page.ts
  views/admin-dashboard.ejs
Due: eslint --fix

docs: update project log for #264 page move fix
  docs/project_log.md
Due: markdownlint --fix

feat: add CamelCase page name resolution (#262)
  src/managers/RenderingManager.ts
  src/parsers/LinkParser.ts
  src/parsers/dom/handlers/DOMLinkHandler.ts
  src/parsers/handlers/LinkParserHandler.ts
  src/providers/FileSystemProvider.ts
  src/utils/PageNameMatcher.ts
  src/utils/__tests__/PageNameMatcher.test.js
Due: eslint --fix

docs: update project log for #262 CamelCase resolution
  docs/project_log.md
Due: markdownlint --fix

fix: prevent duplicate page titles and UUIDs (#257)
  src/providers/FileSystemProvider.ts
  src/providers/__tests__/FileSystemProvider.test.js
  src/routes/WikiRoutes.ts
Due: eslint --fix

fix: use getResolvedDataPath for all data directory config lookups
  .gitignore
  docs/project_log.md
  src/managers/ACLManager.ts
  src/managers/SchemaManager.ts
  src/managers/__tests__/SchemaManager.test.js
  src/routes/WikiRoutes.ts
Due: eslint --fix, markdownlint --fix

perf: incremental search index + document persistence (#267)
  src/providers/LunrSearchProvider.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.ts
  markdownlint --fix: any of: *.md
